.remove-fixed {
  background-color: var(--color-base-secondary-accent-1);

  @include responsive(MD){
    background-color: unset;
  }

  + #MainContent {
    .main-product-container {
      border-bottom-left-radius: 3.5rem;
      border-bottom-right-radius: 3.5rem;

      @include responsive(MD) {
        border-radius: 3.5rem;
      }
    }
  }
}

.header-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color .3s linear;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0.8rem;
  z-index: 9999;
  margin-left: 5px;

  &.header-wrapper--fixed {
    transition: all .3s linear;
    position: fixed;
    background-color: var(--color-base-secondary-accent-3);
    box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25);
    .icon-toggle-menu {
      background: none;
    }
  }

  &.header-fixed {
    position: fixed !important;
    top: 0 !important;
  }

  @include responsive(LG) {
    padding: 0.6rem 2.5rem;
    margin: 0.8rem 3.5rem 0;
    width: calc(100% - 70px);
    margin-left: 35px;
    height: 70px;
    display: flex;
    align-items: center;
  }

  form {
    cursor: default;
    position: relative;
    z-index: 6;

    input {
      box-sizing: border-box;
    }


    input:placeholder-shown + button {
      opacity: 0;
      pointer-events: none;
    }
  }

  form button[type='reset'] {
    position: absolute;
    border: none;
    display: block;
    line-height: 16px;
    font-size: 23px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    color: var(--color-base-text-body) !important;
    text-decoration: none !important;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;

    @include responsive(LG) {
      bottom: unset;
      top: 17px;
      z-index: 10;
    }
  }

  .header-content {
    position: relative;
    height: 100%;
  }

  .icon-toggle-menu {
    cursor: pointer;
    display: inline-block;
    padding: 6px 7px;
    background-color: #f6d5af;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    svg {
      margin-top: 5px;
    }

    @include responsive(LG) {
      display: none;
    }
  }

  .icon-search {
    display: none;

    @include responsive(LG) {
      display: flex;
    }
  }
}

.menu-item--active {
  @include responsive(LG) {
    color: var(--color-base-primary-accent-1) !important;
    
    circle {
      stroke: var(--color-base-primary-accent-1) !important;
    }

    path {
      fill: var(--color-base-primary-accent-1) !important;
    }

    & + .menu--nested__icon path{
      stroke: var(--color-base-primary-accent-1);
    }
  }
}

.header-wrapper--another {
  background-color: var(--color-base-secondary-accent-3) !important;
  box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25) !important;
  border-radius: 20px;
  .icon-toggle-menu {
    background: none;
  }

  // transition: all 1s linear;
}

.menu--nested__icon {
  display: flex;
  align-items: center;

  margin-left: 5px;

  svg {
    width: 15px;
    height: 15px;
  }
}


.header-wrapper .xo-header__link {
  font-size: 1.3rem;
  line-height: 146%;
  // letter-spacing: 0.08em;

  position: relative;

  transition: all .3s ease-in-out;

  @include responsive(LG) {
    div {
      transition: all .3s ease-in-out;
    }

    div:hover {
      color: var(--color-base-primary-accent-1);
    }
  }
}

span.xo-header__link {
  color: var(--color-base-secondary-accent-3);

  @include responsive(LG) {
    color: var(--color-base-primary-accent-2);
  }
}

.header {
  max-width: 100% !important;
  height: 100%;

  .xo-col-2 {
    padding: 0;

    @include responsive(LG) {
      padding: 0 15px;
    }
  }

  a {
    text-decoration: none;

    @include responsive(LG) {
      font-family: var(--font-heading-family);
    }

    div {
      font-family: var(--font-body-family);
      font-weight: bold;
    }
  }

  .xo-row {
    align-items: center;
  }
}

.toggle__menu {
  @include responsive(LG) {
    display: none;
  }
}

.icon-close--search {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92vh;
  overflow: auto;

  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .4s cubic-bezier(0.5, 0, 0.5, 1);

  background: var(--color-base-primary-accent-1);
  z-index: 10;

  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include responsive(MD) {
    max-width: 50vw;
  }

  @include responsive(LG) {
    position: initial;
    height: unset;
    opacity: unset;
    visibility: unset;
    transform: unset;
    overflow: visible;
    max-width: 33.333333%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: unset;
    background:  transparent;
  }
}

.xo-header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  @include responsive(LG) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .icon-close {
    display: none;
  }

  a {
    color: var(--color-base-secondary-accent-3);

    @include responsive(LG) {
      color: var(--color-base-primary-accent-2);
    }
  }

  .xo-header__main-menu {
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    transform: translateX(0);
  }

  .menu__list-icon {
    cursor: pointer;

    svg {
      transition: all .3s linear;
    }
  }

  .xo-header__menu-item.is-expand {
    .menu__list-child {
      max-height: var(--max-height-menu);
      width: 100%;
    }
  }

  .xo-header__link {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight:  400;
    font-family: var(--font-heading-family);
    cursor: pointer;

    @include responsive(LG) {
      font-size: 1.3rem;
      line-height: 146%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-weight: 800;
      font-family: var(--font-body-family);
    }
  }

  .xo-header__link-item {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;

    @include responsive(LG) {
      font-size: 1.9rem;
    }
  }

  .header__form {
    margin: auto auto 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include responsive(LG) {
      display: none;
    }
  }

  .header__form-customer {
    cursor: pointer;

    .header__customer-name {
      color: var(--color-base-secondary-accent-3);
      font-weight: 500;
    }

    .header__customer-icon {
      text-align: center;
      padding: 2px 7px;
      border-radius: 50%;
      background-color: var(--color-base-secondary-accent-3);
      width: 14px;
      height: 14px;
      margin-left: 5px;
    }

    svg {
      width: 10px;
      height: 10px;
      transform: rotate(90deg);
    }

    path {
      stroke: var(--color-base-primary-accent-1);
    }
  }

  .header__form-item {
    background: #ffd933;
    color: color(base-primary-accent-2);
    font-family: var(--font-body-family);
    text-transform: unset;
    font-size: 19px;
    font-weight: 500;
  }

  .form__item {
    display: flex;
    justify-content: center;
    align-items: center;

    span, a {
      font-size: 1.7rem;
      text-transform: capitalize;
    }
  }

  .xo-header__menu-item.xo-header__cart {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(LG) {
      display: none;
    }

    .header-cart__item-count {
      margin-left: 12px;
    }
  }
}

.xo-header__menu .xo-account__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  padding-bottom: 35px;
  transition: all .3s ease-in-out;

  opacity: 0;
  visibility: hidden;
  z-index: 2;


  .xo-header__menu-item {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .xo-account__title {
    color: var(--color-base-secondary-accent-3);
    margin-bottom: 20px;
  }

  .xo-account__profile, .xo-account__order, .xo-account__bag {
    font-size: 2.1rem;
    font-weight: 500;
  }

  .xo-account__order {
    margin: 10px 0;
  }

  .xo-account__logout {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: var(--color-base-secondary-accent-3);
      font-weight: 500;
      color: rgba(255, 255, 255, 0.8);
    }

    svg {
      opacity: 0.8;
      width: 20px;
      height: 20px;
    }
  }

  .xo-account__back {
    margin: auto auto 0;
    cursor: pointer;

    span {
      color: var(--color-base-secondary-accent-3);
      font-weight: 500;
    }

    line {
      stroke: var(--color-base-secondary-accent-3);
    }

    svg {
     transform: rotate(180deg);
     width: 14px;
     height: 14px;
    }

    path {
      stroke: var(--color-base-secondary-accent-3);
    }
  }

  .xo-account__back-title {
    margin-left: 7px;
  }

  .xo-account__menu-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 5.6rem;
    position: relative;
    z-index: 2;
    align-items: center;
    height: 66px;
  }

  .icon-close-account {
    display: flex;
    z-index: 11;
    cursor: pointer;
    
    @include responsive(LG) {
     display: none;
   }
  }
}

.search_input {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  color: var(--color-base-primary-accent-3);
  font-family: var(--font-body-family);
}

::placeholder {
  color: var(--color-base-primary-accent-3);
  font-family: var(--font-body-family);
}

.xo-header__menu-heading {
  margin: 1rem 0 5.6rem;
  transition: all .3s ease-in-out;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  display: flex;
  height: 66px;

  .icon-close-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    padding: 10px 0;
    border-radius: 50%;
    z-index: 11;
    cursor: pointer;
    
    @include responsive(LG) {
     display: none;
   }
  }

  @include responsive(LG) {
    display: none;
  }

  .header__logo {
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 100%;

    @include responsive(LG) {
      display: none;
    }

    .header__logo-link {
      color: var(--color-base-secondary-accent-3);
      width: fit-content;
      margin: 0 auto;
      height: 100%;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
}

.header-cart__title.xo-header__link {
  @include responsive(LG) {
    font-family: var(--font-body-family);
    font-weight: 800;
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--color-base-primary-accent-1);
    }
  }
}

.xo-header__link .title {
  @include responsive(LG) {
    font-weight: 800;
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--color-base-primary-accent-1);
    }
  }
}

.logo {
  width: auto;
  height: 100%;
}

.xo-header__menu.is-vertical {
  .xo-header__menu-heading {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transform: translateX(-100%);
  }

  .xo-header__main-menu {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transform: translateX(-100%);

    @include responsive(LG) {
      opacity: unset;
      visibility: unset;
      z-index: unset;
      transform: unset;
    }
  }

  .xo-account__menu {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transform: translateX(0);
  }
}

.xo-header__menu-search .search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-base-secondary-accent-3);
  height: 52px;
  width: 100%;

  padding: 15px;
  box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25);
  border-radius: 26px;
  position: relative;
  margin-bottom: 22px;

  @include responsive(LG) {
    display: none;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .xo-result__list {
    position: absolute;
    top: 125%;
    left: 34px;
    text-align: left;
    margin: 20px 0;
  }

  .xo-result__item {
    margin-bottom: 10px;
  }

  .xo-result__title {
    color: var(--color-base-secondary-accent-3);
  }

  a {
    text-transform: lowercase;
    font-weight: 500;
  }

  button {
    padding: 0;
    text-decoration: underline;
    color: var(--color-base-secondary-accent-3);
  }

  path {
    fill: var(--color-base-primary-accent-1);
  }
}


.header__search {
  display: flex;
  align-items: center;
  position: absolute;
  transition: all .3s ease-in-out;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 8;

  svg {
    width: 26px;
    height: 26px;
  }

  path {
    fill: var(--color-base-primary-accent-1);
  }

  @include responsive(LG) {
    display: none;
  }
}

.xo-header__cart.xo-header__cart-list {
  a {
    @include responsive(LG) {
      font-family: var(--font-body-family) !important;
    }
  }

  .header-cart__item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading-family);
    color: var(--color-base-primary-accent-1);
    background: #ffd933;
    width: 31px;
    height: 31px;
    border-radius: 50%;

    span {
      color: var(--color-base-primary-accent-2);
      font-size: 1.7rem;
      font-family: var(--font-heading-family);
    }
  }
}

.xo-header__menu-item {
  position: relative;
  margin-bottom: 10px;

  @include responsive(LG) {
    margin-bottom: unset;
    margin-right: 3.5rem;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 20px;
    }
  }
}

.xo-header__menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include responsive(LG) {
    flex-direction: row;
    align-items: center;
    width: unset;
    height: 100%;
  }
}

.menu--nested__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  path {
    stroke: var(--color-base-secondary-accent-3);
    transition: all .3s ease-in-out;

    @include responsive(LG) {
      stroke: var(--color-base-primary-accent-2);
    }
  }

  @include responsive(LG) {
    &:hover .xo-header__link {
      color: var(--color-base-primary-accent-1);
    }

    &:hover .menu--nested__icon path {
       stroke: var(--color-base-primary-accent-1);
     }
  }
}

.header-menu.is-active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  text-align: center;
}

.header-menu.header-menu__search {
  height: 80vh;

  @include responsive(LG) {
    display: none;
  }

  .xo-result__count {
    margin: 77px 0 40px;
  }
}

.menu__list-child {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all .25s ease-in-out;
  text-align: center;

  @include responsive(LG) {
    text-align: left;
    position: absolute;
    background-color: var(--color-base-primary-accent-1);
    transform: translateY(-20px);
    min-width: 250px;
    opacity: 0;
    top: 194%;
    left: -37px;
    max-height: unset;
    padding: 14px 12px;
    visibility: hidden;
    border-radius: 20px;
    z-index: 1;
  }

  .xo-header__link-item {
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase !important;
    line-height: 146%;
    letter-spacing: 0.08em;

    @include responsive(LG) {
      text-transform: capitalize !important;
    }
  }
}

.menu__child-link {
  @include responsive(LG) {
    padding: 0 15px;
    background-color: transparent;
    transition: all .4s ease-in-out;
    border-radius: 20px;

    a {
      transition: all .4s ease-in-out;
      color: var(--color-base-background);
    }

    &:hover {
      background-color: var(--color-base-secondary-accent-1);
    }

    &:hover a {
      color: var(--color-base-primary-accent-2);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.xo-header__menu-item.menu--nested:hover {
  .menu__list-child {
    @include responsive(LG) {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .header__logo-link {
    color: var(--color-base-primary-accent-1);
    font-family: var(--font-heading-family) !important;
    font-weight: bold;
    font-style: var(--font-heading-style);
    letter-spacing: 0.06rem;
    line-height: 1.3;
    font-size: 3.4rem;
    text-transform: capitalize !important;
    height: 100%;

    display: flex;
    align-items: center;

    max-width: 100%;

    @include responsive(LG) {
      max-width: fit-content;
    }
  }
}

.xo-menu__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 6;

  .menu__right-item {
    margin-left: 4rem;
    cursor: pointer;
    text-transform: uppercase;
  }
  .menu__right-item .title {
    font-family: var(--font-body-family);
    font-size: 1.3rem;
  }

  .xo-header__account {
    display: none;

    @include responsive(LG) {
      display: block;
    }
  }

  .header-cart__title {
    margin-right: 1.5rem;
    display: none;

    @include responsive(LG) {
      display: block;
    }
  }

  .header-cart__item-count {
    display: flex;
    justify-content: center;
    width: 34px;
    height: 34px;
    background: var(--color-base-primary-accent-1);
    border-radius: 50%;

    @include responsive(LG) {
      width: 36px;
      height: 35px;
    }
  }

  .header-cart__item-count .span{
    color: var(--color-base-secondary-accent-3);
    font-size: 1.7rem;
    font-family: var(--font-heading-family);

    @include responsive(LG) {
      font-size: 2rem;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: none;
}

.xo-menu__right .xo-header__cart, .xo-menu__right .xo-header__account {
  @include responsive(LG) {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      width: 2px;
      height: 2.4rem;
      background: var(--color-base-primary-accent-2);
      opacity: .5;
    }
  }

  span {
    color: var(--color-base-secondary-accent-3);
    font-family: var(--font-heading-family);
    font-size: 2.2rem;
  }
}

.menu__right-item.icon-search {
  .btn__reset {
    display: none;
  }

  @include responsive(LG) {
    position: absolute;
    right: 240px;
    top: -7px;
    z-index: 20;
  }

  .xo-search__result {
    cursor: default;

    @include responsive(LG) {
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      width: 0;
      padding: 0 41px;
      margin-top: 55px;
      background-color: var(--color-base-primary-accent-1);
      border-radius: 20px;
    }
  }

  .xo-form__search {
    cursor: default;
  }

  .menu__search-icon {
    position: absolute;
    top: 3px;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all .4s ease-in-out;
    z-index: 3;
    padding: 10px;
    border-radius: 26px;
    transition: all .4s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--color-base-secondary-accent-1);
    }

    path {
      fill: var(--color-base-primary-accent-1);
    }
  }

  .menu__search-input {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 0;
    border: none;
    outline: none;
    border-radius: 26px;
    transition: all .4s ease-in-out;
    font-size: 1.5rem;
    z-index: 2;
    background-color: transparent;
    color: var(--color-base-primary-accent-3);
    display: inline-block;
  }

  ::placeholder {
    color: var(--color-base-primary-accent-3);
  }
}

.menu__right-item.icon-search.is-active {
  & + .overlay {
    display: block;
  }

  .btn__reset {
    display: block;
  }

  .xo-search__result {
    @include responsive(LG) {
      opacity: 1;
      visibility: visible;
      width: 340px;
    }
  }

  .xo-result__title {
    font-size: 17px;
    text-transform: lowercase;
    transition: all .3s ease-in-out;
    font-weight: 500;
    
    @include responsive(LG) {
      color: var(--color-base-secondary-accent-3);
    }

    &:hover {
      // color: var(--color-base-primary-accent-2);
    }
  }

  .xo-result__item {
    a {
      font-family: var(--font-body-family);
      font-weight: 500;
    }
  }

  .xo-result__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .xo-result__item:first-child {
    padding-top: 22px;
  }

  .menu__search-icon {
    transform: translateX(-296px);
  }

  .menu__search-input {
    width: 340px;
    background-color: var(--color-base-secondary-accent-3);
    padding: 10px 12px 10px 50px;
  }

  .xo-result__count {
    text-transform: lowercase;
    padding: 22px 0;
  }

  .result__count {
    display: inline-block;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 146%;
    text-decoration-line: underline;
    color: var(--color-base-secondary-accent-3);
    padding: 0;
  }

  .xo-result__count {
    text-transform: lowercase;
    padding: 22px 0;
  }

  .result__count {
    display: inline-block;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 146%;
    text-decoration-line: underline;
    color: var(--color-base-secondary-accent-3);
    padding: 0;
  }
}


.header-search--active {
  .header-wrapper {
    position: fixed !important;
    top: 0 !important;
    background: var(--color-base-secondary-accent-3);
    box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25);

    .icon-toggle-menu {
      background-color: transparent;
    }

    .menu__right-item.icon-search.is-active .menu__search-input {
      background: var(--color-base-secondary-accent-1);
    }
  }
}

// logo align 
.align-left {
  & > .header-menu--main {
    @include responsive(LG) {
      order: 0;
    }
  }

  & > .header__logo {
    @include responsive(LG) {
      order: -1;
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.align-center {
  & > .header-menu--main {
    @include responsive(LG) {
      order: -1;
    }
  }

  & > .header__logo {
    @include responsive(LG) {
      order: 0;
    }
  }
}

.align-item--start {
  align-items: flex-start !important;
  display: flex;
  flex-direction: column;

  @include responsive(LG) {
    display: flex;
    flex-direction: row;
  }
}

.justify-content--start {
  justify-content: start !important;
}

.header-cart__item-count--3 {
  align-items: center;
  width: 42px !important;
  height: 42px !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    background-color: var(--color-base-primary-accent-1);
    border-radius: 100%;
    border: 1.5px solid #fff;
  }

  @include responsive(LG) {
    width: 48px !important;
    height: 48px !important;
  }
  
  circle {
    stroke: #fff;
  }
}

.menu__right-item--3.menu__right-item.icon-search {
  right: 200px;

  @include responsive(LG) {
    top: 0;
  }
}

.icon-toggle-menu line {
  stroke: var(--color-base-primary-accent-1);
}

.icon-toggle-menu--3 {
  background-color: unset !important;
}

.header__logo {
  height: 60px;

  @include responsive(LG) {
    height: 100%;
  }
}

.xo-signin__name {
  display: flex;

  svg {
    margin-right: 5px;
    transition: all .3s ease-in-out;
  }

  path {
    fill: var(--color-base-primary-accent-2);
    transition: all .3s ease-in-out;
  }

  circle {
    stroke: var(--color-base-primary-accent-2);
    transition: all .3s ease-in-out;
  }

  &:hover {
    path {
      fill: var(--color-base-primary-accent-1);
      transition: all .3s ease-in-out;
    }
  
    circle {
      stroke: var(--color-base-primary-accent-1);
      transition: all .3s ease-in-out;
    }
  }
}

/*
* Style 2
*/
.header-2 {
  .menu__right-item.icon-search.is-active {
    .menu__search-input {
      background: color(label-button);
      border: 2px solid color(base-primary-accent-1);
      color: color(base-primary-accent-1);
    }

    ::placeholder {
      color: color(base-primary-accent-1);
    }
    
  }
  .menu__search-icon:hover {
    background: color(label-button);
  }

  .xo-search__result {
    background-color: color(base-primary-accent-2);
    li {
      a, button {
        color: #fff;
      }
    }
  }
}

/*
* Style 3
*/
.header-3 {
  .menu__right-item.icon-search.is-active {
    .menu__search-input {
      color: color(base-primary-accent-1);
    }

    ::placeholder {
      color: color(base-primary-accent-1);
    }
  }

  .menu__search-icon {
    &:hover {
      background: #fff;
    }
    svg, path {
      fill: color(base-primary-accent-2);
    }
  }

  .xo-search__result {
    background-color: color(base-primary-accent-1);
    li {
      a, button {
        color: #fff;
      }
    }
  }

  .header__logo.header__logo--left {
    justify-content: flex-start;
  }

  .header-menu.header-menu--left {
    @include responsive(XL) {
      margin-left: -4%;
      margin-right: 4%;
    }
  }

  .header__logo.xo-col-md-4 {
    margin-left: -7%;
    margin-right: 7%;

    @include responsive(MD) {
      margin-left: unset;
      margin-right: unset;
    }
  }

  .xo-header__menu .header__logo {
    display: none;
  }
}
