.faq__ques-text {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;

  @include responsive(MD) {
    font-size: 5.8rem;
    margin-bottom: 4.8rem;
  }
}

.faq__ques-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 70px;
  background: var(--color-base-secondary-accent-1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease-in-out;

  a {
    font-size: 1.7rem;
    color: var(--color-base-primary-accent-1);
    display: inline-block;
    position: relative;
    transition: all .3s ease-in-out;
  }

  &:hover {
    background: color(base-primary-accent-1);

    a {
      color: color(base-secondary-accent-3);
      
      &::before {
        border: solid 2px var(--color-base-secondary-accent-3);
        border-color: var(--color-base-secondary-accent-3) transparent transparent transparent;
      }

      &::after {
        border: solid 2px var(--color-base-secondary-accent-3);
        border-color: var(--color-base-secondary-accent-3) transparent transparent transparent;
      }
    }
  }

  @include responsive(MD) {
    width: 180px;
    height: 180px;
    margin: 0 auto 120px;
  }
}
