<div class="xo-container">
  <div class="faq__ques">
    <h2 class="faq__ques-text">{{ section.settings.question }}</h2>
    <div class="faq__ques-box">
      <a href="{{ section.settings.button_link }}" class="text--link faq__ques-link">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>
