/*
* Navigation + pagination
*/
.navigation__btn,
.pagination__btn {
  @include box(4.4rem, 4.4rem);

  background-color: color(base-secondary-accent-3);

  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all linear 0.15s;
  cursor: pointer;

  svg {
    @include box(2rem, 2rem);
  }

  path,
  line,
  rect {
    stroke-width: 4;
    stroke: color(base-primary-accent-1);
  }
}

.navigation__btn:hover {
  box-shadow: 0px 3px 60px -10px rgba(113, 54, 0, 0.3);
}

.pagination__btn:hover {
  box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.4);
}

.navigation__btn--is-large,
.pagination__btn--is-large {
  @include box(7rem, 7rem);

  svg { @include box(2.4rem, 2.4rem) }
}

/*
* Disable
*/
.navigation__btn--is-disable,
.pagination__btn--is-disable {
  background-color:#f6d5af;
  pointer-events: none;
  user-select: none;

  path, line {
    stroke: rgba(240, 81, 13, 0.5);
  }
}


/*
* Border
*/
.navigation__btn--is-border {
  border-radius: 5px;
}