.product-accordion-style3 {
  .product-accordion {
    padding: 0;
  }

  .product-accordion__content {
    position: relative;
    flex-direction: row;

    .background__img {
      svg, img {
        border-radius: 18px;
        @include responsive(LG) {
          border-radius: 25px;
        }
      }
    }
  }

  .product-accordion-main {
    padding: 9.5rem 2.5rem 5rem;
    @include responsive(LG) {
      padding: 10.5rem 0 7.5rem 12rem;
    }
  }
  .product-accordion-wrapper {
    background: #173122;
    border-radius: 10px;
    padding: 5rem 3.2rem 3rem;

    @include responsive(LG) {
      border-radius: 25px;
      padding: 6rem 4.8rem 4rem;
    }

    .product-accordion__heading {
      display: block;

      h2 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 132%;

        text-align: left;
        letter-spacing: 0.004em;

        color: #fff;

        @include responsive(LG) {
          font-size: 3rem;
          line-height: 136%;

          letter-spacing: -0.006em;
        }
      }

    }
  }

  .product-accordion-2__item {
    border-top: 1px solid #6D7972;

    .product-accordion__question {
      padding: 2.1rem 0;

      span {
        color: #fff;
      }
    }

    .product-accordion__answer {
      div {
        p, span {
          color: #fff;
        }
      }
    }

    .product-accordion__icon {
      @include box(unset, unset);
      span::before, span::after {
        background-color: #fff;
      }
    }
  }
}
