.section-text-w-icons {
  padding-top: 3.5rem;
  padding-bottom: 7rem;

  @include responsive(MD) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @include responsive(LG) {
    padding-top: 14rem;
  }
}

.text-w-icons__heading {
  font-weight: 700;
  font-family: var(--font-body-family);

  padding: 0 2rem;
  margin-bottom: 3.2rem;

  font-size: 1.5rem;
  line-height: 146%;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: color(base-primary-accent-2);

  @include responsive(MD) {
    margin-bottom: 5rem;
    line-height: 132%;
  }

  @include responsive(LG) {
    margin-bottom: 7.5rem;
  }
}

.text-w-icons__content {
  display: flex;
  flex-direction: column;

  @include responsive(MD) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.text-w-icons__card {
  width: 100%;

  margin-bottom: 2.7rem;
  user-select: none;

  &.xo-col-lg-6 { padding: 0 7rem }
  &.xo-col-lg-4 { padding: 0 5rem }
  &.xo-col-lg-3 { padding: 0 3rem }

  @include responsive(MD) {
    margin-bottom: 5rem;
  }

  @include responsive(LG) {
    margin-bottom: 7rem;
  }
}

.text-w-icons__card-image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img, svg {
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: translateY(-1rem);
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.text-w-icons__info {
  margin-top: 1rem;
  @include responsive(LG) {
    margin-top: 1.8rem;
  }
}

.text-w-icons__title {
  line-height: 132%;
  letter-spacing: 0.004em;

  margin-bottom: 0.5rem;

  @include responsive(LG) {
    margin-bottom: 1.6rem;
  }
}

.text-w-icons__desc {
  font-weight: 500;
  font-size: 1.7rem;

  @include responsive(LG) { font-size: 1.9rem }
}
