{% case section.settings.items_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
{% endcase %}

{% case section.settings.icon_size %}
  {% when 'small' %}
    {% assign iconSize = '40px'%}
  {% when 'medium' %}
    {% assign iconSize = '60px'%}
  {% when 'large' %}
    {% assign iconSize = '80px'%}
  {% else %}
    {% assign iconSize = '60px'%}
{% endcase %}


<div class="section-text-w-icons xo-container">
  <!-- Header -->
  <h2 class="text-w-icons__heading caption-30 text-center">{{ section.settings.title | escape }}</h2>

  <!-- Content -->
  <div class="text-w-icons__content xo-row">
    {% for block in section.blocks %}
      <div class="text-w-icons__card text-center {{ gridClassName }}">
        <div class="text-w-icons__card-image" style="width: {{ iconSize }}; height: {{ iconSize }};">
          {% if block.settings.icon == blank %}
            {% render 'icon-medal' %}
          {% else %}
            <img src="{{ block.settings.icon | img_url: master, crop: 'center' }}" alt="{{ block.settings.title }}">
          {% endif %}
        </div>
        <div class="text-w-icons__info">
          <h4 class="text-w-icons__title">{{ block.settings.title }}</h4>
          <div class="text-w-icons__desc">{{ block.settings.desc }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
