.footer {
  background-color: #fbe5c9;

  @include box(100%, 93rem);
  border-radius: 4rem 4rem 0 0;

  position: relative;
  margin-top: -4rem;

  @include responsive(MD) {
    @include box(100%, 98rem);
  }

  @include responsive(LG) {
    @include box(100%, 115rem);
    border-radius: 6rem 6rem 0 0;
    margin-top: -6rem;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  position: relative;
}

/*
* Info
*/
.footer__infor {
  @include responsive(LG) { margin-bottom: 5.1rem }
}

/*
* Newsletter
*/
.footer .footer__newsletter {
  margin: 18rem auto;
  @include responsive(MD) { margin: 28rem auto }
  @include responsive(LG) { margin: 38rem auto }
}

.footer .footer__newsletter-heading {
  font-size: 2.6rem;
  line-height: 120%;
  max-width: 78rem;

  text-align: center;

  @include responsive(LG) {
    font-size: 4.4rem;
    line-height: 124%;
  }
}
/*
* Form
*/
.footer .footer__newsletter-form {
  position: relative;
  width: 100%;

  margin: 3rem auto 0;
  max-width: 60rem;

  z-index: 100;

  @include responsive(LG) { margin-top: 5.4rem }

  input{
    @include box(100%, 5.4rem);
    border-radius: 2.7rem;
    border: none;
    padding-left: 3.2rem;
    padding-right: 6rem;
    box-shadow: 0px 3px 60px -10px rgba(113, 54, 0, 0.3);

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 146%;

    color: color(base-primary-accent-3);

    @include responsive(LG) { 
      @include box(100%, 6rem);
      font-size: 2.1rem; 
      padding-right: 19rem;
    }
  }

  ::placeholder {
    color: color(base-primary-accent-3);
  }

  button {
    background-color: color(base-primary-accent-1);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-form__btn-icon {
    border-radius: 100%;
  
    @include box(4.8rem, 4.8rem);
  

    @include responsive(LG) { display: none }
  
    svg { @include box(2rem, 2rem) }
    line, path { stroke: color(base-secondary-accent-3) }
  }

  .footer-form__btn-label {
    @include responsive(LG) { display: flex }

    display: none;
    justify-content: center;
    align-items: center;

    background-color: color(base-primary-accent-1);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

    outline: none;

    @include box(14rem, 4.8rem);

    border-radius: var(--border-radius-button);

    @include responsive(LG) {
      @include box(17rem, 5.2rem);
      top: 0.4rem;
    }

    &:hover svg {
      opacity: 1;
      right: -2.5rem;

      @include responsive(LG) {
        right: -3rem;
      }
    }
    &:hover span {
      transform: translate3d(-1.3rem, 0, 0);
    }

    span {
      display: inline-block;
      position: relative;
      transition: all 300ms ease-out;
      will-change: transform;

      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0.004em;
      color: color(base-secondary-accent-3);
    }
  
    svg {
      position: absolute;
      right: 0rem;
      top: 50%;

      opacity: 0;

      transform: translateY(-50%);
      transition: all 300ms ease-out;
      will-change: right, opacity;

      @include box(2rem, 2rem);
      
      line, path { stroke: color(base-secondary-accent-3) }
    }
  }
}

/*
* Footer menu
*/
.footer__collection { 
  margin-bottom: 1.5rem;
  @include responsive(LG) {
    margin-bottom: 2.7rem;
  }
}
.footer__collection-list {
  display: flex;
  align-items: center;

  width: fit-content;

  position: relative;
  z-index: 10;

  transition: all .3s ease;

  .footer__collection-item {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 146%;

    color: color(base-primary-accent-3);

    height: 100%;
    
    padding-right: 1rem;

    opacity: 0;

    @include responsive(LG) { padding-right: 1.8rem }
    &:hover { cursor: pointer }
    a { text-decoration: none }
  }

  &::before {
    content: "";
    position: absolute;

    background: color(base-secondary-accent-3);
    z-index: -1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    border-radius: 2rem;
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0px 3px 60px -10px rgba(113, 54, 0, 0.3);
    border-radius: 2rem;
    &::before {
      content: "";
      position: absolute;
    
      width: 100%;
      height: 4rem;
      
      background: color(base-secondary-accent-3);
    }

    .footer__collection-item {
      animation-name: myHover;
      animation-timing-function: ease-in-out;
      animation-duration: 1.3s;
      opacity: 1;
    }
    svg { opacity: 0 }
  }
}

.footer__collection-list::before,
.footer__collection-list__info {
  @include box(9.6rem, 4rem);

  @include responsive(LG) {
    @include box(11rem, 4rem);
  }
}

.footer__collection-list__info {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;

  box-shadow: 0px 3px 60px -10px rgba(113, 54, 0, 0.3);

  span {
    color: color(base-primary-accent-1);
  
    font-size: 1.9rem;
    line-height: 150%;
    letter-spacing: 0.004em;
    font-weight: 600;

    @include responsive(LG) {
      font-size: 2rem;
      line-height: 128%;
      letter-spacing: 0.004em;
  
      font-weight: 700;

      margin-right: 0.8rem;
    }
  }

  svg {
    display: none;
    @include box(1.4rem, 1.4rem);
    @include responsive(LG) { display: block }

    path {
      stroke: color(base-primary-accent-1);
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

@keyframes myHover {
  0% { opacity: 0 }
  50% { opacity: 0.7 }
  100% { opacity: 1 }
}

/* Menu */
.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-item {
  padding-right: 2rem;
  @include responsive(LG) {
    padding-right: 1.7rem;
  }
}

.footer__menu-link {
  text-decoration: none;
  span {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 146%;

    @include responsive(LG) {
      font-size: 1.7rem;
      line-height: 146%;
    }
  }
}

/*
* Contact
*/
.footer-contact {
  padding-top: 1.4rem;

  @include responsive(LG) {
    text-align: right;
    padding: 0;
  }

  .footer-contact-main {
    @include responsive(XL) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer-contact__info,
  .footer-social {
    @include responsive(LG) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer__email,
  .footer__phone {
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    letter-spacing: 0.004em;

    padding: 0.8rem 2.35rem;

    margin: 0.9rem 0;

    width: fit-content;
    height: 4rem;

    background-color: #f6d5af;

    border-radius: 2.2rem;

    transition: all .3s ease;

    p{ font-weight: 600 }

    @include responsive(LG) {
      margin: 0;
      
      font-size: 20px;
      line-height: 150%;
      
      letter-spacing: 0.004em;
    }

    &:hover {
      background-color: color(base-primary-accent-1);
      box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);
      cursor: pointer;
      p { color: color(base-secondary-accent-3) }
    }
  }

  .footer__phone {
    @include responsive(LG) { margin-left: 1.4rem }
  }
}

/*
* Social 
*/
.footer .footer-social {
  svg {
    @include box(1.8rem, 1.8rem);
  }
  .footer-social__list {
    display: flex;
    @include responsive(LG) { width: fit-content }
  }
  
  .footer-social__item {
    background-color: #f6d5af;
  
    @include box(4.5rem, 4.5rem);
    border-radius: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-right: 0.6rem;
  
    transition: all .3s ease;
  
    @include responsive(MD) {
      margin-left: 0.6rem;
      margin-right: 0;
  
      &:first-child {
        margin-left: 2rem;
      }
    }
  
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    svg { fill: color(base-primary-accent-2) }
  
    &:hover {
      background-color: color(base-primary-accent-1);
      box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);
  
      rect, line, path {
        fill: color(base-secondary-accent-3);
      }
    }
  }
}

/*
* Address
*/
.footer-bottom {
  margin-top: 1.4rem;
  
  @include responsive(MD) {
    padding-bottom: 3rem;
  }
  
  @include responsive(LG) {
    padding-bottom: 0;
    margin-top: 2.7rem;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 146%;
    text-align: left;

    @include responsive(LG) {
      font-size: 1.7rem;
      line-height: 146%;
    }

    svg {
      margin-left: 0.4rem;

      @include box(1.6rem, 1.6rem);
      transform: translateY(2px);
    }
  }

  &--locale {
    display: block;
    text-align: left;

    @include responsive(MD) {
      text-align: right;
    }
  }
}

/* Payment */
.footer-payment{
  margin-bottom: 3rem;

  @include responsive(MD) {
    margin-bottom: 0;
    margin-top: 1.4rem;
  }
  @include responsive(LG) {
    margin-top: 0;
  }
}
.footer-payment__list{
  display: flex;
  justify-content: center;
  @include responsive(MD) {
    justify-content: flex-end;
  }
}
.footer-payment__item{
  padding: 0 0.5rem;
}

.localization-country {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0 2.26rem;

  @include responsive(MD) {
    margin: 0;
  }
}

.localization {
  position: relative;
}

.localization-form__label {
  display: none;
}

.localization-form__select {
  display: flex;
  align-items: center;
  color: color(base-primary-accent-1);
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: 30px;

  @include responsive(MD) {
    font-size: 1.7rem;
  }

  & > svg {
    margin: 0 .5rem;
  }

  .icon-arrow-bottom {
    svg {
      @include box(1.2rem, 1.2rem);
      margin-left: 3px;
    }

    path {
      stroke: color(base-primary-accent-1);
    }
  }
}

.localization__list {
  margin-top: -.5rem;
  max-width: 22rem;
  min-width: 10rem;
  width: max-content;
  overflow-y: auto;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: absolute;
  bottom: 100%;
  transform: translateY(-1rem);
  z-index: 100;
  background-color: var(--color-base-primary-accent-1);
  border-radius: 2rem;

  &--first {
    transform: translate(.5rem, -1rem);
  }

  &--second {
    transform: translate(3rem, -1rem);
  }
}

.localization__item {
  text-align: center;
  padding: 8px;
}

.localization__link {
  color: color(base-background);
  font-weight: 600;
  font-size: 1.6em;

  @include responsive(MD) {
    font-size: 1.7rem;
  }
}

.localization__link--active {
  text-decoration: underline;
}

/*
* Image
*/
.footer__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include box(100%, 62rem);
  @include responsive(MD ) {
    @include box(100%, 84rem);
  }
  @include responsive(LG) {
    @include box(100%, 110rem );
  }
}

.footer__image {
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  
  cursor: pointer;
  
  transition: all .3s;
  // opacity: 0;
  // &.box-fade-in { 
  //   transform: translateY(0);
  //   opacity: 1;
  // }
}

// .footer__image-1,
// .footer__image-2,
// .footer__image-3,
// .footer__image-7,
// .footer__image-8 {
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .footer__image-4,
// .footer__image-5,
// .footer__image-6,
// .footer__image-9,
// .footer__image-10,
// .footer__image-11 {
//   right: 50%;
//   transform: translate(50%, -50%);
// }

.footer-image__item {
  @include box(80%, 80%);
  object-fit: scale-down;
  border-radius: 100% !important;
}

.footer__image-1 {
  top: 4.6rem;
  left: 3vw;
  @include responsive(LG) { top: 12rem }
}

.footer__image-2 {
  opacity: 0 !important;
  top: 16.3rem;
  left: 26vw;
  @include responsive(LG) { opacity: 1 !important; }
  @include responsive(XL) { left: 40rem }
}

.footer__image-3 {
  top: 11.3rem;
  left: calc(50vw - 50px);
  @include responsive(LG) { left: 34vw }
  @include responsive(XL) { 
    left: 26vw;
    top: 21.6rem;
  }
}

.footer__image-4 {
  display: none;
  top: 10rem;
  right: calc(30vw - 100px);
  @include responsive(XL) { display: flex; }
}

.footer__image-5 {
  top: 6rem;
  right: calc(50vw - 40px);
  @include responsive(LG) {
    top: 8rem;
    right: 26vw;
  }
  @include responsive(XL) {
    top: 24.6rem;
    right: 10vw;
  }
}

.footer__image-6 {
  top: 6rem;
  right: 1rem;
  @include responsive(LG) { top: 14rem }
  @include responsive(XL) { 
    top: 34.7rem;
    right: 0;
  }
}

.footer__image-7 {
  top: 38.2rem;
  left: 3vw;
  @include responsive(MD) { top: 50rem }
}

.footer__image-8 {
  top: 43.8rem;
  left: 20vw;
  @include responsive(MD) { top: 53rem }
  @include responsive(LG) { top: 68rem }
}

.footer__image-9 {
  top: 39.7rem;
  right: 36vw;
  @include responsive(MD) {
    top: 50rem;
    right: 32vw;
  }
  @include responsive(LG) {
    top: 64rem;
    right: 37vw;
  }
  @include responsive(XL) {
    top: 64rem;
    right: 30vw;
  }
}

.footer__image-10 {
  top: 42.4rem;
  right: 30vw;
  @include responsive(MD) {
    top: 56rem;
    right: 26vw;
  }
  @include responsive(LG) { top: 70rem }
}

.footer__image-11 {
  top: 40.5rem;
  right: 1.5rem;
  @include responsive(MD) { top: 48rem }
  @include responsive(LG) { top: 64rem }
  @include responsive(XL) {
    top: 61.8rem;
    right: 10vw;
  }
}

@keyframes mover1 {
  0% { transform: translateX(0) scale(1); }
  100% { transform: translateX(2vw) scale(0.9); }
}
@keyframes mover2 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(0.5vw, 10px) scale(1.1); }
}
@keyframes mover3 {
  0% { transform: translate(0, 0) scale(1);  }
  100% { transform: translate(-2vw, 10px) scale(1.05); }
}
@keyframes mover4 {
  0% { transform: translateX(0) scale(1); }
  100% { transform: translateX(50px) scale(1.1); }
}
@keyframes mover5 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(-1vw, -4px) scale(1.1); }
}
@keyframes mover6 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translateX(-35px) scale(0.9); }
}
@keyframes mover7 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translateX(2vw) scale(1.1); }
}
@keyframes mover8 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translateY(-20px); }
}
@keyframes mover9 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(2rem, -10px) scale(1.08); }
}
@keyframes mover10 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(-10px, 10px) scale(1.3); }
}
@keyframes mover11 {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translateY(30px) scale(1.1); }
}

.footer__image-small { @include box(1.3rem, 1.3rem) }
.footer__image-medium { @include box(4.1rem, 4.1rem) }
.footer__image-large { @include box(5.5rem, 5.5rem) }
.footer__image-extra-large { @include box(9rem, 9rem) }
.footer__image-db-extra-large { @include box(10rem, 10rem) }

@include responsive(MD) {
  .footer__image-medium { @include box(8rem, 8rem) }
  .footer__image-large { @include box(10rem, 10rem) }
  .footer__image-db-extra-large { @include box(15rem, 15rem) }
}

@include responsive(LG) {
  .footer__image-small { @include box(3.6rem, 3.6rem) }
  .footer__image-medium { @include box(11rem, 11rem) }
  .footer__image-large { @include box(12rem, 12rem) }
  .footer__image-extra-large { @include box(18.5rem, 18.5rem) }
  .footer__image-db-extra-large { @include box(20rem, 20rem); }
}

@include responsive(XL) {
  .footer__image-medium { @include box(11rem, 11rem) }
  .footer__image-large { @include box(15rem, 15rem) }
  .footer__image-db-extra-large { @include box(25rem, 25rem) }
}

$item: 12;

@mixin effect {
  @for $i from 1 through $item {
    .footer__image-#{$i} { 
      animation: mover#{$i} 2s infinite  alternate; 
      animation-delay: $i * 0.2s;
    }
  }
}

@include effect;