<div class="footer">
  <div class="footer__wrapper xo-container">
    <!-- Form newsletter -->
    <div class="footer__newsletter">
      <h3 class="footer__newsletter-heading">{{ section.settings.title }}</h3>
      <form action="/contact#ContactFooter" id="ContactFooter" class="footer__newsletter-form" method="POST" novalidate="novalidate">
        <input type="email" name="contact[email]" id="ContactFooter-email" placeholder="Your email">
        <button type="submit" class="footer-form__btn-icon">{% render 'icon-arrow-right' %}</button>
        <button class="footer-form__btn-label">
          <span class="h3">
            {{ 'newsletter.button_label' | t }}
            {% render 'icon-arrow-right' %}
          </span>
        </button>
      </form>

        <!-- Image  -->
      <div class="footer__image-wrapper">
        <div class="footer__image-container">
        {% for block in section.blocks %}
          {% if block.type =='box' %}

          {% case block.settings.box_size %}
            {% when 'small' %}
              {% assign box_size = 'footer__image-small' %}
            {% when 'medium' %}
              {% assign box_size = 'footer__image-medium' %}
            {% when 'large' %}
              {% assign box_size = 'footer__image-large' %}
            {% when 'extra_large' %}
              {% assign box_size = 'footer__image-extra-large' %}
            {% when 'db_extra_large' %}
              {% assign box_size = 'footer__image-db-extra-large' %}
          {% endcase %}

            <div class="footer__image footer__image-{{ forloop.index }} {{ box_size }}"
              style="background-color: {{ block.settings.bg_color }};">
              {% if block.settings.image %}
                <img src="{{ block.settings.image | img_url: 'master' }}"
                class="footer-image__item"
                alt="{{ block.settings.image.alt }}">
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>

    <!-- Menu + Contact  -->
    <div class="xo-row footer__infor">

      <div class="xo-col-12 xo-col-md-6 xo-col-lg-5 xo-col-xl-4 footer-menu">
        <!-- Collection  -->
        <div class="footer__collection">
          <div class="footer__collection-list">
            <div class="footer__collection-list__info">
              <span>{{ section.settings.info }}</span>
              {% render 'icon-next' %}
            </div>
            {% for block in section.blocks %}
              {% if block.type =='collections' %}
                {% assign collection = collections[block.settings.collection] %}
                {% if collection != "EmptyDrop" and collection.title != "" %}
                  <div class="footer__collection-item">
                    <a href="{{ collection.url }}">{{ collection.title }}</a>
                  </div>
                {% endif %}
              {% endif %}
            {%- endfor %}
          </div>
        </div>
        
        <ul class="footer-menu__list">
          {% assign footer_linklist = section.settings.menu %}
          {% for link in linklists[footer_linklist].links %}
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="{{ link.url }}">
                <span>{{ link.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="xo-col-12 xo-col-md-6 xo-col-lg-7 xo-col-xl-8 footer-contact">
        <div class="footer-contact-main">
          <!-- Mail + phone -->
          <div class="footer-contact__info">
            <div class="footer__email">
              <p>{{ section.settings.mail }}</p>
            </div>
            <div class="footer__phone">
              <p>{{ section.settings.phone }}</p>
            </div>
          </div>

          {% if section.settings.show_social %}
            <!-- Social  -->
              <div class="footer-social">
                <ul class="footer-social__list">

                  {%- assign socials = "Facebook LinkedIn Instagram Twitter Pinterest  Tumblr Snapchat YouTube Vimeo" | split: ' ' %}
                  {% for social in socials %}
                    {% assign social_link = social | prepend: 'social_' | append: '_link' | downcase %}
                    {% assign icon_link = social | downcase %}

                    {% if settings[social_link] != blank %}
                      {% assign social_default = false %}
                      <li class="footer-social__item">
                        <a href="{{ settings[social_link] | escape }}">
                          {% render 'icon' with icon_link %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
          {% endif %}
        </div>

        <div class="footer-bottom {% if section.settings.show_locale_selector == false and section.settings.show_country_selector == false %}footer__address--locale{% endif %}">            

          <!-- Currency + Localization -->
          {% if section.settings.show_locale_selector or section.settings.show_country_selector %}
            <div class="localization-country">
              <!-- Currency -->
              {% if section.settings.show_country_selector and localization.available_countries.size > 1 %}
                <localization-form>
                  {% form 'localization', id: 'FooterCountryForm', class: 'localization-form' %}
                    <div class="localization">
                      <button type="button" class="localization-form__select localization-form__select--first" aria-expanded="false" aria-controls="FooterCountryList">
                        {{ localization.country.currency.iso_code }}
                        <span class="icon-arrow-bottom">
                          {% render 'icon-arrow-bottom' %}
                        </span>
                      </button>
                      <ul id="FooterCountryList" role="list" class="localization__list localization__list--first" hidden>
                        {% for country in localization.available_countries %}
                          <li class="localization__item" tabindex="-1">
                            <a class="localization__link{% if country.iso_code == localization.country.iso_code %} localization__link--active{% endif %}" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                              {{ country.currency.iso_code }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                  {% endform %}
                </localization-form>
              {% endif %}

              <!-- Localization -->
              {% if section.settings.show_locale_selector and localization.available_languages.size > 1 %}
                <localization-form>
                  {% form 'localization', id: 'FooterLanguageForm', class: 'localization-form' %}
                    <div class="localization localization-language" data-iso-code='{{ localization.language.iso_code | downcase}}'>
                      <button type="button" class="localization-form__select" aria-expanded="false" aria-controls="FooterLanguageList">
                        {% render 'icon-locale' %}
                        {{ localization.language.iso_code | upcase }}

                        <span class="icon-arrow-bottom">
                          {% render 'icon-arrow-bottom' %}
                        </span>
                      </button>
                      <ul id="FooterLanguageList" role="list" class="localization__list localization__list--second" hidden>
                        {% for language in localization.available_languages %}
                          <li class="localization__item" tabindex="-1">
                            <a class="localization__link{% if language.iso_code == localization.language.iso_code %} localization__link--active{% endif %}" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                              {{ language.iso_code | upcase }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                  {% endform %}
                </localization-form>
              {% endif %}
            </div>
          {% endif %}

          <!-- Payment  -->
          {%- if section.settings.payment_enable -%}
            <div class="footer-payment">
              <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
              <ul class="footer-payment__list" role="list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="footer-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>

      </div>
    </div>
  </div>
</div>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    onItemClick(event) {
      event.preventDefault();
      this.elements.input.value = event.currentTarget.dataset.value;
      this.querySelector('form')?.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.elements.button.setAttribute('aria-expanded', 'false');
        this.elements.panel.setAttribute('hidden', true);
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

