.testimonial {
  padding-top: 3.5rem;
  /*
  * Heading
  */

  .testimonial__heading {
    transform: translateY(100%);
  }

  .testimonial__heading,
  .testimonial__content-heading {
    p {
      font-size: 1.5rem;
      line-height: 2.8rem;
  
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
  .testimonial__heading {
    @include responsive(MD) { 
      padding-bottom: 3rem;
    }
    @include responsive(LG) { display: none }
  }
  
  .testimonial__content-heading {
    display: none;
    @include responsive(LG) {
      display: block;
      margin-bottom: 5.1rem;
      margin-left: 10rem;
    }
  }
  
  .testimonial__wraper {
    padding-bottom: 18.2rem;
    overflow: hidden;
  
    position: relative;
    @include responsive(LG) {
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 0;
    }
  }
}

/*
* Image
*/
.testimonial-images__wrapper {
  @include box(100%, 39rem);
  position: relative;

  max-width: 100%;

  overflow: hidden;

  @include responsive(MD) {
    overflow: unset;
    height: 57rem
  }

  @include responsive(LG) {
    @include box(100%, 54rem);
  }
  @include responsive(XL) {
    @include box(100%, 65rem);
  }
}
.testimonial .testimonial__img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;

  position: absolute;
  left: 1.5rem;
  right: 0;
  top: 3rem;

  transform: translateX(50%);

  transition: all .5s;

  opacity: 0;

  @include responsive(LG) { top: 6rem }

  img, svg {
    @include box(100%, 100%);
    object-fit: cover;
    border-radius: 3rem;
  }

  svg {
    fill: color(base-secondary-accent-3);
    background-color: rgb(100, 100, 100);
  }

  .testimonial__img-first,
  .testimonial__img-second {
    opacity: 0;
    transition: all .5s;
    img, svg {
      box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
    }
  }

  .testimonial__img-first {
    z-index: 1;
    svg { background-color: #333 }
    transition-delay: .3s;

  }

  .testimonial__img-second {
    transition-delay: 0.4s;

    transform: translateY(-26px);
    @include responsive(LG) {
      position: relative;
    }
  }

  &.is-active {
    transform: translate(0, 16px);
    opacity: 1;
    .testimonial__img-first,
    .testimonial__img-second {
      opacity: 1;
    }

    .testimonial__img-first {
      transform: translateX(0);
    }
    .testimonial__img-second {
      transform: translate(-40px, -26px) rotate(11.71deg);
      @include responsive(LG) {
        transform: translate(-86px, -26px) rotate(11.71deg);
      }
    }
  }
}

/*
* Content
*/

.testimonial .testimonial__content {
  @include responsive(MD) { padding-top: 3rem }
  @include responsive(LG) { padding-top: 0 }

  .testimonial__text {
    @include responsive(LG) {
      margin-left: 10rem;
      padding-right: 3rem;
    }
  
    > * {
      transform: translateY(300px);
      opacity: 0;
      transition: all .5s ease;
  
      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1s;
        }
      }
    }
  }
}


.splide__slide.is-active {
  .testimonial__text {
    > * {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.testimonial {
  .testimonial__comment {
    margin-bottom: 2.6rem;
    position: relative;
  
    @include responsive(LG) {
      margin-bottom: 3.6rem;
      max-width: 52.6rem;
      font-size: 2.2rem;
    }
  
  
    .testimonial__icon {
      margin-bottom: 1.7rem;
      @include responsive(LG) {
        position: absolute;
        left: -8rem;
        top: 0.2rem;
      }
      svg {
        path {
          fill: color(base-primary-accent-1);
        }  
      }
    }
  
    h3 {
      font-size: 3rem;
      line-height: 136%;
  
      @include responsive(LG) { 
        font-size: 2.2rem;
      }
      @include responsive(XL) { font-size: 3rem }
    }
  }
  
  .testimonial__info {
    display: flex;
    align-items: center;
  }
  
  .testimonial__avata {
    @include box(8.4rem, 8.4rem);
    border-radius: 100%;
    overflow: hidden;
  
    img, svg {
      @include box(100%, 100%);
      object-fit: cover;
    }
    svg {
      fill: color(base-secondary-accent-3);
      background-color: #333;
    }
  }
  
  .testimonial__name {
    font-size: 1.9rem;
    line-height: 146%;
    font-weight: 600;
  
    padding-left: 1.35rem;
  
    color: color(base-primary-accent-2);
  }
}

/*
** Navigation
*/

.testimonial {
  .splide__arrows {
    position: absolute;
    // bottom: -80px;
    transform: translateY(9rem);

    @include responsive(LG) {
      // bottom: -10rem;
      left: 10rem;
    }
  }
  .splide__arrow--next,
  .splide__arrow--prev {
    position: absolute;
    opacity: 0.9;
    @include box(7rem, 7rem);
  }

  .splide__arrow--prev {
    left: 0;
  }

  .splide__arrow--next {
    left: 8.7rem;
  }

  .splide__arrow:disabled {
    opacity: 1;
    .navigation__btn {
      background-color:#f6d5af;
      pointer-events: none;

      path, line {
        stroke: color(base-primary-accent-3);
      }
    }
  }
}