<section class="testimonial">
  <div class="testimonial__container xo-container">
    <div class="testimonial__heading">
      <p>{{ section.settings.heading }}</p>
    </div>

    <div class="testimonial__wraper xo-row">
      
      <!-- Image  -->
      <div class="testimonial-images__wrapper xo-col-12 xo-col-lg-6">
        {% for block in section.blocks %}
        <div class="testimonial__img">
          <div class="testimonial__img-first">
            {% if block.settings.image_1 == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                <img src="{{ block.settings.image_1 | img_url: '450x500', crop: 'center' }}"
                alt="{{ img_bg_mobile.alt }}">
                {% endif %}
              </div>
              <div class="testimonial__img-second">
                {% if block.settings.image_2 == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                <img src="{{ block.settings.image_2 | img_url: '450x650', crop: 'center' }}"
                alt="{{ img_bg_mobile.alt }}">
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          
          <!-- Content  -->
          <div class="testimonial__content xo-col-12 xo-col-lg-6">
            <div class="testimonial__content-heading">
              <p>{{ section.settings.heading }}</p>
            </div>
            
          <testimonial-section class="splide testimonial-splide"
              data-splide='{ "rewind": {{ section.settings.slide_loop }}, "autoplay": {{ section.settings.apply_auto_play }}, "interval": {{ section.settings.slide_delay }}  }'
          >                 
            <div class="splide__track">
              <div class="splide__list">
                {% for block in section.blocks %}
                  <div class="splide__slide testimonial-slide">

                    <!-- Content -->
                    <div class="testimonial__text">

                      <div class="testimonial__comment">
                        <div class="testimonial__icon">
                          {% render 'icon-quote' %}
                        </div>
                        <h3>{{ block.settings.customer_comment }}</h3>
                      </div>

                      {% if block.settings.customer_name != '' %}
                        <div class="testimonial__info">
                          <div class="testimonial__avata">
                            {% if block.settings.ava_img == blank %}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% else %}
                              <img src="{{ block.settings.ava_img | img_url: 'master' }}"
                                    alt="">
                            {% endif %}
                          </div>
                          <div class="testimonial__name">{{ block.settings.customer_name }}</div>
                        </div>
                      {% endif %}

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- navigation  -->
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">
                <span class="navigation__btn navigation__btn--is-large {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
                  {% render 'icon-arrow-right' %}
                </span>
              </button>
              <button class="splide__arrow splide__arrow--next">
                <span class="navigation__btn navigation__btn--is-large {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
                  {% render 'icon-arrow-right' %}
                </span>
              </button>
            </div>
          </testimonial-section>

      </div>
    </div>


  </div>
</section>

<style>
  @media only screen and (min-width: 992px) {
    #shopify-section-{{ section.id }} {
      padding-top: 8.5rem;
      padding-bottom: 17rem;
    }
  }
</style>
