.essential__header {
  margin-bottom: 3rem;

  max-width: 68rem;
  margin: 0 auto;

  @include responsive(MD) {
    margin-bottom: 9rem;
  }
}

.essential-content {
  position: relative;
  margin-top: 3.6rem;

  .essential__behind {
    display: none;

    @include responsive(MD) {
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-color: var(--color-base-primary-accent-1);
      border-radius: 3rem;
      transform: rotate(-4.46deg);
    }
  }

}

.essential__slides {
  background-color: var(--color-base-secondary-accent-1);
  border-radius: 3rem;

  position: relative;
  overflow: hidden;

  padding: 5rem 0 2.2rem;

  @include responsive(MD) {
    padding: 3rem;
  }

  @include responsive(LG) {
    padding: 10rem 15rem 10rem 3rem;
  }

  .navigation--prev,
  .navigation--next {
    position: absolute;

    top: 25%;

    @include responsive(MD) {
      top: 50%;
    }
    z-index: 99;
  }

  .navigation--prev {
    left: 1rem;

    @include responsive(MD) {
      left: 3rem;
    }
  }

  .navigation--next {
    right: 1rem;

    @include responsive(MD) {
      right: 3rem;
    }
  }
  .essential-slide__pagination {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2.6rem;
    background-color: var(--color-base-background);
    width: fit-content;
    max-width: 100%;
    height: 4.4rem;
    display: flex;
    padding: 4px;

    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    z-index: 10;

    @include responsive(LG) {
      left:70%;
      top: 15rem;
    }

    @include responsive(XL) {
      left:68%;
    }

    @media screen and (min-width: 1400px) {
      left: 66%;
    }
  }
  .essential-pagination__item {
    width: 11rem;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 100%;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-base-primary-accent-3);
    opacity: 1;

    height: 3.6rem;
    &.is-active {
      background-color: var(--color-base-secondary-accent-2);
      border-radius: 3.2rem;
      color: var(--color-base-primary-accent-2);
    }
  }
}

.product-images__wrapper {
  position: relative;
  max-width: 100%;
  height: auto;
  padding-bottom: 75%;
  margin-top: 3rem;

  @include responsive(MD) {
    padding-bottom: 50%;
  }

  @include responsive(LG) {
    margin-top: 0;
  }

  .product-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;


    // @include responsive(MD) {
    //   padding: 0 5rem;
    // }

    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
  }

  .product-image.is-active {
    opacity: 1;
    transform: translateX(0);
  }
  img, svg {
    width: auto;
    max-height: 100%;
    margin: auto;
    display: block;
    border-radius: 3.5rem;

    @include responsive(XL) {
      transform: scale(1.2);
    }
  }
}

.essential-slides__container {
  .splide__arrow{
    top: 30%;
    @include responsive(LG) {
      top: 50%;
    }
    &:disabled {
      @extend .navigation__btn--is-disable;
    }
  }

  // .essential-slides__wrapper {
  //   @include responsive(MD) {
  //     padding-left: 3rem;
  //   }
  // }
}


.essential__slide {
  padding-top: 3rem;

  @include responsive(MD) {
    padding-top: 9rem;
  }

  @include responsive(LG) {
    padding-top: 14rem;
  }

  .product-image {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;
    img {
      width: 100%;
      height: auto;
    }
  }

  .product-tag {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-base-primary-accent-3);
    text-transform: uppercase;
  }

  .product-rating {
    height: 2rem;
  }

  .product-description {
    margin-top: 3rem;
    margin-bottom: 3.4rem;
    min-height: 115px;
    max-height: 115px;
    overflow: hidden;

    @include responsive(MD) {
      margin-top: 2.5rem;
    }
  }

  .btn {
    width: 100%;
    @include responsive(MD) {
      width: unset;
    }
  }

  > * {
    transform: translateY(50%);
    opacity: 0;
    transition: all .3s linear;

    @for $i from 0 to 15 {
      &:nth-child(#{$i + 1}) {
        transition-delay: $i * 0.1s;
      }
    }
  }
}

.essential__slide.is-active.is-visible {
  > * {
    transform: translateY(0);
    opacity: 1;
  }
}

// .essential__slide.is-active {
//   .product-image {
//     transform: translateX(0) rotate(-10.36deg);
//     opacity: 1;
//   }
// }

