<div class="essential xo-container">
  <div class="essential__header text-center">
    <h2 class="essential__heading" style="margin-bottom: 1rem;">{{ section.settings.heading }}</h2>
    <p class="essential__subheading">{{ section.settings.subheading }}</p>
  </div>

  <div class="essential-content">
    <div class="essential__behind"></div>
    <div class="essential__slides xo-row">
      <div class="essential-slide__pagination">
        {% for block in section.blocks %}
          <span class="essential-pagination__item cursor-pointer">{{ block.settings.tag }}</span>
        {% endfor %}
      </div>
      <div class="product-images__wrapper xo-col-12 xo-col-lg-7">
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
          <div class="product-image {% if forloop.first %}is-active{% endif %}">
            {%- comment -%}
              2 option:
                - Image from product
                - Other image ( user pick )
            {%- endcomment -%}
            {% if block.settings.use_custom_image %}
              {% if block.settings.use_custom_image != blank %}
                <img srcset="{%- if block.settings.custom_image.width >= 165 -%}{{ block.settings.custom_image | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if block.settings.custom_image.width >= 360 -%}{{ block.settings.custom_image | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if block.settings.custom_image.width >= 533 -%}{{ block.settings.custom_image | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if block.settings.custom_image.width >= 720 -%}{{ block.settings.custom_image | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if block.settings.custom_image.width >= 940 -%}{{ block.settings.custom_image | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if block.settings.custom_image.width >= 1066 -%}{{ block.settings.custom_image | img_url: '1066x' }} 1066w{%- endif -%}"
                  src="{{ block.settings.custom_image | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ block.settings.custom_image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.custom_image.width }}"
                  height="{{ block.settings.custom_image.height }}"
                >
              {% else %}
                {{ 'product-1' | placeholder_svg_tag }}
              {% endif %}
            {% else %}
              {% if product.featured_media != blank %}
                <img srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
                  src="{{ product.featured_media | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.featured_media.alt | escape }}"
                  loading="lazy"
                  width="{{ product.featured_media.width }}"
                  height="{{ product.featured_media.height }}"
                >
              {% else %}
                {{ 'product-' | append: forloop.index | placeholder_svg_tag }}
              {% endif %}
            {% endif %}


          </div>
        {% endfor %}
      </div>
      <div class="xo-col-12 xo-col-lg-5" style="position: unset;">
        <essential-slide class="essential-slides__container splide" style="position: unset;" data-splide='{ "rewind": {{ section.settings.loop }}, "autoplay": {{ section.settings.auto_play }}, "interval": {{ section.settings.delay }}  }'>
          <div class="splide__arrows">
            <div class="splide__arrow splide__arrow--prev navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
              {% render 'icon-next' %}
            </div>
            <div class="splide__arrow splide__arrow--next navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
              {% render 'icon-next' %}
            </div>
          </div>
          <div class="essential-slides__wrapper splide__track" style="overflow: visible;">
            <div class="splide__list">
              {% for block in section.blocks %}
                {% assign product = all_products[block.settings.product] %}
                {% if product != blank %}
                  {% assign product_title = product.title %}
                {% else %}
                  {% assign product_title = 'Product title' %}
                {% endif %}
                <div class="essential__slide splide__slide">
                  {% assign product_tag = block.settings.tag %}
                  {% assign product_description = block.settings.description %}
                  <span class="product-tag" data-tag-name="{{ product_tag }}">{{ product_tag }}</span>
                  <div class="product__title h2">{{ product_title }}</div>
                  <!-- <div class="product-rating"></div> -->
                  <div class="product-description body-10">{{ product_description }}</div>
                  <div class="product-view" style="padding-bottom: 3rem;">
                    <a href="{{ product.url }}" class="btn btn--is-large btn--is-hover-shadow">{{ 'general.button.view_product' | t }}</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </essential-slide>
      </div>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{section.id}} {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
  }

  @media (min-width: 768px) {
    #shopify-section-{{id}} {
      padding-top: 8.5rem;
      padding-bottom: 7rem;
    }
  }
</style>
