.search-template {
  padding: 5rem 0 4.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(LG) {
    padding: 13rem 0 0 0;
  }

  .xo-col-6, .xo-col-lg-4 {
    padding: 0 0.8rem;
    @include responsive(LG) {
      padding: 0 1.8rem;
    }
  }

  /*
  * Product cart
  */
  .product-card {
    min-height: 25.3rem;
    border-radius: 1.2rem;
    @include responsive(LG) {
      min-height: unset;
      border-radius: 2.5rem;
    }

    .tag {
      font-size: 12px;
      line-height: 146%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      top: 1.1rem;

      @include responsive(LG) {
        top: 3.2rem;
      }
    }

    .product__image {
      height: 100%;
      @include responsive(LG) {
        height: calc(100% - 110px);
      }
    }

    .product-card__bottom {
      padding: 0;
      min-height: 7.8rem;
      @include responsive(LG) {
        padding: 2.2rem 4.7rem 3.1rem;
        min-height: 11rem;
      }
    }

    .product__title {
      font-size: 17px;
      line-height: 150%;

      @include text-ellipsis(100%, 1);
      padding: 0 0.2rem;

      @include responsive(LG) {
        font-size: 22px;
        line-height: 132%;
        letter-spacing: 0.004em;
      }
    }

    .product__price {
      font-weight: 600;
      font-size: 14px;
      line-height: 146%;

      @include responsive(LG) {
        font-size: 17px;
      }
    }

    .product-card__button .btn {
      padding: 1.6rem 4rem;
      @include responsive(MD) {
        padding: 1.6rem 6rem;
      }
    }
  }
}

.search-title h3 {
  font-size: 2.2rem;
  line-height: 132%;

  text-align: center;

  @include responsive(LG) {
    font-size: 4.4rem;
    line-height: 124%;
    max-width: 62rem;
  }
}

.search-no-result {
  font-size: 1.9rem;
  max-width: 50rem;
}

/*
* Form
*/
.search-template .search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 52px;
  width: 100%;

  position: relative;
  
  margin: 2.2rem 0 5rem;

  @include responsive(LG) {
    height: 5.8rem;
    max-width: 62rem;
    margin: 4.2rem 0 9rem;
  }
  
  form {
    box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    position: relative;
  }

  svg {
    margin-left: 1.6rem;
  }

  .search_input {
    flex: 1;
    border: none;
    outline: none;
    height: 98%;
    display: inline-block;
    padding-left: 10px;

    font-family: var(--font-body-family);

    font-weight: 500;
    font-size: 1.7rem;
    line-height: 144%;

    box-shadow: 0px 10px 60px -10px rgba(227, 178, 157, 0.25);
  }

  ::placeholder {
    font-family: var(--font-body-family);
    color: color(base-primary-accent-3);
  }

  input:placeholder-shown + button {
    opacity: 0;
    pointer-events: none;
  }
  
  button[type='reset'] {
    position: absolute;
    border: none;
    display: block;
    line-height: 16px;
    font-size: 23px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    text-decoration: none !important;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;

    @include responsive(LG) {
      bottom: unset;
      z-index: 10;
      top: 2.2rem;
    }
  }

  .xo-search__result {
    border-radius: 20px;

    position: absolute;
    width: 100%;
    top: calc(100% + 5px);

    margin: 0;

    z-index: 20;
  }

  .xo-result__list {
    margin-left: 5.5rem;
  }

  .xo-result__item {
    margin-bottom: 10px;
    &:first-child {
      margin-top: 2.3rem;
    }
  }

  .xo-result__count {
    margin-top: 3.8rem;
    margin-bottom: 2.4rem;
    button {
      font-weight: 800;
    }
  }

  a {
    text-transform: lowercase;
    font-weight: 500;
  }

  button {
    padding: 0;
    text-decoration: underline;
  }
}

/*
* Pagination
*/
.search-template~.pagination-wrapper {
  margin-top: 0;
  margin-bottom: 11rem;
  @include responsive(LG) {
    margin-top: 6.5rem;
    margin-bottom: 18rem;
  }

  .pagination__btn--is-disable {
    background-color: color(base-secondary-accent-3);
    path { stroke: rgba(240, 81, 13, 0.4) }
  }
}