{% case section.settings.products_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-6 xo-col-lg-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-6 xo-col-lg-3'%}
{% endcase %}

{% paginate search.results by section.settings.products_per_page %}

  <div class="search-template 
    {% if settings.theme_layout == 'layout2' %} search-template-2 {% endif %}
    {% if settings.theme_layout == 'layout3' %} search-template-3 {% endif %}
  ">

    {% if search.performed == false %}
      <div class="search-title text-center">
        <h3>{{ 'templates.search.title' | t }}</h3>
      </div>
    {% else %}
      <div class="search-title text-center">
        <h3>
          <!-- Showing {{ search.results_count }} results for your search "{{ search.terms }}" -->
          {{ 'templates.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        </h3>
      </div>
    {% endif %}

    <div class="search__form xo-container">
      <form action="{{ routes.search_url }}" method="get" role="search">
        <button type="submit" class="search__icon">
          {% render 'icon-search' %}
        </button>
        <input
          type="search"
          name="q"
          class="search_input"
          placeholder="{{ 'sections.header.search_placeholder' | t }} ..."
          autocomplete="off"
        >
        <button type="reset">&times;</button>
        <input name="options[prefix]" type="hidden" value="last">
        <div class="xo-search__result xo-row">
          <ul class="xo-result__list"></ul>
        </div>
      </form>
    </div>

    {% if search.performed and search.results_count == 0 %}
      <div class="search-no-result text-center">
        <p>{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      </div>
    {% endif %}

    {% if search.performed and search.results.size > 0 %}
      <div class="xo-container">
        <div class="xo-row">
          {%- for item in search.results -%}
            {% if item.object_type == 'product' %}
              <div class="{{ gridClassName }} product-item">
                {% 
                  render 'product-card', 
                  product: item, 
                  index: forloop.index, 
                  tag: item.tags[0] 
                %}
              </div>
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
  </div>

  {%- if paginate.pages > 1 -%}
    {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
  {% else %}
    <style>
        .search-template {
          padding-bottom: 70px;
        }

        @media only screen and (min-width: 768px) {
          .search-template {
            padding-bottom: 140px;
          }
        }
    </style>
  {%- endif -%}

{% endpaginate %}

<script>
  var limitResult = {{ section.settings.limit_result }};
  var number = {{ search.results_count }}
</script>

<style scoped>
  .search-title h3,
  .search_input,
  button[type='reset']  {
    color: {{ section.settings.color_text }};
  }

  .search-template form, 
  .search-template .search_input {
    border-radius: var(--border-radius-input);
    background: {{ section.settings.bg_input }};
  }

  .search-template  form svg {
    fill: {{ section.settings.color_text }};
  }

  /* Result */
  .xo-search__result  {
    background: {{ section.settings.bg_result }};
  }
  .xo-result__item a,
  .xo-result__count button {
    color: {{ section.settings.color_text_result }};
  }
</style>

