{% comment %}
    Renders background image mobile and background image desktop

    Usage:
    {% render 'background-image', section: section %}
{% endcomment %}

{%- if image_desktop != blank -%}
  <div class="background__img background__img-desktop">
    <img srcset="{%- if image_desktop.width >= 375 -%}{{ image_desktop | img_url: '375x' }} 375w,{%- endif -%}
      {%- if image_desktop.width >= 400 -%}{{ image_desktop | img_url: '400x' }} 400w,{%- endif -%}
      {%- if image_desktop.width >= 500 -%}{{ image_desktop | img_url: '500x' }} 500w,{%- endif -%}
      {%- if image_desktop.width >= 600 -%}{{ image_desktop | img_url: '600x' }} 600w,{%- endif -%}
      {%- if image_desktop.width >= 700 -%}{{ image_desktop | img_url: '700x' }} 700w,{%- endif -%}
      {%- if image_desktop.width >= 800 -%}{{ image_desktop | img_url: '800x' }} 800w,{%- endif -%}
      {%- if image_desktop.width >= 900 -%}{{ image_desktop | img_url: '900x' }} 900w,{%- endif -%}
      {%- if image_desktop.width >= 1000 -%}{{ image_desktop | img_url: '1000x' }} 1000w,{%- endif -%}
      {%- if image_desktop.width >= 1100 -%}{{ image_desktop | img_url: '1100x' }} 1100w,{%- endif -%}
      {%- if image_desktop.width >= 1200 -%}{{ image_desktop | img_url: '1200x' }} 1200w,{%- endif -%}
      {%- if image_desktop.width >= 1300 -%}{{ image_desktop | img_url: '1300x' }} 1300w,{%- endif -%}
      {%- if image_desktop.width >= 1400 -%}{{ image_desktop | img_url: '1400x' }} 1400w,{%- endif -%}
      {%- if image_desktop.width >= 1500 -%}{{ image_desktop | img_url: '1500x' }} 1500w,{%- endif -%}
      {%- if image_desktop.width >= 1600 -%}{{ image_desktop | img_url: '1600x' }} 1600w,{%- endif -%}
      {%- if image_desktop.width >= 1700 -%}{{ image_desktop | img_url: '1700x' }} 1700w,{%- endif -%}
      {%- if image_desktop.width >= 1800 -%}{{ image_desktop | img_url: '1920x' }} 1920w,{%- endif -%}
      {%- if image_desktop.width >= 1900 -%}{{ image_desktop | img_url: '1920x' }} 1920w,{%- endif -%}
      {%- if image_desktop.width >= 2000 -%}{{ image_desktop | img_url: '2000x' }} 2000w,{%- endif -%}
      {%- if image_desktop.width >= 2800 -%}{{ image_desktop | img_url: '2800x' }} 2800w{%- endif -%}"
      sizes="100vw"
      src="{{ image_desktop | img_url: '2800x' }}"
      loading="lazy"
      alt="{{ image_desktop.alt | escape }}"
      width="{{ image_desktop.width }}"
      height="{{ image_desktop.width | divided_by: image_desktop.aspect_ratio }}">
  </div>
{%- else -%}
  <div class="background__img{% if image_desktop == blank %} placeholder-1{% endif %}">
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{%- endif -%}

{%- if image_mobile != blank -%}
  <div class="background__img background__img-mobile">
    <img srcset="{%- if image_mobile.width >= 375 -%}{{ image_mobile | img_url: '375x' }} 375w,{%- endif -%}
      {%- if image_mobile.width >= 400 -%}{{ image_mobile | img_url: '400x' }} 400w,{%- endif -%}
      {%- if image_mobile.width >= 500 -%}{{ image_mobile | img_url: '500x' }} 500w,{%- endif -%}
      {%- if image_mobile.width >= 600 -%}{{ image_mobile | img_url: '600x' }} 600w,{%- endif -%}
      {%- if image_mobile.width >= 700 -%}{{ image_mobile | img_url: '700x' }} 700w,{%- endif -%}
      {%- if image_mobile.width >= 800 -%}{{ image_mobile | img_url: '800x' }} 800w,{%- endif -%}
      {%- if image_mobile.width >= 900 -%}{{ image_mobile | img_url: '900x' }} 900w,{%- endif -%}
      {%- if image_mobile.width >= 1000 -%}{{ image_mobile | img_url: '1000x' }} 1000w,{%- endif -%}
      {%- if image_mobile.width >= 1100 -%}{{ image_mobile | img_url: '1100x' }} 1100w,{%- endif -%}
      {%- if image_mobile.width >= 1200 -%}{{ image_mobile | img_url: '1200x' }} 1200w,{%- endif -%}
      {%- if image_mobile.width >= 1300 -%}{{ image_mobile | img_url: '1300x' }} 1300w,{%- endif -%}
      {%- if image_mobile.width >= 1400 -%}{{ image_mobile | img_url: '1400x' }} 1400w,{%- endif -%}
      {%- if image_mobile.width >= 1500 -%}{{ image_mobile | img_url: '1500x' }} 1500w,{%- endif -%}
      {%- if image_mobile.width >= 1600 -%}{{ image_mobile | img_url: '1600x' }} 1600w,{%- endif -%}
      {%- if image_mobile.width >= 1700 -%}{{ image_mobile | img_url: '1700x' }} 1700w,{%- endif -%}
      {%- if image_mobile.width >= 1800 -%}{{ image_mobile | img_url: '1920x' }} 1920w,{%- endif -%}
      {%- if image_mobile.width >= 1900 -%}{{ image_mobile | img_url: '1920x' }} 1920w,{%- endif -%}
      {%- if image_mobile.width >= 2000 -%}{{ image_mobile | img_url: '2000x' }} 2000w,{%- endif -%}
      {%- if image_mobile.width >= 2800 -%}{{ image_mobile | img_url: '2800x' }} 2800w{%- endif -%}"
      sizes="100vw"
      src="{{ image_mobile | img_url: '700x' }}"
      loading="lazy"
      alt="{{ image_mobile.alt | escape }}"
      width="{{ image_mobile.width }}"
      height="{{ image_mobile.width | divided_by: image_mobile.aspect_ratio }}"
    >
  </div>
{%- else -%}
  <div class="background__img{% if image_mobile == blank %} placeholder-2{% endif %}">
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{%- endif -%}
