<div class="faq-container xo-container">
  <h1 class="faq__title h2">{{ page.title }}</h1>
  <p class="faq__subtext">
    {% if page.content == blank %}
      {{ section.settings.subtitle }}
    {% else %}
      {{ page.content }}
    {% endif %}
  </p>

  <!-- <div class="faq__tag-list">
    {% for block in section.blocks %}
      {% if block.type == 'tag' %}
        <div class="faq__tag-item">{{ block.settings.tag }}</div>
      {% endif %}
    {% endfor %}
  </div> -->

  <div class="faq__question-list {% if section.blocks.size > 0 %}faq__question-list--content{% endif %} {% if section.blocks.size == 2 %}faq__question-list--secondary{% endif %}">
    {% for block in section.blocks %}
      <div class="faq__question-item">
        <div class="faq__question-content">
          <h4 class="faq__question-title">{{ block.settings.question }}</h4>
          <div class="faq__question-subtext">{{ block.settings.answer }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
