.faq-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include responsive(MD) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.faq__subtext {
  margin: 12px 0 40px;
  width: 100%;
  font-size: 1.6rem;

  @include responsive(MD) {
    margin: 17px auto 80px;
    width: 515px;
    font-size: 1.9rem;
  }
}

// .faq__tag-list {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   justify-content: space-between;

//   margin-bottom: 40px;

//   @include responsive(MD) {
//     margin-bottom: 80px;
//     max-width: 995px;
//     margin: 0 auto 80px;
//     justify-content: center;
//   }
// }

// .faq__tag-item {
//   font-size: 1.2rem;
//   font-weight: 800;
//   text-transform: uppercase;
//   color: #bf8d77;
//   background: #fff;
//   padding: 10px 20px;
//   border-radius: 20px;
//   border: 1px solid #ffe6c9;
//   margin-bottom: 7px;
//   cursor: pointer;

//   &:nth-child(odd) {
//     margin-right: 7px;
//   }


//   @include responsive(MD) {
//     font-size: 1.3rem;
//     margin-bottom: 10px;

//     &:nth-child(odd) {
//       margin-right: 0;
//     }

//     &:not(:first-child) {
//       margin-left: 10px;
//     }
//   }
// }

.faq__question-list--content {
  margin-bottom: 70px;

  @include responsive(LG) {
    margin: 0 auto 150px;
  }
}

.faq__question-list {
  column-count: 1;

  @include responsive(LG) {
    display: block;
    column-count: 2;
    column-gap: 30px;
    max-width: 995px;
    width: 995px;
  }

  &.faq__question-list--secondary {
    display: flex;
    flex-direction: column;

    @include responsive(MD) {
      flex-direction: row;
      column-gap: 0;
    } 

    .faq__question-item {
      width: 100%;

      @include responsive(MD) {
        width: calc(50% - 15px);
      }
    }

    .faq__question-item:first-child {
      @include responsive(MD) {
        margin-right: 15px;
      }
    }

    .faq__question-item:last-child {
      @include responsive(MD) {
        margin-left: 15px;
      }
    }
  }
}

.faq__question-item {
  .faq__question-content {
    padding: 36px 38px;
    background: var(--color-base-secondary-accent-3);
    text-align: left;
    border: 1px solid var(--color-base-secondary-accent-1);
    box-sizing: border-box;
    border-radius: 18px;
    margin-bottom: 10px;
    
    @include responsive(MD) {
      border-radius: 25px;
      padding: 40px 48px;
      break-inside: avoid;
      width: 100%;
      display: inline-block;
      transition: all .3s linear;
      margin-bottom: 25px;
    }
  }
}

.faq__question-title {
  margin-bottom: 14px;

  @include responsive(MD) {
    margin-bottom: 16px;
  }
}


