.popular-products__header {
  margin-bottom: 3rem;
  @include responsive(MD) {
    margin-bottom: 6.4rem;
    p {
      max-width: 68rem;
      margin: 0 auto;
    }
  }
}

.popular-products__list {
  > div {
    margin-bottom: 5.5rem;
    @include responsive(MD) { margin-bottom: 5.5rem }
  }
}

.popular-products__link {
  margin-top: 4rem;

  @include responsive(MD) {
    margin-top: 8rem;
  }
}

#popularSlide {
  .product-card, .product-card-2 {
    box-shadow: unset;

    &:hover {
      box-shadow: unset;
    }
  }

  .splide__track {
    border-radius: 2.5rem;
  }

  .splide__arrow {

    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    svg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-base-primary-accent-1);
    }
  }

  .splide__arrow:disabled {
    @extend .navigation__btn--is-disable;
  }

  .splide__arrow.splide__arrow--prev {
    left: 1rem;

    @include responsive(MD) {
      left: -6rem;
    }
  }

  .splide__arrow.splide__arrow--next {
    right: 1rem;

    @include responsive(MD) {
      right: -6rem;
    }
  }
}