{% case section.settings.product_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-3'%}
{% endcase %}

<div class="xo-container">
  <div class="popular-products__header text-center">
    <h2 style="margin-bottom: 1rem;">{{ section.settings.heading }}</h2>
    <p>{{ section.settings.subheading }}</p>
  </div>

  {%- if section.settings.enable_carousel -%}
    <popular-product-slider>
      <div class="splide popular-slider-container" id="popularSlide">
        <div class="splide__track">
          <div class="splide__list">
            {% for product in section.settings.collection.products limit:section.settings.limit_product %}
                {%- assign product = all_products[product] -%}
                <div class="splide__slide">
                  {% render 'product-card', product: product, index: forloop.index, tag: product.tags[0], show_sale: section.settings.show_sale %}
                </div>

                {% else %}
                  {% for i in (1..3) %}
                    <div class="splide__slide">
                      {% render 'product-card', index: forloop.index %}
                    </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </popular-product-slider>
  {%- else -%}
    <div class="popular-products__list xo-row">
      {% for product in section.settings.collection.products limit:section.settings.limit_product %}
        {%- assign product = all_products[product] -%}
        <div class="{{ gridClassName }}">
          {% render 'product-card', product: product, index: forloop.index, tag: product.tags[0], show_sale: section.settings.show_sale %}
        </div>

        {% else %}
          {% for i in (1..3) %}
            <div class="{{ gridClassName }}">
              {% render 'product-card', index: forloop.index %}
            </div>
          {% endfor %}
      {% endfor %}
    </div>
  {%- endif -%}

  {%- if section.settings.label_link != '' %}
    <div class="popular-products__link xo-d-flex xo-justify-content-center">
      <a
        href="{{ section.settings.url_link }}"
        class="text--link text-center"
      >
        {{ section.settings.label_link }}
      </a>
    </div>
  {% endif %}
</div>

<style>
  #shopify-section-{{section.id}} {
    padding: 70px 0;
  }

  @media (min-width: 768px) {
    #shopify-section-{{section.id}} {
      padding: 170px 0;
    }
  }
</style>
