$color-base: #f0510d;

// theme about 1
.about-page {
  padding-top: 60px;
  padding-bottom: 110px;

  @include responsive(MD) {
    // max-width: 100%;
    padding-top: 165px;
    padding-bottom: 180px;
  }

  .about-page__title {
    padding-bottom: 30px;
    font-weight: normal;
  
    @include responsive(LG) { 
      padding-bottom: 50px;
    }
  }
  
  .about-page__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 144%;
    order: 1;
    margin-top: 175px;
  
    @include responsive(LG) {
      order: 0;
      margin-top: 0;
    }
  
  }
  
  .about-social__text {
    font-family: var(--font-heading-family);
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 132%;
    margin-top: 42px;
    color: var(--color-base-primary-accent-2);
    margin-bottom: 24px;
  
    @include responsive(MD) {
      margin-bottom: 20px;
      margin-top: 50px;
      font-weight: normal;
      font-size: 2.2rem;
    }
  }
  
  .about-social__list {
    list-style: none;
    display: flex;
    align-items: center;
  
    svg {
      width: 20px;
      height: 20px;
    }
  
    path {
      fill: var(--color-base-primary-accent-2);
      transition: all .2s linear;
    }
  
    a {
      width: 50px;
      height: 50px;
      margin-right: 7px;
  
      display: inline-flex;
      background: var(--color-base-secondary-accent-1);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transition: all .3s linear;
  
      &:hover {
        background: $color-base;
      }
  
      &:hover path {
        fill: var(--color-base-secondary-accent-3);
      }
    }
  }
  
  .about-page__content {
    display: flex;
    flex-direction: column;
  
    @include responsive(LG) {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .about-page__image {
    position: relative;
    order: 0;
    border-radius: 25px;
  
    @include responsive(LG) {
      order: 1;
      padding-left: 5%;
    }
  
    svg {
      stroke: var(--color-base-secondary-accent-3);
      background: #000;
      border-radius: 25px;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  
  .about-page__img-first {
    position: relative;
    width: 147px;
    height: 187px;
    z-index: 10;
    transform: rotate(-1.24deg);
    box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
    top: 106px;
    border-radius: 25px;
  
    @include responsive(MD) {
      width: 177px;
      height: 217px;
      top: 83px;
      left: -98px;
      margin: 0 auto;
    }
  
    @include responsive(LG) {
      width: 311px;
      height: 389px;
      top: unset;
      left: unset;
      margin: unset;
    }
  }
  
  .about-page__img-second {
    position: absolute;
    width: 214px;
    height: 267px;
    z-index: 5;
    transform: rotate(14.69deg);
    left: 92px;
    top: 30px;
    border-radius: 25px;
  
    @include responsive(MD) {
      left: 55%;
      transform: translateX(-50%) rotate(14.69deg);
      width: 244px;
      height: 277px;
    }
  
    @include responsive(LG) {
      transform: translateX(-50%) rotate(14.69deg);
      min-width: 400px;
      max-width: 455px;
      height: 567px;
      left: 59%;
      top: -145px;
    }
  }  
}

// theme about 2
.about-page-2 {
  padding-top: 60px;
  padding-bottom: 110px;

  @include responsive(MD) {
    // max-width: 100%;
    padding-top: 165px;
    padding-bottom: 180px;
  }

  .about-page__title {
    padding-bottom: 30px;
    font-weight: normal;
  
    @include responsive(LG) { 
      padding-bottom: 50px;
    }
  }
  
  .about-page__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 144%;
    order: 1;
    margin-top: 30px;
  
    @include responsive(LG) {
      order: 0;
      margin-top: 0;
    }
  
  }
  
  .about-social__text {
    font-family: var(--font-heading-family);
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 132%;
    margin-top: 42px;
    color: var(--color-base-primary-accent-2);
    margin-bottom: 24px;
  
    @include responsive(MD) {
      margin-bottom: 20px;
      margin-top: 50px;
      font-weight: normal;
      font-size: 2.2rem;
    }
  }
  
  .about-social__list {
    list-style: none;
    display: flex;
    align-items: center;
  
    svg {
      width: 20px;
      height: 20px;
    }
  
    path {
      fill: var(--color-base-primary-accent-2);
      transition: all .2s linear;
    }
  
    a {
      width: 50px;
      height: 50px;
      margin-right: 7px;
  
      display: inline-flex;
      background: var(--color-base-secondary-accent-1);
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      transition: all .3s linear;
  
      &:hover {
        background: $color-base;
      }
  
      &:hover path {
        fill: var(--color-base-secondary-accent-3);
      }
    }
  }
  
  .about-page__content {
    display: flex;
    flex-direction: column;
  
    @include responsive(LG) {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .about-page__image {
    position: relative;
    order: 0;
    border-radius: 10px;
  
    @include responsive(LG) {
      order: 1;
    }
  
    svg {
      stroke: var(--color-base-secondary-accent-3);
      background: #000;
      border-radius: 10px;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  
  .about__image-img {
    width: 100%;
    border-radius: 10px;
    margin-left: auto;

    @include responsive(XL) {
      width: 685px;
      height: 800px;
    }
  }  
}