<div class="footer-2">
  <div class="xo-container">
    <div class="xo-row">
      <!-- Heading  -->
      <div class="footer__heading xo-col-12 xo-col-lg-7">
        <div class="footer__logo">
          {% if section.settings.logo != blank %}
            <img srcset="{% if section.settings.logo.width >= 350 %}{{ section.settings.logo | img_url: '350x' }} 350w,{% endif %}
                {% if section.settings.logo.width >= 700 %}{{ section.settings.logo | img_url: '700x' }} 700w,{% endif %}
                {% if section.settings.logo.width >= 749 %}{{ section.settings.logo | img_url: '749x' }} 749w,{% endif %}
                {% if section.settings.logo.width >= 1498 %}{{ section.settings.logo | img_url: '1498x' }} 1498w,{% endif %}
                {% if section.settings.logo.width >= 1100 %}{{ section.settings.logo | img_url: '1100x' }} 1100w,{% endif %}
                {% if section.settings.logo.width >= 2200 %}{{ section.settings.logo | img_url: '2200x' }} 2200w,{% endif %}"
              sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
              src="{{ section.settings.logo | img_url: '1100x' }}"
              loading="lazy"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | escape }}">
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>

        <h3 class="footer__title">
          {{ section.settings.title }}
        </h3>

        <!-- Social  -->
        {% if section.settings.show_social %}
          <div class="footer-social">
            <ul class="footer-social__list">

              {%- assign socials = "Facebook LinkedIn Instagram Twitter Pinterest  Tumblr Snapchat YouTube Vimeo" | split: ' ' %}
              {% for social in socials %}
                {% assign social_link = social | prepend: 'social_' | append: '_link' | downcase %}
                {% assign icon_link = social | downcase %}

                {% if settings[social_link] != blank %}
                  {% assign social_default = false %}
                  <li class="footer-social__item">
                    <a href="{{ settings[social_link] | escape }}">
                      {% render 'icon' with icon_link %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>
        {% endif %}
      </div>

      <div class="footer-content xo-col-12 xo-col-lg-5">
        <!-- Menu list -->
        <div class="xo-row">
          {% for block in section.blocks %}
            {% assign footer_linklist = block.settings.menu_main %}
            {% if block.type == 'menu' %}
              
              <div class="footer-menu xo-col-6 xo-col-lg-4">
                <h4 class="footer-menu__title">{{ block.settings.menu_title }}</h4>
                <ul class="footer-menu__list">
                  {% for link in linklists[footer_linklist].links %}
                    <li class="footer-menu__item">
                      <a class="footer-menu-link" href="{{ link.url }}">
                        <span class="h4">{{ link.title | escape }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div> 

            {% endif %}
            
          {% endfor %}

          <!-- newsletter -->
          <div class="footer__newsletter xo-col-12">
            <h3 class="footer__newsletter-heading">{{ section.settings.subcribe }}</h3>
            <form action="/contact#ContactFooter" id="ContactFooter" class="footer__newsletter-form" method="POST" novalidate="novalidate">
              <input type="email" name="contact[email]" id="ContactFooter-email" placeholder="Your email">
              <button type="submit" class="footer-form__btn-icon">{% render 'icon-arrow-right' %}</button>
              <button class="footer-form__btn-label">
                <span class="h3">
                  {{ 'newsletter.button_label' | t }}
                  {% render 'icon-arrow-right' %}
                </span>
              </button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

