.footer-2 {
  background: #FFEDF3;

  padding-top: 5.4rem;
  padding-bottom: 5rem;

  border-radius: 25px 25px 0px 0px;
  margin-top: -25px;

  @include responsive(LG) {
    margin: 6rem 3rem 3rem;
    padding-top: 10rem;
    padding-bottom: 7.2rem;
    
    border-radius: 3rem;

    transform: translateY(-3rem);

  }
}

/*
* Heading
*/
.footer-2 .footer__heading{
  .footer__logo{
    svg {
      fill: #fff;
      background: #333;
      width: 100px;
      height: 50px;
    }
  }
  .footer__title{
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
    @include responsive(LG) {
      margin-top: 2.5rem;
      margin-bottom: 5rem;

      max-width: 50rem;
    }
  }
}

/*
* Social
*/
.footer-2 .footer-social {
  svg {
    @include box(1.8rem, 1.8rem);
  }
  .footer-social__list {
    display: flex;
    @include responsive(LG) { width: fit-content }
  }
  
  .footer-social__item {
    background-color: color(base-background);
  
    @include box(4.5rem, 4.5rem);
    border-radius: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-right: 0.6rem;
  
    transition: all .3s ease;
  
    @include responsive(MD) {
      @include box(5.2rem, 5.2rem);
      margin-right: 1.2rem;
    }
  
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    svg { fill: color(base-primary-accent-2) }
  
    &:hover {
      background-color: color(base-primary-accent-2);
      box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);
  
      rect, line, path {
        fill: color(base-background);
      }
    }
  }
}

/*
* Content
*/
.footer-2 .footer-content {
  padding-top: 4rem;
  padding-bottom: 1rem;

  @include responsive(LG) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*
* Menu
*/
.footer-2 .footer-menu {
  margin-bottom: 3.2rem;

  @include responsive(LG) {
    margin-bottom: 10rem;
  }

  .footer-menu__title {
    font-size: 1.7rem;
    line-height: 128%;
    letter-spacing: 0.004em;

    color: color(base-primary-accent-2);

    margin-bottom: 1.1rem;

    @include responsive(LG) {
      font-size: 2.2rem;
      margin-bottom: 1.9rem;
    }
  }

  .footer-menu__list {
    display: flex;
    flex-direction: column;
  }

  .footer-menu__item {
    padding: 0.3rem 0;
  }

  .footer-menu-link {
    span {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 144%;
      @include responsive(LG) {
        font-size: 1.7rem;
      }
    }
  }
}

/*
* Newletter
*/
.footer-2 .footer__newsletter {

}

.footer-2 .footer__newsletter-heading {
  font-size: 1.7rem;
  line-height: 128%;
  letter-spacing: 0.004em;

  margin-bottom: 2rem;

  color: color(base-primary-accent-2);

  @include responsive(LG) {
    font-size: 2.2rem;
  }
}
/*
* Form
*/
.footer-2 .footer__newsletter-form {
  position: relative;
  width: 100%;

  @include responsive(LG) { 
    margin-top: 2.9rem;
    max-width: 49rem
  }

  input{
    @include box(100%, 5.4rem);
    border-radius: 2.7rem;
    border: none;
    padding-left: 3.2rem;
    padding-right: 6rem;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 146%;

    color: #e9a1aa;

    @include responsive(LG) { 
      @include box(100%, 6rem);
      font-size: 1.9rem; 
      padding-right: 19rem;
    }
  }

  ::placeholder {
    color: #e9a1aa;
  }

  button {
    background-color: color(base-primary-accent-2);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-form__btn-icon {
    border-radius: 100%;
  
    @include box(4.8rem, 4.8rem);
  
    @include responsive(LG) { display: none }
  
    svg { @include box(2rem, 2rem) }
    line, path { stroke: color(base-background) }
  }

  .footer-form__btn-label {
    @include responsive(LG) { display: flex }

    display: none;
    justify-content: center;
    align-items: center;

    background-color: color(base-primary-accent-2);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

    outline: none;

    @include box(14rem, 4.8rem);

    border-radius: var(--border-radius-button);

    @include responsive(LG) {
      @include box(17rem, 5.2rem);
      top: 0.4rem;
    }

    &:hover svg {
      opacity: 1;
      right: -2.5rem;

      @include responsive(LG) {
        right: -3rem;
      }
    }
    &:hover span {
      transform: translate3d(-1.3rem, 0, 0);
    }

    span {
      display: inline-block;
      position: relative;
      transition: all 300ms ease-out;
      will-change: transform;

      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0.004em;
      color: color(base-background);
    }
  
    svg {
      position: absolute;
      right: 0rem;
      top: 50%;

      opacity: 0;

      transform: translateY(-50%);
      transition: all 300ms ease-out;
      will-change: right, opacity;

      @include box(2rem, 2rem);
      
      line, path { stroke: color(base-background) }
    }
  }
}