{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{% assign current_variant = product.selected_or_first_available_variant %}

<div class="main-product-container" id="main-product-container">
  <div class="xo-container main-product">
    <div class="xo-row" style="align-items: center;">
      <div class="xo-col-md-6 main-product__slider">
        <div class="xo-slider is-style-02">
          <slider-thumb
            class="js"
            data-primary-slider-id="primary-slider"
            data-secondary-slider-id="secondary-slider"
            data-style="2"
          >
            <div id="primary-slider" class="splide">
              <div class="splide__arrows">
                <div class="splide__arrow splide__arrow--prev navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
                  {% render 'icon-arrow-right' %}
                </div>
                <div class="splide__arrow splide__arrow--next navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
                  {% render 'icon-arrow-right' %}
                </div>
              </div>

              <div class="splide__track">
                <ul class="splide__list">
                  {% for media in product.media %}
                    {% capture primary %}
                      {% case media.media_type %}
                        {% when 'image' %}
                          <li class="splide__slide product-image">
                            <img
                              srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                                      {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                                      {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                                      {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                              src="{{ media | img_url: '800x800' }}"
                              sizes="(min-width: 1200px) calc((1200px - 3rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                              loading="lazy"
                              width="576"
                              height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                              alt="{{ media.preview_image.alt | escape }}"
                            >
                          </li>
                        {% when 'external_video' %}
                          <li class="splide__slide product-external-video">
                            {{ media | external_video_tag }}
                          </li>
                        {% when 'video' %}
                          <li class="splide__slide product-video">
                            {{ media | video_tag: controls: true }}
                          </li>
                        {% when 'model' %}
                          <li class="splide__slide product-model">
                            {{ media | model_viewer_tag }}
                          </li>
                        {% else %}
                          <li class="splide__slide product-media">
                            {{ media | media_tag }}
                          </li>
                      {% endcase %}
                    {% endcapture %}

                    {% if section.settings.show_image_product %}
                      {{ primary }}
                    {% elsif section.settings.show_image_product == false and forloop.index > 2 %}
                      {{ primary }}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div id="secondary-slider" class="splide">
              <div class="splide__track">
                <ul class="splide__list">
                  {% for media in product.media %}
                    {% capture secondary %}
                      {% case media.media_type %}
                        {% when 'image' %}
                          <li class="splide__slide product-image">
                            <img src="{{ media | img_url: '200x200', crop: 'center'}}" alt="{{ media.alt }}">
                          </li>
                        {% when 'external_video' %}
                          <li class="splide__slide product-external-video">
                            {{ media | external_video_tag }}
                          </li>
                        {% when 'video' %}
                          <li class="splide__slide product-video">
                            {{ media | video_tag: controls: true }}
                          </li>
                        {% when 'model' %}
                          <li class="splide__slide product-model">
                            {{ media | model_viewer_tag }}
                          </li>
                        {% else %}
                          <li class="splide__slide product-media">
                            {{ media | media_tag }}
                          </li>
                      {% endcase %}
                    {% endcapture %}
                    
                    {% if section.settings.show_image_product %}
                      {{ secondary }}
                    {% elsif section.settings.show_image_product == false and forloop.index > 2 %}
                      {{ secondary }}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </slider-thumb>
          <noscript>
            <div class="slide-product">
              <div class="product__feature-image">
                {% if product.featured_image != blank %}
                  <img
                    srcset="{% if product.featured_image.width >= 288 %}{{ product.featured_image | img_url: '288x' }} 288w,{% endif %}
                            {% if product.featured_image.width >= 576 %}{{ product.featured_image | img_url: '576x' }} 576w,{% endif %}
                            {% if product.featured_image.width >= 550 %}{{ product.featured_image | img_url: '550x' }} 550w,{% endif %}
                            {% if product.featured_image.width >= 1100 %}{{ product.featured_image | img_url: '1100x' }} 1100w{% endif %}"
                    src="{{ media | img_url: '550x550' }}"
                    sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                    loading="lazy"
                    width="576"
                    height="{{ 576 | divided_by: product.featured_image.aspect_ratio | ceil }}"
                    alt="{{ product.featured_image.alt | escape }}"
                  >
                {% endif %}
              </div>
            </div>
          </noscript>
        </div>
      </div>
      <div class="xo-col-md-4 xo-offset-md-1">
        {% form "product", product %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when '@app' %}
                {% render block %}

              {% when 'text' %}
                <div class="main-product__tags">
                  {% for tag in product.tags %}
                    <span class="main-product__tag">
                      {{ block.settings.text | default: tag }}
                    </span>
                  {% endfor %}
                </div>

              {% when 'title' %}
                <div class="main-product__title">
                  <h1 class="h2" {{ block.shopify_attributes }}>
                    {{ product.title }}
                  </h1>
                </div>

                {% if section.settings.use_product_rating %}
                  <div class="main-product__rating">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                {% endif %}

              {% when 'price' %}
                <div class="main-product__price">
                  <div class="price">
                    <span class="price-reg body-30 js" v-html="hugMoneyFormat(variantSelected.price)"></span>
                    <noscript>
                      <span class="price-reg body-30">{{ current_variant.price | money }}</span>
                    </noscript>
      
                    {% if current_variant.compare_at_price > current_variant.price %}
                      <span class="price-sale body-30" style="margin-left: 1rem;"><s>{{ current_variant.compare_at_price | money }}</s></span>
                    {% endif %}
                  </div>
                </div>

              {% when 'description' %}
                {% if product.description != blank %}
                  <div class="main-product__description">
                    {{ product.description }}
                  </div>
                {% endif %}

              {% when 'variant_picker' %}
                <div class="select-wrapper">
                  <select name="id" id="product-select" class="product-form__select cursor-pointer {% if settings.theme_layout == 'layout2' %}btn--is-border{% endif %}" @change="handleChangeVariant(Number($event.target.value))">
                    {% for variant in product.variants %}
                      <option value="{{ variant.id }}" class="caption-30" :selected="variantSelected.id === {{ variant.id }}">
                      {{ variant.title }}
                      </option>
                    {% endfor %}
                  </select>
                </div>

              {% when 'quantity_selector' %}
                <div class="input-number" id="inputNumber">
                  <div class="input-number-wrapper {% if settings.theme_layout == 'layout2' %}btn--is-border{% endif %}">
                    <button class="product-form__control flex-center js" type="button" @click="changeQuantity('dec')">
                      {% render 'icon-minus' %}
                    </button>
                    <input class="product-form__quantity caption-30 text-center" type="number" name="quantity" min="1" :value="quantity" value="1" v-model="quantity">
                    <button class="product-form__control flex-center js" type="button" @click="changeQuantity('inc')">
                      {% render 'icon-plus' %}
                    </button>
                  </div>
                </div>

              {% when 'buy_buttons' %}
                <div class="product-form__button" {{ block.shopify_attributes }}>
                  <add-to-cart
                    class="btn btn--is-fullwidth btn--is-large add-to-cart js"
                    :class="{'btn--is-soldout': !variantSelected.available}"
                    :data-variant-id="variantSelected.id"
                    :data-quantity="quantity">
                      {{ 'products.product.add_to_cart' | t }}
                  </add-to-cart>
                  <noscript>
                    <button class="btn btn--is-fullwidth btn--is-large add-to-cart" type="submit" name="add">
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </button>
                  </noscript>
                  {% if block.settings.show_dynamic_checkout %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {% endcase %}       
          {% endfor %}
        {% endform %}
      </div>
    </div>
  </div>
</div>

<style>
  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding: 0 9rem;
    }
  }

  .main-product-container {
    background-color: var(--color-base-secondary-accent-1);
  }

  .product-form__select,
  .input-number-wrapper,
  .input-number-wrapper input,
  .input-number-wrapper input[type=number] {
    color: var(--color-base-primary-accent-2);
    background-color: {{ section.settings.select_input }};
  }

  .product-form__control svg path{
    stroke: var(--color-base-primary-accent-2);
  }

  .select-wrapper::after {
    border-right: 3px solid var(--color-base-primary-accent-2);
    border-bottom: 3px solid var(--color-base-primary-accent-2);
  }

  {% if section.settings.use_section_setting %}
    .main-product-container {
      background-color: {{section.settings.background}};
    }

    .product-form__select,
    .input-number-wrapper,
    .input-number-wrapper input,
    .input-number-wrapper input[type=number] {
      color: {{ section.settings.color_input }}
    }

    .select-wrapper::after {
      border-right: 3px solid {{ section.settings.color_input }};
      border-bottom: 3px solid {{ section.settings.color_input }};
    }

    .product-form__control svg path{
      stroke: {{ section.settings.color_input }};
    }
  {% endif %}

</style>
<script type="text/javascript">
  var productJson = {{ product | json }}
</script>
