.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;

  @include responsive(LG) {
    &::before {
      display: none !important;
    }
  }

  .splide__arrows {
    display: none;
  }

  /** Pagination */
  .splide__pagination {
    transform: translate(-50%, -3rem);
    li {
      margin: 0 1rem;
      button {
        @include box(1rem, 1rem);
        transform: scale(1);
      }
    }

    @include responsive(LG) {
      transform: translate(-50%, -7rem);
      li {
        margin: 0 1.9rem;
      }
    }
  }
  .splide__pagination__page.is-active {
    background: color(base-primary-accent-2);
  }
}

.hero, .hero__content {
  height: 60rem;
  @include responsive(LG) {
    height: calc(100vh - 70px);
  }
}

/*
* Content
*/
.hero__content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__box {
  @include box(100%, 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  .hero__heading {
    font-size: 3rem;
    line-height: 116%;

    @include responsive(LG) { 
      font-size: 5.8rem;
      max-width: 60rem;
    }
  }

  .hero__text {
    max-width: 28.6rem;

    margin-top: 1.4rem;

    @include responsive(LG) { 
      max-width: 50rem;
      margin-top: 2rem;
    }

    span {
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 140%;
    }
  }

  .hero__buttons {
    margin-top: 3rem;
    @include responsive(LG) { margin-top: 5rem }
  }
}