<div class="hero">
  <hero-slider>
    <div class="splide hero-slider-container"
      data-splide='{ "rewind": {{ section.settings.slide_loop }}, "autoplay": {{ section.settings.auto_play }}, "interval": {{ section.settings.slide_delay }}  }'
    >
      <div class="splide__track">
        <div class="splide__list">
          {% for block in section.blocks %}
            <div class="splide__slide">
              <!-- Image  -->
              {% render 'background-image', image_desktop: block.settings.image_desktop, image_mobile: block.settings.image_mobile %}

              <!-- Content  -->
              <div class="xo-container hero__content">
                <div
                  class="hero__box {{ align_class }}
                  {% if block.settings.text_position == 'flex-start' %}
                    text-left
                  {% elsif block.settings.text_position == 'center' %}
                    text-center
                  {% else %}
                    text-right
                  {% endif %}"
                  style="align-items: {{ block.settings.text_position }};"
                >
                  <h2 class="hero__heading" style="color: {{ block.settings.text_color }}">
                    {{ block.settings.heading | escape }}
                  </h2>
                  <div class="hero__text">
                    <span style="color: {{ block.settings.text_color }}">{{ block.settings.text | escape }}</span>
                  </div>
                  <div class="hero__buttons">
                    {%- if block.settings.button_label != blank -%}
                      <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.button_effect }}">{{ block.settings.button_label | escape }}</a>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </hero-slider>
</div>
