.article-template {
  margin-top: 5rem;
  margin-bottom: 7rem;

  @include responsive(LG) {
    margin-top: 12.8rem;
    margin-bottom: 15rem;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
* Tag
*/
.article-template-tag{
  font-size: 13px;
  line-height: 146%;
  font-weight: 700;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: color(base-primary-accent-2);
}

/*
* Title
*/
.article-template__heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.4rem;
  margin-bottom: 3.2rem;

  @include responsive(LG) {
    margin-top: 2.8rem;
    margin-bottom: 7.4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 124%;
    max-width: 92.5rem;
    margin: 0;

    @include responsive(LG) {
      font-size: 5.8rem;
      line-height: 116%;
    }
  }
}

/*
* Social
*/
.article-template__social-sharing {
  margin-bottom: 3.6rem;
  @include responsive(LG) {
    margin-bottom: 8.1rem;
  }

  ul { display: flex }

  li {
    @include box(5rem, 5rem);

    display: flex;
    justify-content: center;
    align-items: center;

    background: color(base-secondary-accent-1);

    border-radius: 100%;

    transition: all .2s linear;

    @include responsive(LG) {
      @include box(5.8rem, 5.8rem);
    }

    &:not(:last-child) {
      margin-right: 1.2rem;
      @include responsive(LG) {
        margin-right: 1.5rem;
      }
    }

    &:hover {
      background: color(base-primary-accent-1);
      cursor: pointer;
      path, line {
        stroke: color(base-secondary-accent-3);
        fill: color(base-secondary-accent-3);
      }
    }
  }

  a {
    transform: translateY(3px);
    @include responsive(LG) {
      transform: translateY(5px);
    }
    svg { 
      @include box(2.4rem, 2.4rem);
      path {
        fill: color(base-primary-accent-2);
      }
    }
  }
}

/*
* Image
*/
.article-template__hero-container {
  @include responsive(LG) {
    margin-bottom: 5.8rem;
  }
  img { 
    @include box(100%, auto);
    border-radius: 12px;

    @include responsive(LG) {
      border-radius: 35px;
    }
  }
}

/*
* Content
*/
.article-template__content {
  padding-bottom: 5rem;
  @include responsive(LG) {
    padding-bottom: 7rem;
  }
  h3 {
    font-size: 19px;
    line-height: 132%;

    letter-spacing: 0.004em;
    margin-top: 2.6rem;

    @include responsive(LG) {
      font-size: 22px;
      margin-top: 2.2rem;
    }

    // > * {
    //   font-size: inherit;
    //   font-family: inherit;
    //   font-weight: inherit;
    //   color: inherit;
    // }
  }

  h2 {
    font-size: 22px;
    line-height: 136%;
    margin-top: 4rem;
    margin-bottom: 1rem;

    @include responsive(LG) {
      font-size: 30px;
      margin-top: 5rem;
    }

    // > * {
    //   font-size: inherit;
    //   font-weight: inherit;
    //   font-family: inherit;
    //   color: inherit;
    // }
  }

  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 146%;
    margin-top: 0.8rem;

    @include responsive(LG) {
      font-size: 19px;
      margin-top: 1.4rem;
    }
  }

  ul {
    padding-top: 0.6rem;
    padding-bottom: 1.6rem;

    @include responsive(LG) {
      padding-top: 2.1rem;
    }
  }

  li {
    padding-left: 2rem;
    padding-top: 1.4rem;

    position: relative;

    font-size: 17px;
    line-height: 146%;

    @include responsive(LG) {
      font-size: 19px;
      padding-top: 1rem;
    }

    &:before {
      content: "·";
      font-size: 60px;
      vertical-align: middle;
      line-height: 20px;

      position: absolute;
      left: -0.3rem;
      // top: 1rem;
    }
  }
}

/*
* Time and Date
*/
.article-template__info {
  width: 100%;

  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    display: block;

    @include box(4.3rem, 0.3rem);
  }

  .article-template__date,
  .article-template__author {
    font-size: 16px;
    line-height: 144%;
    font-weight: 600;

    time {
      font-weight: 600;
    }
  }

  .article-template__date {
    margin-top: 1.4rem;
    @include responsive(LG) {
      margin-top: 1.3rem;
    }
  }
}

.article-template__content,
.article-template__info {
  max-width: 75.2rem;
}

/*
* Comment
*/
.article-template__comment-container {
  margin-top: 10rem;
  @include responsive(LG) {
    margin-top: 19rem;
  }

  .xo-row {
    flex-direction: column;
    align-items: center;
  }
}

.article-template__comment-wrapper {
  h3 { line-height: 136% }
}

.article-template__comments {
  margin-top: 2.5rem;
  @include responsive(LG) {
    margin-top: 3.7rem;
  }
}

.article-template__comments-default {

}

// .article-template__comments-reverse {
//   display: none;
// }

.article-template__comments-comment {
  margin-bottom: 1.5rem;
  padding: 3rem;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 0px 0px 40px -10px rgba(113, 54, 0, 0.25);
  border-radius: 20px;

  @include responsive(LG) {
    padding: 5rem 7rem 5rem 8.5rem;
  }
}

.article-template-comment__info {
  display: flex;
  flex-direction: column;
  @include responsive(LG) {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-template-comment__author {
    font-size: 1.7rem;
    line-height: 146%;
    font-weight: 700;

    margin-bottom: 0.4rem;

    color: color(base-primary-accent-1);
  }

  .article-template-comment__time {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 146%;

    color: color(base-primary-accent-3);
  }
}

.article-template-comment__content {
  margin-top: 1.5rem;
}

/*
* Btn
*/
.article-template__btn-toggle {
  margin-top: 5rem;
  margin-bottom: 2rem;

  transition: all linear .2s;

  position: relative;

  &.is-active {
    div {
      opacity: 0;
      z-index: 0;
      pointer-events: none;
    }
    .article-template__btn-close {
      opacity: 1;
      z-index: 1;
      visibility: inherit;
    }
  }
}

.article-template__btn-close {
  @include box(5.1rem, 5.1rem);
  background: color(base-primary-accent-1);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, 0);
  transition: all linear .2s;

  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

/*
* Form
*/
.article-template__comment-form {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 100%;

  &.is-active {
    max-height: var(--max-height-answer);
    width: 100%;
  }
}

// Heading
.article-template__comment-heading {
  display: flex;
  justify-content: space-between;
}

// .article-template__comment-sort {
//   position: relative;
//   padding-right: 1rem;
//   @include responsive(LG) {
//     padding-right: 2.4rem;
//   }

//   .article-template-sort__name {
//     span {
//       font-weight: 700;
//     }
//   }
//   ul {
//     position: absolute;

//     background: color(base-primary-accent-1);
//     border-radius: 1.5rem;

//     width: 100%;

//     padding: 2rem 2rem 2.4rem;

//     @include responsive(LG) {
//       width: 23rem;
//       right: 0;
//       top: 4rem;
//     }
//   }

//   li {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     cursor: pointer;
//     transition: all linear .15s;

//     &:first-child { margin-bottom: 0.4rem }

//     span {
//       color: color(base-secondary-accent-3);

//       font-size: 1.7rem;
//       line-height: 144%;

//       &:hover {
//         color: #FFD933;
//       }
//     }

//     svg {
//       display: none;
//     }

//     &.is-active {
//       span {
//         color: #FFD933;
//       }
//       svg {
//         display: block;
//       }
//     }
//   }
// }

// error
.form__message {

}

// succesfully
.form__message {
  .form-status__icon {
    margin-right: 1.4rem;
  }

  .form-status {
    display: flex;
    justify-content: center;
  }
}

.form-status-success {
  background: #FFD933;
  border-radius: 1rem;
  padding: 1.4rem 2rem;

  max-width: 50rem;
  margin: 0 auto;
}

// field
.article-template__comments-fields {
  margin-top: 1.8rem;
  @include responsive(LG) {
    margin-top: 2.5rem;
  }
}

.article-template__comment-fields {
  @include responsive(LG) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2.1rem;
  }
}

.article-template-field {
  margin-bottom: 1rem;
  @include responsive(LG) {
    margin-bottom: 2rem;
  }

  input, textarea{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

    border: 1px solid color(base-secondary-accent-1);
    box-sizing: border-box;
    border-radius: 4.1rem;
    padding-left: 2rem;

    @include responsive(LG) {
      padding-left: 4rem;
    }
  }

  input {
    height: 5.4rem;
    @include responsive(LG) {
      height: 6.4rem;
    }
  }

  input, ::placeholder, textarea {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 146%;

    color: color(base-primary-accent-3);
    @include responsive(LG) {
      font-size: 1.9rem;
    }
  }

  textarea {
    padding: 2rem;
    border-radius: 2.5rem;

    @include responsive(LG) {
      padding: 2rem 4rem;
    }
  }
}

.article-template__comment-note {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 146%;

  color: color(base-primary-accent-3);
  margin-bottom: 2rem;
}

.article-template__comment-submit {
  display: flex;
  justify-content: center;
}

/*
* style 2
*/
.article-template-2 {
  .article-template__social-sharing {
    li {
      background: color(base-secondary-accent-3);
      &:hover {
        background: color(base-primary-accent-2);
        path, line {
          stroke: color(base-background);
          fill: color(base-background);
        }
      }
    }
  }

  .article-template__content {
    span, p, li {
      color: #595959;
    }
    li::before {
      color: color(base-primary-accent-1);
    }
  }
}

/*
* style 2
*/
.article-template-3 {
  .article-template__social-sharing {
    li {
      background: unset;
      border-radius: 5px;
      &:hover {
        background: color(base-primary-accent-2);
        path, line {
          stroke: color(base-background);
          fill: color(base-background);
        }
      }
    }
  }

  .article-template__content {
    span, p, li {
      color: #595959;
    }
    li::before {
      color: color(base-primary-accent-1);
    }
  }
}