<article class="article-template 
{% if settings.theme_layout == 'layout2' %} article-template-2 {% endif %}
{% if settings.theme_layout == 'layout3' %} article-template-3 {% endif %}
">
  <div class="article-container xo-container">
    <!-- Tag  -->
    <div class="article-template-tag">
      {% for tag in article.tags limit: 1 %}
        <p>{{ tag }}</p>
      {% endfor %}
    </div>

    <!-- Title -->
    <header class="article-template__heading">
      <h1 class="h2 article-template__title text-center">{{ article.title | escape }}</h1>
    </header>

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        <!-- Social  -->
        {%- when 'social_sharing'-%}
          <div class="article-template__social-sharing">
            <ul>
              {%- if settings.share_facebook -%}
                <li>
                  <a
                    href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
                    target="_blank"
                  >
                    {% render 'icon-facebook' %}
                  </a>
                </li>
              {%- endif -%}

              {%- if settings.share_twitter -%}
                <li>
                  <a
                    href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
                    target="_blank"
                  >
                    {% render 'icon-twitter' %}
                  </a>
                </li>
              {%- endif -%}

              {%- if settings.share_pinterest -%}
                <li>
                  <a
                    href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
                    target="_blank"
                  >
                    {% render 'icon-pinterest' %}
                  </a>
                </li>
              {%- endif -%}

            </ul>

          </div>

        <!-- Image  -->
        {%- when 'featured_image'-%}
          {%- if article.image -%}
            <div class="article-template__hero-container xo-col-lg-10" {{ block.shopify_attributes }}>
              <div>
                <img srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %}
                    {% if article.image.width >= 700 %}{{ article.image | img_url: '700x' }} 700w,{% endif %}
                    {% if article.image.width >= 749 %}{{ article.image | img_url: '749x' }} 749w,{% endif %}
                    {% if article.image.width >= 1498 %}{{ article.image | img_url: '1498x' }} 1498w,{% endif %}
                    {% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %}
                    {% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %}"
                  sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                  src="{{ article.image | img_url: '1100x' }}"
                  loading="lazy"
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                  alt="{{ article.image.alt | escape }}">
              </div>
            </div>
          {%- endif -%}

          {%- when 'content'-%}
            <div class="article-template__content">
              {{ article.content }}
            </div>

          {%- when 'title'-%}
            <div class="article-template__info">
              {%- if block.settings.blog_show_date -%}
                <span class="article-template__date">{{ article.published_at | date: "%d %b %Y" }}</span>
              {%- endif -%}
              {%- if block.settings.blog_show_author -%}
                <span class="article-template__author">{{ article.author }}</span>
              {%- endif -%}
            </div>

      {%- endcase -%}
    {%- endfor -%}

  </div>

  {%- comment -%}{%- endcomment -%}
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-container xo-container">
      <div class="xo-row">
        <div id="comments" class="xo-col-12 xo-col-lg-10 article-template__comment-wrapper">
          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}
            {%- assign sortArticle = 'blogs.article.newest' | t -%}

            <div class="article-template__comment-heading">
              <!-- Count -->
              <h3 id="Comments-{{ article.id }}">{{ 'blogs.article.title' | t }} ({{ article.comments_count }})</h3>

              <!-- Sort  -->
              {%- comment -%}
              <div class="article-template__comment-sort">
                <div class="article-template-sort__name">
                  <span>{{ 'sections.collection_template.sort_by_label' | t }}: </span>
                  <span class="article-template-sort__text">{{ 'blogs.article.newest' | t }}</span>
                  <span>{% render 'icon-arrow-bottom' %}</span>
                </div>
                <div class="article-template-sort__list">
                  <ul>
                    <li class="article-template-sort__item" data-sort={{ 'blogs.article.newest' | t }} >
                      <span>{{ 'blogs.article.newest' | t }}</span>
                      <span>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="9.38281" cy="8.93066" r="8.5" fill="#FFD933"/>
                          <path d="M5.78516 8.67056L8.22617 11.1114L12.9858 6.35181" stroke="#F0510D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </span>
                    </li>
                    <li class="article-template-sort__item" data-sort={{ 'blogs.article.oldest' | t }} >
                      <span>{{ 'blogs.article.oldest' | t }}</span>
                      <span>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="9.38281" cy="8.93066" r="8.5" fill="#FFD933"/>
                          <path d="M5.78516 8.67056L8.22617 11.1114L12.9858 6.35181" stroke="#F0510D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              {%- endcomment -%}
            </div>

            {% paginate article.comments by 5 %}

              <!-- List comments  -->
              <div class="article-template__comments">
                {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    <div class="article-template-comment__info">
                      <span class="article-template-comment__author">{{ comment.author }}</span>
                    </div>
                    <div class="article-template-comment__content">
                      {{ comment.content }}
                    </div>
                  </article>
                {%- endif -%}

                <!-- Key: reversed -> reverse comment -->
                {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    <div class="article-template-comment__info">
                      <span class="article-template-comment__author">{{ comment.author }}</span>
                      <span class="article-template-comment__time">{{ comment.created_at | date: "%d/%m/%Y" }}</span>
                    </div>
                    <div class="article-template-comment__content">
                      {{ comment.content }}
                    </div>
                  </article>
                {%- endfor -%}

                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              </div>
            {% endpaginate %}
          {%- endif -%}

        </div>

        <div class="article-template__btn-toggle">
          <div class="btn">{{ 'blogs.article.comment_form_button' | t }}</div>
          <span class="article-template__btn-close">
            {% render 'icon-close' %}
          </span>
        </div>

        <!-- Form  -->
        <div class="article-template__comment-form xo-col-12 xo-col-lg-8">
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}

            <!-- Heading  -->
            <h3 class="text-center">{{ 'blogs.article.comment_form_title' | t }}</h3>

            <!-- Error  -->
            {%- if form.errors -%}
              <div class="form__message" role="alert">
                <p class="form-status caption-large" tabindex="-1" autofocus>
                  {% render 'icon-check' %} {{ 'templates.contact.form.error_heading' | t }}
                </p>
              </div>
              <ul class="form-status-list caption-large">
                {%- for field in form.errors -%}
                  <li>
                    <a href="#CommentForm-{{ field }}" class="link">
                      {%- if form.errors.translated_fields[field] contains 'author' -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                      {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            <!-- Successfully  -->
            {%- elsif form.posted_successfully? -%}
              <div class="form-status-list form__message text-center form-status-success" role="status">
                <p class="form-status" tabindex="-1" autofocus>
                  <span class="form-status__icon">{% render 'icon-check' %}</span>
                  <span>{{ post_message | t }}</span>
                </p>
              </div>
            {%- endif -%}

            <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
              <div class="article-template__comment-fields">
                <div class="article-template-field">
                  <input
                    type="text"
                    name="comment[author]"
                    id="CommentForm-author"
                    class="field__input"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    {% if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.name' | t }}*"
                  >
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>
                <div class="article-template-field">
                  <input
                    type="email"
                    name="comment[email]"
                    id="CommentForm-email"
                    autocomplete="email"
                    class="field__input"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.email' | t }}*"
                  >
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="article-template-field">
                <textarea
                  rows="5"
                  name="comment[body]"
                  id="CommentForm-body"
                  class="text-area field__input"
                  aria-required="true"
                  {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.message' | t }}*"
                >{{ form.body }}</textarea>
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                </small>
              {%- endif -%}
            </div>

            {%- if blog.moderated? -%}
              <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}

            <p class="article-template__comment-note text-center">{{ 'blogs.article.note' | t }}</p>
            <div class="article-template__comment-submit">
              <input type="submit" class="btn text-center" value="{{ 'blogs.article.post' | t }}">
            </div>
          {% endform %}
        </div>

      </div>
    </div>
  {%- endif -%}

</article>

<style>
  .article-template__content h2,
  .article-template__content h3  {
    color: {{ section.settings.heading }};
  }

  .article-template__content h2 > *,
  .article-template__content h3 > * {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: {{ section.settings.subheading }};
  }

  .article-template__content p,
  .article-template__content li,
  .article-template__content li::before,
  .article-template__content span,
  .article-template__date,
  .article-template__author {
    color: {{ section.settings.subheading }};
  }

  .article-template__info::before  {
    background: {{ section.settings.heading }};
  }
</style>
