.customer {
  padding: 10rem 0 11rem;

	@include responsive(LG) {
		padding: 0;
	}

	.background__img {
		display: none;
		@include responsive(LG) {
			display: block;
		}

		&.placeholder-2 {
			display: none;
		}
	}

	.customer-back {
		display: none;
		position: absolute;
		left: 9.7rem;
    top: 15rem;
    z-index: 1;
		@include responsive(LG) {	display: block }

		a {
			display: flex;
			align-items: center;
		}

		svg {
			@include box(2.2rem, 2.2rem);
			transform: translateY(-2px);
			margin-right: 1.2rem;
		}
		line, path { stroke: color(base-primary-accent-1) }

		span {
			color: color(base-primary-accent-1);
			font-size: 1.9rem;
			line-height: 146%;
		}
	}
}

.customer-container,
.recover-form-container {
	@include responsive(LG) {
		@include box(100%, 110rem);
		display: flex;
		justify-content: flex-end;
		margin-top: 15rem;
	}
}

.customer-container {

}

.customer-form-wraper {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include responsive(LG) {
		border-radius: 25px;

		position: absolute;
	}
}

/*
* Heading
*/
.customer-return {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@include responsive(LG) {
		display: none;
	}

	.customer-return__text {
		display: flex;
		align-items: center;

		svg {
			@include box(14px, 14px);
			font-weight: 700;

			transform: translateY(-1px);
		}

		path {
			stroke: color(base-primary-accent-2);
		}

		span {
			font-size: 17px;
			line-height: 144%;
			font-weight: 700;

			padding-left: 0.9rem;
		}

	}

  .customer-return-login {
    h3 {
      font-size: 1.7rem;
      line-height: 144%;
      font-weight: 700;
      font-family: var(--font-body-family);
    }
  }
}

.customer__heading {
	margin-top: 4.1rem;
	margin-bottom: 4rem;
	@include responsive(LG) {
		margin-top: 8rem;
		margin-bottom: 5rem;
	}

	h1 {
		font-size: 4.4rem;
		line-height: 124%;
    margin: 0;
	}

  .customer__subhead {
    margin-top: 2.2rem;
  }
}

/*
* Form
*/
.customer form {
	width: 100%;
	@include responsive(LG) {
		max-width: 43rem;
	}
}

.customer-form__item {
	margin-bottom: 1.2rem;
	position: relative;

	@include responsive(LG) {
		margin-bottom: 0.8rem;
	}

	input {
		@include box(100%, 5.6rem);
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #fff;

		border: none;
		border-radius: 28px;

		font-weight: 500;
		font-size: 17px;
		line-height: 144%;

		padding-left: 2.8rem;

		border: 0.75px solid color(base-secondary-text-color);

    transition: box-shadow .15s linear;

		@include responsive(LG) {
			@include box(100%, 5.4rem);
		}

		&:focus {
			box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);
		}
	}

	::placeholder {
		font-weight: 500;
		font-size: 17px;

		color: color(base-primary-accent-3);
	}
}

.customer__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 144%;
  text-align: center;

  a {
    text-transform: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 144%;
    font-family: var(--font-heading-family);
  }
}

/*
* Style 2
*/
.customer-2 {
  .customer-form__item {
    input {
      border: 1.5px solid #FFE2E5;
      &:focus {
        box-shadow: unset;
        border: 1.5px solid color(base-primary-accent-1);
      }
    }

    ::placeholder {  
      color: #E9A1AA;
    }
  }
}

/*
* Style 2
*/
.customer-3 {
  .customer-form__item {
    input {
      border: unset;
      &:focus {
        border: unset;
      }
    }

    ::placeholder {  
      color: #7B8E84;
    }
  }
}