.cart-notification__wrapper {
  width: 47rem;
  background-color: var(--color-base-primary-accent-1);
  border-radius: 3rem;
  padding: 3rem;

  transition: all .3s linear;

  position: fixed;
  top: 8.8rem;
  right: -1000px;
  z-index: 9999;
  display: none;

  input[type="number"] {
    color: #fff;
  }

  &.is-active {
    right: 1rem;
  }

  .cart-add-shipping {
    margin-top: 1rem;
    color: rgba($color: #fff, $alpha: .7);
    font-size: var(--font-body-size-3);
  }

  display: none;

  @include responsive(MD) {
    display: block;
  }
}

.cart-notification--top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2rem;
  span {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
  }

  .cart-notification__close {
    background-color: var(--color-base-secondary-accent-1);
    border-radius: 50%;

    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cart__item {
  padding: 2.4rem 0;
  border-top: 1px dashed #ffe5b4;
  border-bottom: 1px dashed #ffe5b4;
  .cart-product__img {
    img {
      width: 100%;
      height: auto;
      border-radius: 1.6rem;
    }
  }

  .cart-product__title {
    color: color(base-secondary-accent-2);
  }

  .cart-product__variants {
    color: #fff;
    font-weight: 700;
  }

  .cart-product__quantity {
    display: flex;
    margin-top: auto;
    span {
      background-color: #fff;
      border-radius: 50%;

      width: 2.6rem;
      height: 2.6rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      width: 3rem;
      text-align: center;
      background-color: transparent;
      border: none;
      -moz-appearance: textfield;
      font-weight: 700;

      margin: 0 1.8rem;
    }

    svg {
      stroke: var(--color-base-primary-accent-2);
    }
  }

  .cart-product__end {
    > div {
      color: #fff;
    }

    .cart-product__remove {
      opacity: .63;
      text-decoration-line: underline;
      text-transform: uppercase;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}

.cart-notification-checkout {
  margin-top: 10rem;
  span {
    color: #fff;
  }

  .cart-notification-subtotal {
    margin-bottom: 2.2rem;
  }

  .btn {
    width: 100%;
    background: #fff;
  }
}

.cart-notification-empty {
  .cart-notification-empty__title {
    color: color(base-secondary-accent-2);
    margin-bottom: 1rem;
  }

  p {
    color: #fff;
    margin-bottom: 3rem;
  }

  img {
    margin-bottom: 4.7rem;
  }
}

/* Mobile */

.cart-notification-mobile {
  background-color: color(base-secondary-accent-2);
  box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
  border-radius: 1.5rem;

  padding: 1rem 1.5rem;

  position: fixed;
  top: 8rem;
  right: 2rem;
  z-index: 99999;
  max-width: 65%;

  display: none;

  &.is-active {
    display: flex;
    align-items: center;

    @include responsive(MD) {
      display: none;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: -2.5rem;
    left: 80%;

    border-bottom: 2.5rem solid color(base-secondary-accent-2);
    border-left: 2.5rem solid transparent;
  }

  .cart-icon-check {
    height: 2.3rem;

    background-color: #ef510d;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    margin-right: 1rem;
  }

  .cart-notification__text {
    span {
      font-size: 1.7rem;
    }

    a {
      font-size: 1.7rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

/*
* Style 2
*/
.cart-notification-2 {
  .cart-notification__wrapper {
    background-color: color(base-primary-accent-2);
  }

  .cart-product__title {
    color: #fff;
  }

  .cart-notification__close {
    background-color: #fff;
    svg {
      path {
        stroke: color(base-primary-accent-1);
      }
    }
  }

  .cart-checkout-btn {
    a {
      color: color(base-primary-accent-2);
    }
  }

  .cart__item {
    padding: 2.4rem 0;
    border-top: 1px dashed color(base-primary-accent-3);
    border-bottom: 1px dashed color(base-primary-accent-3);
  }

  .cart-notification-mobile {
    .cart-icon-check {  
      background-color: color(base-primary-accent-1);
    }
    .cart-notification__text {
      span, a {
        color: #fff;
      }
    }
  }
}

.cart-notification-3 {
  .cart-notification__close{
    background-color: unset;
    svg {
      path {
        stroke: #C3B7A7;
      }
    }
  }

  .cart-product__quantity {
    span {
      background-color: unset;
      svg {
        stroke: #fff;
      }
    }
  }

  .cart-notification-mobile {
    .cart-icon-check {
      background-color: #fff;
    }
    svg path{
      fill: color(base-primary-accent-1)
    }
  }
}