<div class="cart-notification js 
  {% if settings.theme_layout == 'layout2' %} cart-notification-2 {% endif %}
  {% if settings.theme_layout == 'layout3' %} cart-notification-2 cart-notification-3 {% endif %}
">
  <div class="cart-notification__wrapper" :class="{'is-active': isActive}">
    <div class="cart-notification--top">
      <div class="quantity-in-cart">
        <span>{{ 'sections.cart_notification.your_bag' | t }}</span>
        <span class="quantity" v-cloak> (${quantity})</span>
      </div>
      <button class="cart-notification__close" @click="handleClose" aria-label="close">
        {% render 'icon-remove' %}
      </button>
    </div>

    <template v-if="cartState != undefined && quantity > 0">
      <div class="cart__item xo-row xo-no-gutters">
        <div class="cart-product__img xo-col-3">
          <img :src="imageURL(cartState.featured_image.url, '150x175')" :alt="cartState.featured_image.alt">
        </div>
        <div class="cart-product__mid xo-col-6 xo-d-flex xo-flex-column xo-justify-content-between" style="padding-left: 2rem;">
          <div>
            <div class="cart-product__title h4">${cartState.product_title}</div>
            <div class="cart-product__variants">
              ${cartState.variant_title}
            </div>
          </div>
          <div class="cart-product__quantity">
            <span class="dec cursor-pointer" @click="updateCartItem('dec')">
              {% render 'icon-minus' %}
            </span>
            <input type="number" v-model="quantity">
            <span class="inc cursor-pointer" @click="updateCartItem('inc')">
              {% render 'icon-plus' %}
            </span>
          </div>
        </div>

        <div class="cart-product__end xo-col-3 text-right xo-d-flex xo-flex-column xo-justify-content-between">
          <div class="cart-product__price">${hugMoneyFormat(cartState.price * quantity)}</div>
          <div class="cart-product__remove" @click="updateCartItem('remove')">{{ 'sections.cart_notification.remove' | t }}</div>
        </div>
      </div>
      <span class="cart-add-shipping">Add $8.00 more for freeshipping</span>

      <div class="cart-notification-checkout">
        <div class="cart-notification-subtotal xo-d-flex xo-justify-content-between xo-align-items-center">
          <span class="h4" style="font-weight: 400;">{{ 'sections.cart_notification.subtotal' | t | append: ':'}}</span>
          <span class="h3">${hugMoneyFormat(cartState.price * quantity)}</span>
        </div>

        <div class="cart-checkout-btn">
          <a href="/checkout" class="btn btn--is-secondary btn--is-large">{{ 'sections.cart_notification.checkout' | t }}</a>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="cart-notification-empty xo-d-flex xo-flex-column xo-align-items-center text-center">
        <div class="cart-notification-empty__title h3">{{ 'sections.cart_notification.empty.title' | t }}</div>
        <p>{{ 'sections.cart_notification.empty.text' | t }}</p>
        {{ 'empty-cart.png' | asset_url | img_tag: shop.name }}

        <a href="{{ routes.all_products_collection_url }}" class="btn btn--is-secondary btn--is-large">{{ 'sections.cart_notification.shop_now' | t }}</a>
      </div>
    </template>
  </div>

  <div class="cart-notification-mobile" :class="{'is-active': isActive}" v-if="cartState !== undefined">
    <span class="cart-icon-check cursor-pointer" @click="handleClose">
      {% render 'icon-check' %}
    </span>
    <div class="cart-notification__text">
      <span>${cartState.product_title} {{ 'general.cart.item_added' | t }}</span>
      <a href="/checkout">{{ 'general.cart.checkout' | t }}</a>
    </div>
  </div>
</div>
