
.product-recommendations {
  padding-bottom: 110px;

  @include responsive(MD) {
    padding-bottom: 210px;
  }

  .product-recommendation__heading {
    text-align: center;
    margin-bottom: 36px;
    
    @include responsive(MD) {
      margin-bottom: 60px;
    }
  }

  .splide__slide.is-active {
    border: none !important;
  }

  .splide__pagination {
    display: none !important;
  }

  .product-card {
    margin-bottom: 0 !important;
    box-shadow: unset !important;
    height: 100%;
    background: #fff;
    &:hover {
      box-shadow: unset !important;
    }
  }

  .splide__track {
    border-radius: 2.5rem;
  }

  .splide__arrow {
    display: none;
    @include responsive(MD) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    svg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-base-primary-accent-1);
    }
  }

  .splide__arrow:disabled {
    @extend .navigation__btn--is-disable;
  }

  .splide__arrow.splide__arrow--prev {
    left: -6rem;
  }

  .splide__arrow.splide__arrow--next {
    right: -6rem;
  }
}