<div class="product-recommendations xo-container"
      data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.limit }}"
      id="product-recommendations"
>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <h2 class="product-recommendation__heading">{{ section.settings.heading }}</h2>
    <product-recommendation >
      <div class="product-recommendation__splide splide" 
          {% if section.settings.enable_loop %}data-splide='{"type":"loop"}'{% endif %} 
          id='product-recommendation__glide'
          data-product-perview = "{{ section.settings.product_perview }}"
      >
        <div class="splide__track">
          <ul class="splide__list">
            {%- for product in recommendations.products -%}
              <li class="product-recommendation__product splide__slide">
                {% render 'product-card', product: product, index: forloop.index, tag: product.tags[0], show_sale: section.settings.show_sale %}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </product-recommendation>
  {%- endif -%}
</div>

{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;
    observer.unobserve(productRecommendationsSection);
    const url = productRecommendationsSection.dataset.url;
    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');
        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;
        }
      })
      .catch(e => {
        console.error(e);
      });
  };
  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});
  observer.observe(productRecommendationsSection);
{% endjavascript %}
