{% assign social_default = true %}

<div class="password-header-wrapper xo-container">
  <div class="password-header-logo">
    {% if section.settings.logo_img %}
      <img srcset="{%- if section.settings.logo_img.width >= 165 -%}{{ section.settings.logo_img | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.logo_img.width >= 360 -%}{{ section.settings.logo_img | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.logo_img.width >= 533 -%}{{ section.settings.logo_img | img_url: '533x' }} 533w,{%- endif -%}
              {%- if section.settings.logo_img.width >= 720 -%}{{ section.settings.logo_img | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.logo_img.width >= 940 -%}{{ section.settings.logo_img | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.logo_img.width >= 1066 -%}{{ section.settings.logo_img | img_url: '1066x' }} 1066w{%- endif -%}"
              src="{{ section.settings.logo_img | img_url: '533x' }}"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.logo_img.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.logo_img.width }}"
              height="{{ section.settings.logo_img.height }}"
      >
    {% else %}
      <h3>{{ section.settings.logo_title | default: shop.name }}</h3>
    {% endif %}
  </div>

  <div class="password-social">
    <ul class="password-social__list">
      {%- assign socials = "Facebook LinkedIn Instagram Twitter Pinterest  Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}

      {% for social in socials %}
        {% assign social_link = social | prepend: 'social_' | append: '_link' | downcase %}
        {% assign icon_link = social | downcase %}

        {% if settings[social_link] != blank %}
          {% assign social_default = false %}
          <li class="password-social__item">
            <a href="{{ settings[social_link] | escape }}">
              {% render 'icon' with icon_link %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
