<section class="testimonial-secondary">
  <div class="xo-container">
    <div class="row">
      <div class="co-col-12 xo-col-lg-6 xo-col-xl-5">
        <!-- Header -->
        <div class="testimonial__heading">
          <div class="testimonial__icon">
            {% render 'icon-quote' %}
          </div>
          <h3>{{ section.settings.heading }}</h3>
        </div>

        <!-- Content -->
        <div class="testimonial-content">
          <div class="testimonial-list">
            {% for block in section.blocks %}
              <div class="testimonial-box">
                <div class="testimonial-box__ava">
                  {% if block.settings.ava_img == blank %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% else %}
                    <img srcset="{% if block.settings.ava_img.width >= 350 %}{{ block.settings.ava_img | img_url: '350x' }} 350w,{% endif %}
                        {% if block.settings.ava_img.width >= 700 %}{{ block.settings.ava_img | img_url: '700x' }} 700w,{% endif %}
                        {% if block.settings.ava_img.width >= 749 %}{{ block.settings.ava_img | img_url: '749x' }} 749w,{% endif %}
                        {% if block.settings.ava_img.width >= 1498 %}{{ block.settings.ava_img | img_url: '1498x' }} 1498w,{% endif %}
                        {% if block.settings.ava_img.width >= 1100 %}{{ block.settings.ava_img | img_url: '1100x' }} 1100w,{% endif %}
                        {% if block.settings.ava_img.width >= 2200 %}{{ block.settings.ava_img | img_url: '2200x' }} 2200w,{% endif %}"
                      sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                      src="{{ block.settings.ava_img | img_url: '1100x' }}"
                      loading="lazy"
                      width="{{ block.settings.ava_img.width }}"
                      height="{{ block.settings.ava_img.height }}"
                      alt="{{ block.settings.ava_img.alt | escape }}">
                  {% endif %}
                </div>
                <div class="testimonial__text" style="background: {{ block.settings.bg_cmt }};">
                  <div>
                    <h4 style="color: {{ block.settings.color_text }};">{{ block.settings.cmt_title }}</h4>
                    <p style="color: {{ block.settings.color_text }};">{{ block.settings.cmt_content }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Image  -->
      <div class="co-col-12 xo-col-lg-6 xo-col-xl-7">
        <div class="testimonial__image">
          {% if section.settings.image == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% else %}
            <img srcset="{% if section.settings.image.width >= 350 %}{{ section.settings.image | img_url: '350x' }} 350w,{% endif %}
                {% if section.settings.image.width >= 700 %}{{ section.settings.image | img_url: '700x' }} 700w,{% endif %}
                {% if section.settings.image.width >= 749 %}{{ section.settings.image | img_url: '749x' }} 749w,{% endif %}
                {% if section.settings.image.width >= 1498 %}{{ section.settings.image | img_url: '1498x' }} 1498w,{% endif %}
                {% if section.settings.image.width >= 1100 %}{{ section.settings.image | img_url: '1100x' }} 1100w,{% endif %}
                {% if section.settings.image.width >= 2200 %}{{ section.settings.image | img_url: '2200x' }} 2200w,{% endif %}"
              sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
              src="{{ section.settings.image | img_url: '1100x' }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
              alt="{{ section.settings.image.alt | escape }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>