.testimonial-secondary {
  padding-top: 3.5rem;
  @include responsive(LG) {
    padding: 6.5rem;
  }

  // Heading 
  .testimonial__heading {
    margin-bottom: 7rem;

    @include responsive(LG) {
      display: flex;
    }
    
    @include responsive(XL) {
      margin-top: 9.2rem;
      margin-bottom: 9.5rem;
    }

    h3 {
      font-family: var(--font-body-family);
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 146%;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: color(base-primary-accent-2);
      margin-top: 1.2rem;
    }
  }

  .testimonial__icon {
    svg {
      fill: color(base-primary-accent-2);
      margin-right: 1.5rem;
    }
  }

  .row {
    @include responsive(LG) {
      display: flex;
    }
  }
}

.testimonial-content {
}

.testimonial-box {
  position: relative;
  margin-bottom: 5rem;

  @include responsive(LG) {
    margin-bottom: 6.7rem;
  }
  
  @media screen and(min-width: 1400px) {
    &:nth-child(2) {
      transform: translateX(3.9rem);
    }
  }

  .testimonial-box__ava {
    position: absolute;
    transform: translate(3rem, -50%);
    @include box(7.2rem, 7.2rem);

    @include responsive(LG) {
      @include box(9.8rem, 9.8rem);
      transform: translate(5rem, -50%);
    }

    img, svg {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      @include box(100%, 100%);
      object-fit: cover;
      border-radius: 100%;
    }

    svg {
      fill: #fff;
      background: #333;
    }
  }
  
  .testimonial__text {
    border-radius: 3rem;
    @include responsive(LG) {
      max-width: 43rem;
    }

    div {
      padding: 5.4rem 2rem 3.8rem 3rem;
      @include responsive(LG) {
        padding: 6rem 5rem 5.6rem;
      }
    }

    p {
      color: color(base-primary-accent-1);

      font-weight: 500;
      font-size: 1.7rem;
      line-height: 144%;

      margin-top: 1.1rem;
      @include responsive(LG) {
        margin-top: 1.4rem;
      }
    }
  }
}

.testimonial-secondary .testimonial__image {
  img {
    width: 100%;
    height: auto;
  }
  svg {
    fill: #fff;
    background: #333;
  }
}