<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.06738 1.29395L7.56738 6.79395L13.0674 1.29395" stroke="#894722" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
