<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.00207 18.7794C1.41628 18.1936 1.41628 17.2439 2.00207 16.6581L16.8513 1.80887C17.4371 1.22308 18.3868 1.22308 18.9726 1.80887C19.5584 2.39466 19.5584 3.3444 18.9726 3.93019L4.12339 18.7794C3.5376 19.3652 2.58785 19.3652 2.00207 18.7794Z" fill="#fff"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.02723 1.80871C2.61302 1.22292 3.56276 1.22292 4.14855 1.80871L18.9978 16.6579C19.5836 17.2437 19.5836 18.1935 18.9978 18.7792C18.412 19.365 17.4622 19.365 16.8765 18.7792L2.02723 3.93003C1.44144 3.34424 1.44144 2.39449 2.02723 1.80871Z" fill="#fff"/>
</svg>
