<svg width="25" height="17" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2" y1="2.29395" x2="23" y2="2.29395" stroke="" stroke-width="3" stroke-linecap="round"/>
<line x1="2" y1="9.79395" x2="23" y2="9.79395" stroke="" stroke-width="3" stroke-linecap="round"/>
<line x1="2" y1="17.2939" x2="23" y2="17.2939" stroke="" stroke-width="3" stroke-linecap="round"/>
</svg>
