<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M3.28663 0.88464C3.62045 0.898993 3.92703 1.08708 4.11201 1.37572C4.32251 1.70422 4.64918 2.21406 5.07444 2.87905C5.46248 3.48557 5.48954 4.26893 5.14296 4.9015L4.3643 6.00927C4.1538 6.30908 4.11181 6.6928 4.25321 7.03088C4.47328 7.55713 4.8999 8.36591 5.65791 9.12392C6.41593 9.88194 7.22471 10.3086 7.75096 10.5286C8.08903 10.67 8.47276 10.628 8.77256 10.4175L9.88034 9.63888C10.5129 9.2923 11.2963 9.31989 11.9028 9.7074C12.5678 10.1327 13.0776 10.4593 13.4061 10.6698C13.6948 10.8548 13.8828 11.1614 13.8972 11.4952C13.9791 13.3897 12.5113 14.1572 12.0845 14.1572C11.7889 14.1572 8.23577 14.561 4.22829 10.5535C0.22081 6.54607 0.624643 2.99292 0.624643 2.69737C0.624643 2.27052 1.39213 0.802779 3.28663 0.88464Z" fill="white"/>
  <path d="M3.28663 0.88464C3.62045 0.898993 3.92703 1.08708 4.11201 1.37572C4.32251 1.70422 4.64918 2.21406 5.07444 2.87905C5.46248 3.48557 5.48954 4.26893 5.14296 4.9015L4.3643 6.00927C4.1538 6.30908 4.11181 6.6928 4.25321 7.03088C4.47328 7.55713 4.8999 8.36591 5.65791 9.12392C6.41593 9.88194 7.22471 10.3086 7.75096 10.5286C8.08903 10.67 8.47276 10.628 8.77256 10.4175L9.88034 9.63888C10.5129 9.2923 11.2963 9.31989 11.9028 9.7074C12.5678 10.1327 13.0776 10.4593 13.4061 10.6698C13.6948 10.8548 13.8828 11.1614 13.8972 11.4952C13.9791 13.3897 12.5113 14.1572 12.0845 14.1572C11.7889 14.1572 8.23577 14.561 4.22829 10.5535C0.22081 6.54607 0.624643 2.99292 0.624643 2.69737C0.624643 2.27052 1.39213 0.802779 3.28663 0.88464Z" fill="url(#paint0_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="7.25689" y1="0.881348" x2="7.25689" y2="14.1686" gradientUnits="userSpaceOnUse">
  <stop stop-color="white"/>
  <stop offset="1" stop-color="white" stop-opacity="0"/>
  </linearGradient>
  </defs>
  </svg>
