<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.09375 4.53947L4.79356 7.9342L10.4732 0.672852" stroke="#EC6024" stroke-width="1.5"/>
</svg>
