<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.25953 4.54042L13.7495 1.47898V0.950648C13.7495 0.481379 13.3771 0.101074 12.9177 0.101074H1.60141C1.14191 0.100927 0.769531 0.481232 0.769531 0.950501V1.47883L7.25953 4.54042Z" fill="white"/>
  <path d="M7.25953 4.54042L13.7495 1.47898V0.950648C13.7495 0.481379 13.3771 0.101074 12.9177 0.101074H1.60141C1.14191 0.100927 0.769531 0.481232 0.769531 0.950501V1.47883L7.25953 4.54042Z" fill="url(#paint0_linear)"/>
  <path d="M7.25953 5.99079L0.769531 2.9292V8.78622C0.769531 9.25549 1.14191 9.63579 1.60141 9.63579H12.9177C13.3771 9.63579 13.7495 9.25549 13.7495 8.78622V2.9292L7.25953 5.99079Z" fill="white"/>
  <path d="M7.25953 5.99079L0.769531 2.9292V8.78622C0.769531 9.25549 1.14191 9.63579 1.60141 9.63579H12.9177C13.3771 9.63579 13.7495 9.25549 13.7495 8.78622V2.9292L7.25953 5.99079Z" fill="url(#paint1_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="7.25953" y1="0.101074" x2="7.25953" y2="4.54042" gradientUnits="userSpaceOnUse">
  <stop stop-color="white"/>
  <stop offset="1" stop-color="white" stop-opacity="0"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="7.25953" y1="2.9292" x2="7.25953" y2="9.63579" gradientUnits="userSpaceOnUse">
  <stop stop-color="white"/>
  <stop offset="1" stop-color="white" stop-opacity="0"/>
  </linearGradient>
  </defs>
  </svg>
