<svg width="29" height="23" viewBox="0 0 29 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2" y1="-2" x2="23.3897" y2="-2" transform="matrix(-1 8.74228e-08 8.74228e-08 1 28.4922 13.823)" stroke-width="4" stroke-linecap="round"/>
<path d="M11.4707 2.85449L2.49218 11.833L11.4707 20.8115" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
