<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.56738 7.79395L7.56737 1.79395L13.5674 7.79395" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
