<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.57234 17.732C1.12303 17.2827 1.12303 16.5542 1.57234 16.1049L10.6127 7.06459C11.062 6.61528 11.7904 6.61528 12.2398 7.06459C12.6891 7.5139 12.6891 8.24238 12.2398 8.69169L3.19943 17.732C2.75012 18.1813 2.02165 18.1813 1.57234 17.732Z" fill="#F0510D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.82312 6.52224C2.8378 5.88699 3.36467 5.38392 3.99992 5.3986L12.638 5.59821C13.2732 5.61289 13.7763 6.13976 13.7616 6.77501L13.562 15.4131C13.5473 16.0483 13.0205 16.5514 12.3852 16.5367C11.75 16.522 11.2469 15.9952 11.2616 15.3599L11.4346 7.87208L3.94676 7.69904C3.31151 7.68436 2.80844 7.15749 2.82312 6.52224Z" fill="#F0510D"/>
</svg>
