<svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.51855 2.2373L12.5186 12.2373L2.51855 22.2373" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
