<svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.37054 4.08632H10.1537V1.03176C9.84604 0.990138 8.78804 0.896484 7.55588 0.896484C4.98494 0.896484 3.22378 2.487 3.22378 5.41029V8.10064H0.386719V11.5154H3.22378V20.1076H6.70216V11.5162H9.42447L9.85662 8.10144H6.70134V5.74888C6.70216 4.76191 6.97235 4.08632 8.37054 4.08632Z" />
</svg>
