<svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.8404 10.5324H24.8265V10.4802H13.4977V15.5151H20.6116C19.5737 18.446 16.7849 20.55 13.4977 20.55C9.32682 20.55 5.94518 17.1684 5.94518 12.9976C5.94518 8.82685 9.32682 5.44529 13.4977 5.44529C15.423 5.44529 17.1745 6.17158 18.5082 7.35792L22.0686 3.79762C19.8204 1.70248 16.8133 0.4104 13.4977 0.4104C6.54623 0.4104 0.910156 6.04633 0.910156 12.9976C0.910156 19.9489 6.54623 25.5849 13.4977 25.5849C20.4492 25.5849 26.0853 19.9489 26.0853 12.9976C26.0853 12.1537 25.9984 11.3298 25.8404 10.5324Z" fill="white"/>
<path d="M2.37109 7.13915L6.50674 10.172C7.62577 7.40159 10.3359 5.44554 13.5073 5.44554C15.4326 5.44554 17.1841 6.17182 18.5178 7.35817L22.0782 3.79787C19.83 1.70272 16.8229 0.410645 13.5073 0.410645C8.67243 0.410645 4.47951 3.14019 2.37109 7.13915Z" fill="white"/>
<path d="M13.499 25.5838C16.7504 25.5838 19.7047 24.3395 21.9384 22.3161L18.0425 19.0195C16.7363 20.0129 15.1401 20.5502 13.499 20.5489C10.225 20.5489 7.44505 18.4613 6.39777 15.548L2.29297 18.7105C4.37621 22.7869 8.60688 25.5838 13.499 25.5838Z" fill="white"/>
<path d="M25.8427 10.5332H24.8288V10.481H13.5V15.5158H20.6139C20.1174 16.9108 19.2232 18.1297 18.0416 19.022L18.0435 19.0208L21.9393 22.3174C21.6637 22.5678 26.0876 19.292 26.0876 12.9984C26.0876 12.1544 26.0007 11.3306 25.8427 10.5332Z" fill="white"/>
</svg>
