<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.916 8.70785L17.9993 1.62451" stroke="#894722" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.2783 1.62451H18.0005V6.34673" stroke="#894722" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18 12.0134V16.7356C18 17.2366 17.801 17.717 17.4468 18.0713C17.0925 18.4255 16.6121 18.6245 16.1111 18.6245H2.88889C2.38792 18.6245 1.90748 18.4255 1.55324 18.0713C1.19901 17.717 1 17.2366 1 16.7356V3.5134C1 3.01244 1.19901 2.53199 1.55324 2.17775C1.90748 1.82352 2.38792 1.62451 2.88889 1.62451H7.61111" stroke="#894722" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
