<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.56836 2L7.56836 8L13.5684 2" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
