<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4088 0.965332H4.44819C2.18281 0.965332 0.339844 2.77797 0.339844 5.00606V11.8522C0.339844 14.0802 2.18281 15.8928 4.44819 15.8928H11.4089C13.6741 15.8928 15.5171 14.0802 15.5171 11.8522V5.00606C15.5171 2.77797 13.6741 0.965332 11.4088 0.965332ZM7.92965 12.5101C5.64132 12.5101 3.77969 10.6791 3.77969 8.42849C3.77969 6.17785 5.64132 4.34689 7.92965 4.34689C10.218 4.34689 12.0796 6.17785 12.0796 8.42849C12.0796 10.6791 10.218 12.5101 7.92965 12.5101ZM10.9626 4.10481C10.9626 4.76992 11.5126 5.3109 12.1888 5.3109C12.865 5.3109 13.4151 4.76992 13.4151 4.10481C13.4151 3.43969 12.865 2.8986 12.1888 2.8986C11.5126 2.8986 10.9626 3.43969 10.9626 4.10481Z" />
</svg>
