<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.03962 10.7077C4.84882 11.1865 4.24847 12.4816 4.41999 13.6264C4.51101 14.234 4.81927 14.8268 5.37961 15.257C5.93405 15.6827 6.65916 15.8924 7.49822 15.8924V13.8924C6.98607 13.8924 6.72219 13.7663 6.59761 13.6707C6.47895 13.5796 6.41818 13.4653 6.39792 13.3301C6.34688 12.9894 6.55497 12.6561 6.78574 12.5633L6.03962 10.7077ZM7.49822 15.8924H17.7893V13.8924H7.49822V15.8924Z" fill="white"/>
    <path d="M0.144531 1.13339C2.52433 1.07625 2.98755 0.946904 4.04143 4.00951M4.04143 4.00951C4.09695 4.17085 4.1541 4.34105 4.21327 4.52058C5.15905 7.39059 6.06358 10.4597 6.39762 11.6355C8.80937 11.3883 14.1019 10.8258 15.9778 10.5532C18.3228 10.2125 18.403 7.18612 19.1445 4.2399C16.1462 4.2399 7.82649 4.08631 4.04143 4.00951Z" stroke="white" stroke-width="2" stroke-linejoin="round"/>
    <circle cx="7.53658" cy="18.7104" r="1.21666" stroke="" stroke-width="1.3"/>
    <circle cx="15.0463" cy="18.7104" r="1.21666" stroke="" stroke-width="1.3"/>
    </svg>
    