<svg width="30" height="42" viewBox="0 0 30 42" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29.8909 17.2079C29.6841 16.7356 29.2172 16.4306 28.7016 16.4306H17.9102L23.1082 1.85843C23.3154 1.27722 23.085 0.63022 22.5569 0.310962C22.0285 -0.00846937 21.3486 0.0881391 20.9303 0.541749L0.343879 22.8654C-0.00567735 23.2444 -0.0977843 23.7944 0.109283 24.2668C0.316005 24.7391 0.782946 25.0441 1.29854 25.0441H8.31408C9.03137 25.0441 9.61258 24.4627 9.61258 23.7456C9.61258 23.0285 9.03137 22.4471 8.31408 22.4471H4.26224L18.5224 6.9837L14.845 17.2926C14.7034 17.6903 14.7702 18.1321 15.0137 18.4772C15.2569 18.8222 15.6594 19.0274 16.0817 19.0274H25.7377L11.4797 34.4891L15.1575 24.1819C15.2995 23.7842 15.2393 23.3424 14.9958 22.9973C14.7524 22.6523 14.3568 22.447 13.9345 22.447H13.9217C13.3114 22.447 12.8041 22.868 12.6665 23.4354L6.89283 39.6157C6.68542 40.1969 6.91586 40.8439 7.44391 41.1632C7.65254 41.2894 7.88488 41.3507 8.11532 41.3507C8.46834 41.3507 8.81738 41.2068 9.0705 40.9324L29.6559 18.6089C30.0056 18.2301 30.0977 17.6802 29.8909 17.2079Z" fill="#F0510D"/>
</svg>
