<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.1663 0.694008L14.333 0.694008L14.333 11.5273L15.1663 11.5273C15.6084 11.5273 16.0323 11.3517 16.3449 11.0392C16.6574 10.7266 16.833 10.3027 16.833 9.86068L16.833 2.36067C16.833 1.91865 16.6574 1.49472 16.3449 1.18216C16.0323 0.869602 15.6084 0.694008 15.1663 0.694008ZM1.83301 11.5273L7.66634 11.5273L6.73134 14.334C6.64791 14.5845 6.62518 14.8512 6.66503 15.1122C6.70488 15.3732 6.80616 15.621 6.96053 15.8352C7.1149 16.0494 7.31794 16.2238 7.55294 16.3441C7.78794 16.4645 8.04816 16.5273 8.31217 16.5273L8.49967 16.5273L12.6663 11.9957L12.6663 0.694008L3.49967 0.694009L0.239673 7.85734L0.166339 8.19401L0.166339 9.86068C0.166339 10.3027 0.341936 10.7266 0.654495 11.0392C0.967056 11.3517 1.39098 11.5273 1.83301 11.5273Z" fill="#F14606" fill-opacity="0.4"/>
</svg>
