<svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.3187 14.4486C22.0301 14.7674 25.3858 17.6689 25.3858 23.1529C25.3858 26.3413 24.0951 28.8602 21.5138 30.7094C18.9899 32.4949 16.0931 33.3877 12.8234 33.3877C5.53834 33.3877 1.55163 29.3703 0.863281 21.3355C0.863281 15.6602 2.49812 10.75 5.76779 6.60509C9.03746 2.46016 13.0815 0.387695 17.9 0.387695C20.0798 0.387695 21.1697 1.12103 21.1697 2.5877C21.1697 3.60799 20.7108 4.53262 19.793 5.36161C16.9248 8.03987 15.4334 11.0689 15.3187 14.4486ZM44.7961 14.4486C51.5076 14.7674 54.8633 17.6689 54.8633 23.1529C54.8633 26.3413 53.5726 28.8602 50.9913 30.7094C48.4674 32.4949 45.5705 33.3877 42.3009 33.3877C35.0158 33.3877 31.0291 29.3703 30.3408 21.3355C30.3408 15.6602 31.9756 10.75 35.2453 6.60509C38.5149 2.46016 42.5303 0.387695 47.2914 0.387695C49.5286 0.387695 50.6471 1.12103 50.6471 2.5877C50.6471 3.60799 50.2169 4.50074 49.3565 5.26596C46.431 7.88045 44.9109 10.9413 44.7961 14.4486Z" />
</svg>
