<svg width="2" height="21" viewBox="0 0 2 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1" y1="1.20605" x2="0.999999" y2="19.2061" stroke="#BE8C76" stroke-opacity="0.7" stroke-width="2" stroke-linecap="round"/>
</svg>
