<svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.3411 8.33331H13.6884V5.66665C13.6884 2.72531 11.3462 0.333313 8.46615 0.333313C5.58609 0.333313 3.24392 2.72531 3.24392 5.66665V8.33331H2.59115C1.51189 8.33331 0.632812 9.2302 0.632812 10.3333V19.6666C0.632812 20.7698 1.51189 21.6666 2.59115 21.6666H14.3411C15.4204 21.6666 16.2995 20.7698 16.2995 19.6666V10.3333C16.2995 9.2302 15.4204 8.33331 14.3411 8.33331ZM4.98466 5.66665C4.98466 3.70576 6.54611 2.11109 8.46615 2.11109C10.3862 2.11109 11.9476 3.70576 11.9476 5.66665V8.33331H4.98466V5.66665ZM9.33652 15.1973V17.2222C9.33652 17.7129 8.94746 18.1111 8.46615 18.1111C7.98483 18.1111 7.59578 17.7129 7.59578 17.2222V15.1973C7.07791 14.8889 6.72541 14.3218 6.72541 13.6666C6.72541 12.6862 7.50613 11.8889 8.46615 11.8889C9.42616 11.8889 10.2069 12.6862 10.2069 13.6666C10.2069 14.3218 9.85439 14.8889 9.33652 15.1973Z" fill="#BF8D77" fill-opacity="0.7"/>
</svg>
