<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M4.69141 4.771L13.1552 13.2348" stroke="#BF8D77" stroke-width="2.3" stroke-linecap="round"/>
  <path d="M13.1211 4.80176L4.72109 13.2018" stroke="#BF8D77" stroke-width="2.3" stroke-linecap="round"/>
  </svg>
