<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8854 17.015C14.5863 16.8879 17.4834 13.7846 17.3563 10.0837C17.2291 6.38283 14.1259 3.48573 10.425 3.61288C6.72407 3.74004 3.82697 6.84329 3.95412 10.5442C4.08128 14.2451 7.18453 17.1422 10.8854 17.015ZM10.9816 19.8137C16.2281 19.6334 20.3352 15.2341 20.1549 9.98758C19.9747 4.74103 15.5754 0.633987 10.3288 0.814243C5.08227 0.994499 0.975228 5.3938 1.15548 10.6403C1.33574 15.8869 5.73504 19.9939 10.9816 19.8137Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.1783 15.3972C15.7432 14.7921 16.7141 14.7803 17.3468 15.371L21.9522 19.6705C22.5849 20.2611 22.6398 21.2305 22.0749 21.8356C21.51 22.4407 20.5391 22.4524 19.9064 21.8618L15.301 17.5623C14.6683 16.9717 14.6134 16.0023 15.1783 15.3972Z" />
</svg>
