<svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.3507 40.3275C24.7709 40.3275 30.7862 34.3122 30.7862 26.892C30.7862 19.4718 24.7709 13.4565 17.3507 13.4565C9.93047 13.4565 3.9152 19.4718 3.9152 26.892C3.9152 34.3122 9.93047 40.3275 17.3507 40.3275ZM17.3507 43.4888C26.5168 43.4888 33.9475 36.0581 33.9475 26.892C33.9475 17.7258 26.5168 10.2952 17.3507 10.2952C8.18454 10.2952 0.753906 17.7258 0.753906 26.892C0.753906 36.0581 8.18454 43.4888 17.3507 43.4888Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M33.1573 30.8441C41.014 30.8441 47.3831 24.475 47.3831 16.6183C47.3831 8.76156 41.014 2.39245 33.1573 2.39245C25.3006 2.39245 18.9315 8.76156 18.9315 16.6183C18.9315 24.475 25.3006 30.8441 33.1573 30.8441ZM33.1573 33.215C42.3235 33.215 49.7541 25.7844 49.7541 16.6183C49.7541 7.45211 42.3235 0.0214844 33.1573 0.0214844C23.9912 0.0214844 16.5605 7.45211 16.5605 16.6183C16.5605 25.7844 23.9912 33.215 33.1573 33.215Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.3503 15.0378L32.3664 0.0216692L34.043 1.6982L19.0268 16.7143L17.3503 15.0378Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M33.1572 30.8434L47.383 16.6176L49.0596 18.2941L34.8338 32.5199L33.1572 30.8434Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.3506 21.3608L37.1086 1.60269L38.7852 3.27922L19.0271 23.0373L17.3506 21.3608Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7218 25.3118L41.8508 3.18276L43.5273 4.85928L21.3983 26.9883L19.7218 25.3118Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.6735 27.6818L44.2219 7.13338L45.8984 8.80991L25.3501 29.3583L23.6735 27.6818Z" fill="#F14606"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.625 30.0535L47.383 10.2954L49.0596 11.9719L29.3015 31.73L27.625 30.0535Z" fill="#F14606"/>
</svg>
