<svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M6.20703 0.572754C2.89872 0.572754 0.207031 3.26445 0.207031 6.57275C0.207031 7.88198 0.62057 9.12598 1.40395 10.1697L5.83719 16.1405C5.84826 16.1549 5.86519 16.1605 5.87749 16.1734C6.09903 16.4106 6.41872 16.3509 6.57657 16.1405C7.85319 14.4371 10.1932 11.2558 11.0929 10.0558L11.0935 10.0543L11.099 10.0469C11.824 9.02845 12.207 7.82722 12.207 6.57275C12.207 3.26445 9.51534 0.572754 6.20703 0.572754ZM6.20703 9.80968C4.4258 9.80968 2.97011 8.35398 2.97011 6.57275C2.97011 4.79152 4.4258 3.33583 6.20703 3.33583C7.98826 3.33583 9.44396 4.79152 9.44396 6.57275C9.44396 8.35398 7.98826 9.80968 6.20703 9.80968Z" fill="#894722"/>
  </svg>
