<svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2.4834" y1="9.67578" x2="21.9764" y2="9.67578" stroke="#FFFEFE" stroke-width="3" stroke-linecap="round"/>
<path d="M16.0625 1.58301L24.0167 9.53716L16.0625 17.4913" stroke="#FFFEFE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
