<svg width="14" height="4" aria-hidden="true" focusable="false" viewBox="0 0 14 4" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.58984 1.94922H12.0688" stroke-width="2.3" stroke-linecap="round"/>
  </svg>
