<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4658 7.51846L19.998 3.02197V2.24598C19.998 1.55674 19.451 0.998169 18.7762 0.998169H2.15541C1.48053 0.997953 0.933594 1.55653 0.933594 2.24576V3.02175L10.4658 7.51846Z" fill="#D2AD9A"/>
<path d="M10.4658 9.64819L0.933594 5.15149V13.754C0.933594 14.4432 1.48053 15.0018 2.15541 15.0018H18.7762C19.451 15.0018 19.998 14.4432 19.998 13.754V5.15149L10.4658 9.64819Z" fill="#D2AD9A"/>
</svg>
