<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.58202 1.3696C9.03118 0.419769 10.3288 0.419769 10.7772 1.3696L13.05 6.17873L18.13 6.94953C19.1347 7.1021 19.5349 8.39147 18.8088 9.1314L15.132 12.8743L15.9999 18.1596C16.1721 19.2038 15.1218 20.0002 14.2244 19.5072L9.67874 17.0114L5.13565 19.5072C4.23733 20.0011 3.18788 19.2038 3.35927 18.1596L4.2272 12.8743L0.550341 9.1314C-0.175744 8.39059 0.225291 7.10298 1.22915 6.94953L6.3092 6.17873L8.58117 1.3696H8.58202Z" fill="#F0510D"/>
</svg>
