<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="12" cy="12" r="11.5" />
  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7897 7.96665C18.2107 8.38769 18.2107 9.07032 17.7897 9.49135L11.246 16.0351C10.8249 16.4561 10.1424 16.4561 9.72133 16.0352L6.20257 12.5171C5.78149 12.0961 5.78143 11.4135 6.20242 10.9924C6.62342 10.5713 7.30605 10.5712 7.72712 10.9922L10.4835 13.7481L16.265 7.96665C16.686 7.54562 17.3687 7.54562 17.7897 7.96665Z" fill="white"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7897 7.96665C18.2107 8.38769 18.2107 9.07032 17.7897 9.49135L11.246 16.0351C10.8249 16.4561 10.1424 16.4561 9.72133 16.0352L6.20257 12.5171C5.78149 12.0961 5.78143 11.4135 6.20242 10.9924C6.62342 10.5713 7.30605 10.5712 7.72712 10.9922L10.4835 13.7481L16.265 7.96665C16.686 7.54562 17.3687 7.54562 17.7897 7.96665Z" fill="url(#paint0_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="11.9961" y1="7.65088" x2="11.9961" y2="16.3509" gradientUnits="userSpaceOnUse">
  <stop stop-color="white"/>
  <stop offset="1" stop-color="white" stop-opacity="0"/>
  </linearGradient>
  </defs>
  </svg>
  