<svg width="29" height="23" viewBox="0 0 29 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2.49219" y1="11.823" x2="23.8819" y2="11.823"  stroke-width="4" stroke-linecap="round"/>
<path d="M17.5137 2.85449L26.4922 11.833L17.5137 20.8115"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
