<svg width="68" height="44" viewBox="0 0 68 44" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="38.8379" cy="28.7925" r="13.0235" stroke="#F0510D" stroke-width="3"/>
  <rect x="2.56294" y="11.4986" width="62.965" height="8.96911" transform="rotate(-8.51251 2.56294 11.4986)" stroke="#F0510D" stroke-width="3"/>
</svg>
