<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.17318 8.2463H21.3398M11.7565 22.6213C17.5784 22.6213 22.2982 17.9015 22.2982 12.0796C22.2982 6.25776 17.5784 1.53796 11.7565 1.53796C5.93464 1.53796 1.21484 6.25776 1.21484 12.0796C1.21484 17.9015 5.93464 22.6213 11.7565 22.6213ZM11.7565 22.6213C14.6315 22.6213 15.5898 17.8296 15.5898 12.0796C15.5898 6.32963 14.6315 1.53796 11.7565 1.53796C8.88151 1.53796 7.92318 6.32963 7.92318 12.0796C7.92318 17.8296 8.88151 22.6213 11.7565 22.6213ZM2.17318 15.913H21.3398H2.17318Z" stroke="#894722" stroke-width="2"/>
</svg>
