<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.39209 1.271L6.39209 6.271L11.3921 1.271" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>