<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.83366 16.1908H2.66699V5.35742H1.83366C1.39163 5.35742 0.967708 5.53302 0.655147 5.84558C0.342587 6.15814 0.166992 6.58206 0.166992 7.02409V14.5241C0.166992 14.9661 0.342587 15.39 0.655147 15.7026C0.967708 16.0152 1.39163 16.1908 1.83366 16.1908ZM15.167 5.35742H9.33366L10.2687 2.55076C10.3521 2.30027 10.3748 2.03354 10.335 1.77255C10.2951 1.51156 10.1938 1.26377 10.0395 1.04958C9.8851 0.835402 9.68206 0.660957 9.44706 0.540618C9.21206 0.42028 8.95184 0.35749 8.68783 0.357422H8.50033L4.33366 4.88909V16.1908H13.5003L16.7603 9.02742L16.8337 8.69076V7.02409C16.8337 6.58206 16.6581 6.15814 16.3455 5.84558C16.0329 5.53302 15.609 5.35742 15.167 5.35742Z" fill="#F0510D"/>
</svg>
