<svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="1.25" y1="-1.25" x2="6.58233" y2="-1.25" transform="matrix(1 0 0 -1 5.8623 10)" stroke="#894722" stroke-width="2.5" stroke-linecap="round"/>
    <line x1="1.25" y1="-1.25" x2="13.496" y2="-1.25" transform="matrix(1 0 0 -1 2.40723 5)" stroke="#894722" stroke-width="2.5" stroke-linecap="round"/>
    <line x1="1.25" y1="-1.25" x2="17.5632" y2="-1.25" transform="matrix(1 0 0 -1 0.373047 0)" stroke="#894722" stroke-width="2.5" stroke-linecap="round"/>
</svg>