<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9.07031" cy="8.88232" r="8.5" fill="#FFD933"/>
<path d="M5.4707 8.62222L7.91172 11.0631L12.6713 6.30347" stroke="#F0510D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
