<svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.208 2.2373L2.20801 12.2373L12.208 22.2373" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
