<svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M18.6027 2.72622C17.9219 3.02485 17.1965 3.22279 16.4402 3.3189C17.2183 2.85437 17.8121 2.12438 18.0913 1.24451C17.3659 1.67701 16.5649 1.9825 15.7114 2.15299C15.0226 1.41957 14.0409 0.965332 12.9699 0.965332C10.8921 0.965332 9.21933 2.65185 9.21933 4.71937C9.21933 5.01686 9.2445 5.3029 9.30628 5.57522C6.18612 5.42304 3.42522 3.9276 1.57051 1.64955C1.24671 2.21134 1.05678 2.85437 1.05678 3.54659C1.05678 4.84638 1.72612 5.99856 2.72384 6.66562C2.12086 6.65417 1.52932 6.47912 1.02817 6.20337C1.02817 6.21481 1.02817 6.22969 1.02817 6.24456C1.02817 8.06838 2.3291 9.58327 4.03507 9.93224C3.72957 10.0158 3.39662 10.0558 3.05107 10.0558C2.8108 10.0558 2.56823 10.0421 2.34054 9.99174C2.82682 11.478 4.20669 12.5707 5.84744 12.6062C4.57054 13.605 2.94924 14.2069 1.19408 14.2069C0.886293 14.2069 0.591096 14.1932 0.295898 14.1554C1.95839 15.2275 3.92866 15.8396 6.05339 15.8396C12.9596 15.8396 16.7354 10.1187 16.7354 5.15988C16.7354 4.99398 16.7297 4.83379 16.7217 4.67475C17.4665 4.14614 18.0924 3.48595 18.6027 2.72622Z" />
</svg>
