<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M6.5 2.29395H15.5C16.0304 2.29395 16.5391 2.50466 16.9142 2.87973C17.2893 3.2548 17.5 3.76351 17.5 4.29395V5.29395C17.5 5.55916 17.3946 5.81352 17.2071 6.00105C17.0196 6.18859 16.7652 6.29395 16.5 6.29395C16.2348 6.29395 15.9804 6.18859 15.7929 6.00105C15.6054 5.81352 15.5 5.55916 15.5 5.29395V4.29395H6.5V20.2939H15.5V19.2939C15.5 19.0287 15.6054 18.7744 15.7929 18.5868C15.9804 18.3993 16.2348 18.2939 16.5 18.2939C16.7652 18.2939 17.0196 18.3993 17.2071 18.5868C17.3946 18.7744 17.5 19.0287 17.5 19.2939V20.2939C17.5 20.8244 17.2893 21.3331 16.9142 21.7082C16.5391 22.0832 16.0304 22.2939 15.5 22.2939H6.5C5.96957 22.2939 5.46086 22.0832 5.08579 21.7082C4.71071 21.3331 4.5 20.8244 4.5 20.2939V4.29395C4.5 3.76351 4.71071 3.2548 5.08579 2.87973C5.46086 2.50466 5.96957 2.29395 6.5 2.29395Z"
        fill="white" />
    <path
        d="M6.5 2.29395H15.5C16.0304 2.29395 16.5391 2.50466 16.9142 2.87973C17.2893 3.2548 17.5 3.76351 17.5 4.29395V5.29395C17.5 5.55916 17.3946 5.81352 17.2071 6.00105C17.0196 6.18859 16.7652 6.29395 16.5 6.29395C16.2348 6.29395 15.9804 6.18859 15.7929 6.00105C15.6054 5.81352 15.5 5.55916 15.5 5.29395V4.29395H6.5V20.2939H15.5V19.2939C15.5 19.0287 15.6054 18.7744 15.7929 18.5868C15.9804 18.3993 16.2348 18.2939 16.5 18.2939C16.7652 18.2939 17.0196 18.3993 17.2071 18.5868C17.3946 18.7744 17.5 19.0287 17.5 19.2939V20.2939C17.5 20.8244 17.2893 21.3331 16.9142 21.7082C16.5391 22.0832 16.0304 22.2939 15.5 22.2939H6.5C5.96957 22.2939 5.46086 22.0832 5.08579 21.7082C4.71071 21.3331 4.5 20.8244 4.5 20.2939V4.29395C4.5 3.76351 4.71071 3.2548 5.08579 2.87973C5.46086 2.50466 5.96957 2.29395 6.5 2.29395Z"
        fill="url(#paint0_linear)" />
    <path
        d="M17.295 16.5888C17.685 16.9788 18.315 16.9788 18.705 16.5888L22.293 13.0008C22.4805 12.8133 22.5858 12.559 22.5858 12.2938C22.5858 12.0287 22.4805 11.7744 22.293 11.5868L18.705 7.99883C18.5149 7.82702 18.2661 7.73482 18.0099 7.74129C17.7538 7.74775 17.5099 7.85239 17.3287 8.03357C17.1476 8.21475 17.0429 8.45861 17.0365 8.71476C17.03 8.9709 17.1222 9.21974 17.294 9.40983L19.17 11.2938H10.5C10.2348 11.2938 9.98043 11.3992 9.79289 11.5867C9.60536 11.7743 9.5 12.0286 9.5 12.2938C9.5 12.559 9.60536 12.8134 9.79289 13.0009C9.98043 13.1885 10.2348 13.2938 10.5 13.2938H19.17L17.294 15.1778C17.1073 15.3652 17.0026 15.619 17.0028 15.8835C17.003 16.148 17.1081 16.4017 17.295 16.5888Z"
        fill="white" />
    <path
        d="M17.295 16.5888C17.685 16.9788 18.315 16.9788 18.705 16.5888L22.293 13.0008C22.4805 12.8133 22.5858 12.559 22.5858 12.2938C22.5858 12.0287 22.4805 11.7744 22.293 11.5868L18.705 7.99883C18.5149 7.82702 18.2661 7.73482 18.0099 7.74129C17.7538 7.74775 17.5099 7.85239 17.3287 8.03357C17.1476 8.21475 17.0429 8.45861 17.0365 8.71476C17.03 8.9709 17.1222 9.21974 17.294 9.40983L19.17 11.2938H10.5C10.2348 11.2938 9.98043 11.3992 9.79289 11.5867C9.60536 11.7743 9.5 12.0286 9.5 12.2938C9.5 12.559 9.60536 12.8134 9.79289 13.0009C9.98043 13.1885 10.2348 13.2938 10.5 13.2938H19.17L17.294 15.1778C17.1073 15.3652 17.0026 15.619 17.0028 15.8835C17.003 16.148 17.1081 16.4017 17.295 16.5888Z"
        fill="url(#paint1_linear)" />
    <defs>
        <linearGradient id="paint0_linear" x1="11" y1="2.29395" x2="11" y2="22.2939" gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient id="paint1_linear" x1="16.0429" y1="7.74097" x2="16.0429" y2="16.8813"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
    </defs>
</svg>