<svg width="17" height="18" aria-hidden="true" focusable="false" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 9.21191H15.5" stroke-width="2.5" stroke-linecap="round"/>
<path d="M8.5 2.21191L8.5 16.2119" stroke-width="2.5" stroke-linecap="round"/>
</svg>
