.main-blog {
  .main-blog__heading {
    padding-top: 5rem;
    padding-bottom: 2.81em;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(LG) {
      padding-top: 13rem;
      padding-bottom: 4rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 124%;
      margin-bottom: 1.2rem;

      @include responsive(LG) {
        font-size: 5.8rem;
        line-height: 116%;
        margin-bottom: 1.7rem;
      }
    }

    p {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 144%;
      max-width: 51.4rem;

      @include responsive(LG) {
        font-size: 1.9rem;
        line-height: 146%;
      }
    }
  }
  .article {
    margin-bottom: 1.6rem;
    @include responsive(LG) {
      margin-bottom: 3.5rem;
    }
  }
}

/*
* Filter
*/
.main-blog-filter {
  margin-bottom: 4.6rem;
  @include responsive(LG) {
    margin-bottom: 8rem;
  }
}

.main-blog-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-blog-tag__item {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

  border: 1px solid color(base-secondary-accent-1);
  box-sizing: border-box;
  border-radius: 32.5px;

  margin: 0 0.7rem 0.7rem 0;
  @include responsive(LG) {
    margin: 0 1rem 0 0;
  }

  p {
    display: inline-block;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 146%;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: color(base-primary-accent-3);
    padding: 1rem 2.3rem;

    @include responsive(LG) {
      font-size: 1.3rem;
    }
  }

  &.is-active {
    background: color(base-primary-accent-1);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);

    p {
      color: color(base-secondary-accent-3);
    }
  }
}

.blog-articles {
  justify-content: center;
}

/*
* Pagination
*/
.main-blog .pagination-wrapper {
  margin-top: 2.6rem;
  margin-bottom: 11rem;

  @include responsive(LG) {
    margin-top: 10rem;
    margin-bottom: 18rem;
  }
}

/*
* Style 2
*/
.main-blog-2 {
  .main-blog-tag__item {
    background: color(base-primary-accent-3);
    border: 1.5px solid #FFE2E5;
    @include responsive(LG) {
      border: 2px solid #FF96A3;
    }

    p {
      color: color(base-primary-accent-1);
    }

    &.is-active {
      background: color(base-primary-accent-2);
      border: 1.5px solid color(base-primary-accent-2);
      @include responsive(LG) {
        border: 2px solid color(base-primary-accent-2);
      }

      p {
        color: #fff;
      }
    }
  }
}

/*
* Style 3
*/
.main-blog-3 {
  .main-blog-tag__item {
    background: color(base-primary-accent-3);
    border: unset !important;
    border-radius: 5px;

    p {
      color: color(base-primary-accent-1);
    }

    &.is-active {
      background: color(base-primary-accent-2);

      p {
        color: #fff;
      }
    }
  }
}