{% case section.settings.blogs_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-3'%}
{% endcase %}

{% case section.settings.text_align %}
  {% when 'left' %}
    {% assign align = 'flex-start'%}
  {% when 'center' %}
    {% assign align = 'center'%}
  {% when 'right' %}
    {% assign align = 'flex-end'%}
{% endcase %}

{%- paginate blog.articles by section.settings.blogs_per_page -%}

  <div class="main-blog xo-container 
    {% if settings.theme_layout == 'layout2' %} main-blog-2 {% endif %}
    {% if settings.theme_layout == 'layout3' %} main-blog-3 {% endif %}
  ">
    <!-- Heading  -->
    <div class="main-blog__heading">
      <h1 class="h2 text-center">{{ blog.title | escape }}</h1>
      <p class="main-blog__subhead text-center">
        {{ section.settings.subheading }}
      </p>
    </div>

    <!-- Filter  -->
    <div class="main-blog-filter">
      <div class="main-blog-tags">
        <a href="{{ blog.url }}" class="main-blog-tag__item" data-href="{{ blog.url }}">
          <p>All</p>
        </a>
        {% for tag in blog.all_tags %}
          <a
            href="{{ blog.url | append: '/' }}tagged/{{tag | handleize | downcase}}"
            class="main-blog-tag__item"
            data-text="{{tag | handleize | downcase }}"
            data-href="{{ blog.url }}"
          >
            <p>{{tag}}</p>
          </a>
        {% endfor %}
      </div>
    </div>
    
    <!-- List blog Article  -->
    <div class="blog-articles xo-row">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article {{ gridClassName }}">
          {%- render 'article-card', 
            article: article
          -%}
        </div>
      {%- endfor -%}
    </div>

    <!-- Pagination -->
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {% else %}
      <style>
        .main-blog {
          padding-bottom: 100px;
        }

        @media only screen and (min-width: 768px) {
          .main-blog {
            padding-bottom: 180px;
          }
        }
      </style>
    {%- endif -%}
  </div>
{%- endpaginate -%}


<style>
  {% if section.settings.bg_check %}
    .article-card__info {
      background: {{ section.settings.bg_content }};
    }
  {% endif %}


  .main-blog__heading h1,
  .article-card__title {
    color: {{ section.settings.color_heading }};
  }

  .main-blog__subhead,
  .article-card__excerpt {
    color: {{ section.settings.color_subheading }};
  }

  /* align */
  .article-card__content,
  .article-card__header,
  .article-card__excerpt {
    align-items: {{ align }};
    text-align: {{ section.settings.text_align }};
  }

  {% if section.settings.text_align == 'left' or section.settings.text_align == 'right' %}
    .article-card__title,
    .article-card__excerpt {
      max-width: 80%;
    }

    @media screen and (min-width: 992px) {
      .article-card__title {
        max-width: 43rem;
      }

      .article-card__excerpt {
        max-width: 40rem;
      }
    }
  {% endif %}

  {% if section.settings.padd == false %}
    @media screen and (min-width: 1200px) {
      .blog-articles__article.xo-col-md-6 .article-card__content,
      .blog-articles__article.xo-col-lg-4 .article-card__content,
      .blog-articles__article.xo-col-lg-5 .article-card__content,
      .blog-articles__article.xo-col-lg-6 .article-card__content {
        padding: 3.6rem 0 5rem;
      }

      .blog-articles__article.xo-col-lg-3 .article-card__content {
        padding: 2rem 0 3rem;
      }
    }
  {% endif %}
  
</style>
