.category-2 {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;

	@include responsive(LG) {
		margin-top: 6.5rem;
		margin-bottom: 8.5rem;
	}

	/*
	* Heading
	*/
	.category__heading {
		display: flex;
    justify-content: center;

    width: 100%;
	}
	
	h2 {
		font-size: 2.6rem;
		line-height: 120%;
	}

	.category-main {
		margin-top: 3rem;
		@include responsive(LG) {
			margin-top: 7rem;
		}
	}

	.category__list {
		display: flex;
	}

	.category-box {
		margin-bottom: 4.3rem;
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}

  .category-slider-container .category-box {
		margin-bottom: 0;
	}

	.category__image {
		@include box(9.6rem, 9.6rem);
		margin-bottom: 1rem;

    @include responsive(LG) {
			@include box(14rem, 14rem);
			margin-bottom: 1.8rem;
		}
		@include responsive(XL) {
			@include box(18rem, 18rem);
		}

		@media screen and (min-width: 1400px) {
			@include box(21rem, 21rem);
		}

    svg {
      fill: #fff;
      background: #333;
    }
	}

  .category__list .category__image {
    @include responsive(MD) {
			@include box(18rem, 18rem);
		}
  }

	img, svg {
		@include box(100%, 100%);
		object-fit: cover;
		border-radius: 100%;
	}

	.category__title {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 146%;

		color: color(base-primary-accent-1);
		@include responsive(LG) {
			font-weight: 600;
			font-size: 1.9rem;
		}
	}
}

// Navigation 
.category-slider-container {
  // .splide__track {
  //   border-radius: 2.5rem;
  // }

  .splide__arrow {
    background-color: color(base-primary-accent-1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    svg {
      @include box(2rem, 2rem);
      fill: #fff;
    }
  }

  .splide__arrow{
    &:disabled {
      @extend .navigation__btn--is-disable;
      background-color: color(base-primary-accent-3);
      svg {
        @include box(2rem, 2rem);
        fill: color(base-primary-accent-1);
      }
    }
  }

  .splide__arrow.splide__arrow--prev {
    left: -1rem;

    @include responsive(LG) {
      left: -3rem;
    }
  }

  .splide__arrow.splide__arrow--next {
    right: -1rem;

    @include responsive(LG) {
      right: -3rem;
    }
  }
}