{% case section.settings.collections_per_row %}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-4 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-4 xo-col-lg-3'%}
  {% when 5 %}
    {% assign gridClassName = 'xo-col-4 xo-col-lg-2'%}
  {% when 6 %}
    {% assign gridClassName = 'xo-col-4 xo-col-lg-2'%}
{% endcase %}

<div class="category-2">
  <div class="xo-container">
    <div class="xo-row">
      <!-- Heading  -->
      <div class="category__heading">
        <h2 class="text-center">{{ section.settings.heading }}</h2>
      </div>

      <!-- Content -->
      <div class="category-main xo-col-12">
        {% if section.settings.enable_carousel %}

          <category-slider>
            <div class="splide category-slider-container" data-number="{{ section.settings.collections_per_row }}">
              <div class="splide__track">
                <div class="splide__list">

                  {% for block in section.blocks limit:section.settings.limit_collection %}
                    {%- assign collection = collections[block.settings.collection] -%}
                    <a href="{{ collection.url }}" class="splide__slide">
                      <div class="category-box">
                        <div class="category__image">
                          {% capture placeholder_image %}{% cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' %}{% endcapture %}
                          {%- if collection.image != blank -%}
                            <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
                              {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
                              {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
                              {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
                              {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
                              {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
                              src="{{ collection.image | img_url: '533x' }}"
                              sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                              alt="{{ collection.title | escape }}"
                              height="{{ collection.image.height }}"
                              width="{{ collection.image.width }}"
                              loading="lazy"
                            >
                          {%- elsif collection.products.first != blank -%}
                            <img srcset="{%- if collection.products.first.width >= 165 -%}{{ collection.products.first | img_url: '165x' }} 165w,{%- endif -%}
                              {%- if collection.products.first.width >= 360 -%}{{ collection.products.first | img_url: '360x' }} 360w,{%- endif -%}
                              {%- if collection.products.first.width >= 535 -%}{{ collection.products.first | img_url: '535x' }} 535w,{%- endif -%}
                              {%- if collection.products.first.width >= 720 -%}{{ collection.products.first | img_url: '720x' }} 720w,{%- endif -%}
                              {%- if collection.products.first.width >= 940 -%}{{ collection.products.first | img_url: '940x' }} 940w,{%- endif -%}
                              {%- if collection.products.first.width >= 1070 -%}{{ collection.products.first | img_url: '1070x' }} 1070w{%- endif -%}"
                              src="{{ collection.products.first | img_url: '533x' }}"
                              sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                              alt="{{ collection.title | escape }}"
                              height="{{ collection.products.first.height }}"
                              width="{{ collection.products.first.width }}"
                              loading="lazy"
                            >
                          {%- else -%}
                            {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                        </div>
                        <div class="category__title">
                          {% if collection.url != blank %}
                            {{ collection.title }}
                          {% else %}
                            Collection
                          {% endif %}
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </category-slider>

        {% else %}
          <div class="category__list xo-row">

            {% for block in section.blocks limit:section.settings.limit_collection %}
              {%- assign collection = collections[block.settings.collection] -%}
              <a href="{{ collection.url }}" class="{{ gridClassName }}">
                <div class="category-box">
                  <div class="category__image">
                    {% capture placeholder_image %}{% cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' %}{% endcapture %}
                    {%- if collection.image != blank -%}
                      <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
                        {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
                        {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
                        {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
                        src="{{ collection.image | img_url: '533x' }}"
                        sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                        alt="{{ collection.title | escape }}"
                        height="{{ collection.image.height }}"
                        width="{{ collection.image.width }}"
                        loading="lazy"
                      >
                    {%- elsif collection.products.first != blank -%}
                      <img srcset="{%- if collection.products.first.width >= 165 -%}{{ collection.products.first | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if collection.products.first.width >= 360 -%}{{ collection.products.first | img_url: '360x' }} 360w,{%- endif -%}
                        {%- if collection.products.first.width >= 535 -%}{{ collection.products.first | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if collection.products.first.width >= 720 -%}{{ collection.products.first | img_url: '720x' }} 720w,{%- endif -%}
                        {%- if collection.products.first.width >= 940 -%}{{ collection.products.first | img_url: '940x' }} 940w,{%- endif -%}
                        {%- if collection.products.first.width >= 1070 -%}{{ collection.products.first | img_url: '1070x' }} 1070w{%- endif -%}"
                        src="{{ collection.products.first | img_url: '533x' }}"
                        sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                        alt="{{ collection.title | escape }}"
                        height="{{ collection.products.first.height }}"
                        width="{{ collection.products.first.width }}"
                        loading="lazy"
                      >
                    {%- else -%}
                      {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                  <div class="category__title">
                    {% if collection.url != blank %}
                      {{ collection.title }}
                    {% else %}
                      Collection
                    {% endif %}
                  </div>
                </div>
              </a>
            {% endfor %}

          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
