.featured-image-wrapper {
  position: relative;
  height: 34rem;

  padding: 0;
  margin-bottom: 0.6rem;

  @include responsive(MD) {
    height: 79rem;

    .background__img {
      width: 99%;
    }
  }

  img, svg {
    border-radius: 1.8rem;

    @include responsive(LG) {
      border-radius: 3rem;
    }
  }
}

.feature-discount {
  position: absolute;
  top: 1.2rem;
  left: 1.4rem;
}

.feature-discount__wrapper {
  position: relative;

  @include responsive(MD) {
    .sale svg {
      width: 15rem;
      height: 15rem;
    }

    .sale span {
      position: absolute;
      top: 6rem;
      left: 3.5rem;
    }
  }
}

.featured-image-wrapper {
  .main-product__rating {
    position: absolute;
    right: 20px;
    top: 20px;

    @include responsive(LG) {
      right: 41px;
      top: 48px;
    }

    .spr-badge {
      display: flex;
      flex-direction: column;
    }

    .spr-badge-caption {
      color: color(base-primary-accent-2);
    }
  }
}

.featured-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 57rem;

  background-color: var(--color-base-primary-accent-1);
  padding: 4rem 3.5rem 6rem;

  border-radius: 18px;

  @include responsive(MD) { height: 79rem }

  @include responsive(LG) { border-radius: 3rem }

  @include responsive(XL) {
    padding: 8rem 8rem 10rem;

    max-width: 55.8rem;
  }

  .featured-product__heading {
    color: var(--color-base-secondary-accent-3);
    font-size: 1.2rem;
    text-transform: uppercase;

    margin-bottom: 2rem;

    @include responsive(XL) {
      font-size: 1.3rem;

      margin-bottom: 1.3rem;
    }
  }

  .featured-product__title {
    padding: 0 3.5rem;

    color: var(--color-base-secondary-accent-3);
  }

  .featured-product__price {
    color: var(--color-base-secondary-accent-3);

    font-size: 2.1rem;

    del {
      margin-left: 1.1rem;

      color: var(--color-base-secondary-accent-1);
    }
  }
}

.feature-content--bottom {
  .featured-product__desc {
    color: var(--color-base-secondary-accent-1);

    margin-bottom: 2.4rem;

    @include responsive(MD) {
      @include text-ellipsis(100%, 7);
      margin-bottom: 3.5rem;
    }
  }

  .featured-product__btn {
    width: 100%;
  }

  .featured-product__link {
    color: var(--color-base-secondary-accent-2);

    margin-top: 2.4rem;

    @include responsive(MD) {
      margin-top: 3.3rem;
    }

    &::after {
      border-color: var(--color-base-secondary-accent-2) transparent transparent transparent;
    }

    &::before {
      border-color: var(--color-base-secondary-accent-2) transparent transparent transparent;
    }
  }
}

