{% assign feature_product = section.settings.featured_product %}
{% assign variant = section.settings.featured_product.selected_or_first_available_variant %}
{% assign image_desktop = section.settings.bg_img %}
{% assign image_mobile = section.settings.mobile_bg_img %}

<div class="featured-product xo-container">
  <div class="featured-product-wrapper xo-row xo-no-gutters">
    <div class="xo-col-12 xo-col-md-7">
      <div class="featured-image-wrapper">
        {% render 'background-image', image_desktop: image_desktop, image_mobile: image_mobile %}
        {% if section.settings.show_sale %}
          <div class="feature-discount">
            <div class="feature-discount__wrapper">
              <!-- Calculate Discount  -->
              {% if feature_product != blank and variant.compare_at_price > 0 %}
                {% assign variant_price = variant.price | times: 1.0 %}
                {% assign discount_variant =  variant.compare_at_price | times: 1.0 | minus: variant_price | divided_by: variant.compare_at_price | times: 100.0 | round | remove: '.0' | append: '% save' %}

                {% if section.settings.sale_notify == blank %}
                  {% render 'sale', discount_variant: discount_variant %}
                {% else %}
                  {% assign discount_variant = section.settings.sale_notify | truncate: 10, '' %}
                  {% render 'sale', discount_variant: discount_variant %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if section.settings.use_product_rating %}
          <div class="main-product__rating">
            <span class="shopify-product-reviews-badge" data-id="{{ feature_product.id }}"></span>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="xo-col-12 xo-col-md-5">
      <div class="featured-content text-center">
        <div class="feature-content--top">
          <div class="featured-product__heading">{{ section.settings.heading }}</div>

          {% if variant != blank %}
            {% assign title_product = feature_product.title %}
            {% assign price_product = variant.price %}
            {% assign compare_price_product = variant.compare_at_price %}
          {% else %}
            {% assign title_product = 'Product title' %}
            {% assign price_product = 70 %}
            {% assign compare_price_product = 90 %}
          {% endif %}

          <h2 class="featured-product__title">{{ title_product }}</h2>
          <div class="featured-product__price">
            {{ price_product | money }} <del>{{ compare_price_product | money }}</del>
          </div>
        </div>

        <div class="feature-content--bottom">
          <div class="featured-product__desc">
            {{ section.settings.product_desc }}
          </div>

          <a href="#" class="featured-product__btn btn btn--is-large btn--is-secondary">{{ 'general.button.add_to_cart' | t }}</a>

          <a href="{{ featured_product.url }}" class="featured-product__link text--link">{{ section.settings.secondary_btn_label | upcase }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    padding-top: 7rem;
    padding-bottom: 3.5rem;
  }

  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: 13rem;
      padding-bottom: 8.5rem;
    }
  }
</style>
