{% assign google_api_key = section.settings.google_api_key %}
{% assign image_desktop = section.settings.image_desktop %}
{% assign image_mobile = section.settings.image_mobile %}

<div class="map-contact-us xo-container" {% if google_api_key != '' %}data-api-key={{ google_api_key }}{% endif %}>
  {% if google_api_key == '' %}
    {% render 'background-image', image_desktop: image_desktop, image_mobile: image_mobile %}
  {% endif %}
  <div class="map__our-store">
    <h2 class="heading">{{ section.settings.heading }}</h2>
    <p>{{ section.settings.subheading }}</p>
    <div class="map-addresses">
      {% for block in section.blocks %}
        <a href="https://maps.google.com/?daddr={{ block.settings.address }}" target="_blank" class="map-address__item cursor-pointer" data-address="{{ block.settings.address }}">
          <div class="item__pin">
            {% render 'icon-pin' %}
          </div>
          <div class="item__address">
            {{ block.settings.address }}
          </div>
          <div class="item__goto">
            {% render 'icon-long-arrow-right' %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="google-map"></div>

</div>

<style>
  #shopify-section-{{ section.id }} {
    padding-top: 7rem;
    padding-bottom: 10rem;
  }
</style>
