.article-card {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  flex: 0 1 100%;

  height: 100%;
}

.articles-wrapper .article {
  max-width: 100%;
}

.article-content {
  width: 100%;

  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: inherit;

  border-radius: 1.8rem;

  transition: all linear .2s;

  overflow: hidden;

  @include responsive(LG) {
    border-radius: 2.5rem;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 50px 120px -10px rgba(139, 95, 76, 0.33);
  }
}

.article-card__image-wrapper {
  & > a {
    display: block;
  }
}

.article-card__image {
  display: block;

  overflow: hidden;
  padding-bottom: 66.6%;

  position: relative;

  img {
    border-radius: 1.8rem 1.8rem 0 0;

    object-fit: cover;
    object-position: center center;

    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    @include responsive(LGs) {
      border-radius: 2.5rem 2.5rem 0 0;
    }
  }
}

.article-card__image > *:not(.zoom, .deferred-media__poster-button),
.article-card__image model-viewer {
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  
  @include box(100%, 100%);
  max-width: 100%;
}

/*
* Content
*/
.article-card__info {
  border-radius: 0 0 1.8rem 1.8rem;
  box-shadow: 0 1rem 7rem -1rem rgba(112, 33, 0, 0.15);

  @include responsive(LG) {
    border-radius: 0 0 2.5rem 2.5rem;
  }
}

.article-card__content {
  padding: 2rem 3rem 3rem;

  display: flex;
  flex-direction: column;
}

.blog-articles__article {
  &.xo-col-lg-5,
  &.xo-col-lg-6,
  &.xo-col-lg-4 {
    .article-card__content {
      @include responsive(XL) {
        padding: 3.6rem 6.7rem 5rem;
      }
    }
  }

  &.xo-col-lg-3 {
    .article-card__content { 
      @include responsive(XL) {
        padding: 2rem 3rem 3rem;
      }
    }
  }
}

.article-card__header {
  padding: 0.4rem 0;

  display: flex;
  flex-direction: column;

  @include responsive(LG) {
    padding: 0.6rem 0;
  }

  .article-card__title {
    font-size: 1.9rem;
    line-height: 132%;
    
    letter-spacing: 0.004em;

    margin-bottom: 0.8rem;

    @include responsive(LG) {
      font-size: 3rem;
      line-height: 136%;

      margin-bottom: 1.2rem;
    }
  }

  .article-card__date {
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .article-card__author {
    margin-bottom: 0.6rem;
  }

  .article-card__date,
  .article-card__author {
    color: color(base-primary-accent-3);
    font-size: 1.4rem;
    line-height: 144%;
  }
}

.article-card__excerpt {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 144%;

  padding: 0.4rem 0;

  @include responsive(LG) {
    font-size: 1.7rem;
    
    padding: 0.6rem 0;
  }
}  