

.main-product-container {
  @include responsive(MD) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.main-product {
  
  margin-bottom: 10rem;

  padding-top: 5rem;
  padding-bottom: 5rem;

  @include responsive(MD) {
    margin-top: 5rem;
  }

  @include responsive(LG) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

// INFO
  .main-product__tags {
    margin: 0.4rem 0;

    > .main-product__tag {
      color: var(--color-base-primary-accent-3);
    }
  }

  .main-product__title {
    margin: 1rem 0;

    h1 {
      margin: 0;
    }
  }

  .main-product__price {
    margin: 2rem 0;

    span {
      font-weight: 700;
    }

    .price-reg {
      color: var(--color-base-primary-accent-2);
    }
  }

  .main-product__description {
    margin: 2rem 0 3rem;

    h3 {
      margin: 1rem 0 0.5rem;
    }
  }


// FORM
  .product-form__control {
    padding: 0;
  }

  .product-form__select,
  .input-number-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5.5rem;
    appearance: none;
    border: none;
    width: 100%;
    border-radius: 8rem;
    padding: 0 4rem;

    font-weight: 700;

    border-radius: var(--border-radius-input);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    //Firefox
    input[type=number] {
      -moz-appearance: textfield;
      border: none;
      width: 4rem;
      font-weight: 700;
    }
  }

  .select-wrapper {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: 4rem;

      content: '';
      width: 10px;
      height: 10px;

      border-right: 3px solid var(--color-base-primary-accent-2);
      border-bottom: 3px solid var(--color-base-primary-accent-2);
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .select-wrapper, .input-number {
    margin: 1rem 0;
  }

  .product-form__button {
    margin-top: 3rem;

    .btn {
      padding: 1.6rem 0;
      @include responsive(LG) {
        padding: 2rem 0;
      }
    }
  }

.no-js .input-number-wrapper {
  justify-content: center;
}

// SLIDER
.main-product__slider {
  order: -1;
  @include responsive(LG)  {
    order: 0;
  }
  margin-bottom: 3.5rem;

  .product__feature-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// Slider style 01
.xo-slider.is-style-01 {
  #primary-slider {
    overflow: hidden;
    border-radius: 35px;
  }

  #secondary-slider {
    margin-top: 2rem;
    padding: 0 10%;

    @include responsive(LG) {
      padding: 0 17%;
    }

    .splide__slide {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      border: none;
      overflow: hidden;
      cursor: pointer;

      @include responsive(LG) {
        width: 9rem;
        height: 9rem;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    .splide__slide.is-active::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 21px;
      border-right: 3px solid var(--color-base-primary-accent-1);
      border-bottom: 3px solid var(--color-base-primary-accent-1);
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center center;

    }
    .splide__slide.is-active::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.66);
    }

    .splide__arrow {
      display: none;
      @include responsive(LG) { display: flex;}

      &.splide__arrow--prev {
        left: 0;
      }

      &.splide__arrow--next {
        right: 0;
      }
    }

    .splide__pagination {
      bottom: -2rem;
    }
    .splice__pagination .splice__pagination__page {
      background-color: var(--color-base-primary-accent-1);
    }
  }
}

.xo-slider.is-style-02 {
  #primary-slider {
    box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
    border-radius: 35px;
    overflow: hidden;
  }
  #secondary-slider {
    margin-top: 2rem;
    padding: 0 10%;

    @include responsive(LG) {
      padding: 0 28%;
    }

    .splide__slide {
      height: 12rem;
      width: 8rem;
      border-radius: 14px;
      border: none;
      overflow: hidden;
      cursor: pointer;

      @include responsive(LG) {
        width: 9rem;
        height: 13rem;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 14px;
      }
    }
    .splide__slide.is-active::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 50%;
      height: 14px;
      width: 9px;
      border-right: 3px solid var(--color-base-primary-accent-1);
      border-bottom: 3px solid var(--color-base-primary-accent-1);
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: center center;

    }
    .splide__slide.is-active::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      bottom: -15px;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }

    .splide__arrow {
      display: none;
      @include responsive(LG) { display: flex;}

      &.splide__arrow--prev {
        left: 0;
      }

      &.splide__arrow--next {
        right: 0;
      }
    }
  }
}

.shopify-payment-button__button {
  @extend .btn;
  @extend .btn--is-large;

  &::before {
    background: color(base-secondary-accent-1);
  }
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background: var(--color-background-button);
  color: var(--color-label-button);
}

.shopify-payment-button__more-options {
  margin-top: 0;
}

// Product review 
.spr-badge-caption {
  margin-left: .5rem;
  color: color(base-primary-accent-3);
  font-weight: 500;
}

[class*=" spr-icon-"]:before {
  color: color(base-primary-accent-1);
}

.spr-form-title {
  font-size: 1.7rem !important;
  margin-bottom: 1rem;
}

.spr-form-contact-name, 
.spr-form-contact-email, 
.spr-form-review-title {
  > .spr-form-input {
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    background-color: color(base-secondary-accent-1);
    color: color(base-primary-accent-3);
  }

  > .spr-form-label {
    display: block;
    margin-bottom: .3rem;
  }
}

.spr-form-review-body {
  textarea {
    border: none;
    outline: none;
    padding: 1.5rem 2rem;
    background-color: color(base-secondary-accent-1);
    color: color(base-primary-accent-3);
  }
}

.spr-summary-actions-togglereviews {
  color: color(base-primary-accent-1);
}

.shopify-section.spaced-section {
  margin-bottom: 150px;
}

.spr-button-primary {
  width: 100%;

  @include responsive(MD) {
    width: initial;
  }
}