$color-base: var(--color-base-primary-accent-1);



// header
.password-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: var(--color-base-background);

  @include responsive(MD) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px 70px;
    text-align: unset;
  }
}

.password-header-logo {
  max-width: 300px;

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    color: $color-base;
    font-size: 4rem;
    font-weight: bold;
  }

  img, h3 {
    padding-bottom: 25px;

    @include responsive(MD) {
      padding-bottom: 0;
    }
  }
}

.password-social__list {
  list-style: none;
  display: flex;
  align-items: center;

  svg {
    width: 17px;
    height: 17px;
  }

  path {
    fill: var(--color-base-primary-accent-2);
    transition: all .2s linear;
  }

  a {
    width: 45px;
    height: 45px;
    margin-left: 7px;

    display: inline-flex;
    background: var(--color-base-secondary-accent-1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .3 linear;

    &:hover {
      background: $color-base;
    }

    &:hover path {
      fill: var(--color-base-secondary-accent-3);
    }
  }
}

.password-social__item {
  &:first-child {
    a {
      background: $color-base;
    }

    path {
      fill: var(--color-base-secondary-accent-3);
    }
  }
}

// Content
.password-content-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include responsive(MD) {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.password-page__hero {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  margin-bottom: 6.8rem;
  position: relative;
  background-size: cover;
  border-radius: 13px;

  @include responsive(LG) {
    width: 780px;
  }

  svg {
    width: 300px;
    height: 300px;
    border-radius: 13px;
    z-index: 1;
    margin: 0 auto;
  }

  .hero__img {
    width: 100%;
    height: auto;
  }

  .password-hero__title {
    font-size: 3.4rem;
    z-index: 10;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include responsive(MD) {
      font-size: 7.4rem;
      margin: 0 auto;
      width: 500px;
    }
  }
}

.password-page__message, .form-success  {
  color: $color-base;
  font-family: var(--font-heading-family);
}

.password-form__heading {
  color: $color-base;
}

.password-form__subheading {
  font-size: 1.9rem;
  margin: 4px 0 35px;

  & > * {
    color: var(--color-base-primary-accent-3);
  }
}

.password-page__signup-form {
  margin-bottom: 40px;
}

.input-group{
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;

  @include responsive(MD) {
    width: 524px;
  }

  .input-group-field {
    width: 100%;
    height: 100%;
    background: var(--color-base-secondary-accent-3);
    box-shadow: 0px 3px 60px -10px rgba(113, 54, 0, 0.3);
    border-radius: 35px;
    border: none;
    outline: none;
    padding: 18px 123px 18px 28px;
    color: var(--color-base-primary-accent-3);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 146%;

    @include responsive(MD) {
      padding: 18px 193px 18px 28px;
      font-size: 1.9rem;
    }
  }

  ::placeholder {
    color: var(--color-base-primary-accent-3);
  }

  .input-group-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 4px;
    color: var(--color-base-secondary-accent-3);
    background: $color-base;
    border-radius: 30px;
    width: 100px;
    height: 52px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: var(--font-heading-family);

    @include responsive(MD) {
      width: 170px;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      width: 100%;
      font-size: 1.5rem;
      font-family: var(--font-heading-family);
      font-weight: 400;
      color: var(--color-base-secondary-accent-3);
    }
  }

  .input-group-btn span {
    @include responsive(MD) {
      font-size: 2rem;
    }
  }
}

.password-login {
  display: inline-block;
  position: relative;
  color: var(--color-base-primary-accent-3);
  font-family: var(--font-body-family);
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.9rem;
  text-decoration: underline;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: .7;
  }
}

// password-login__modal
.password-main {
  position: relative;
  background: var(--color-base-background);
}

.password-page__login-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity .3s, visibility .3s;
  background-color: var(--color-base-background);
  visibility: hidden;
  opacity: 0;
  z-index: 20;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility 0;
  }

  .icon-close {
    position: absolute;
    top: 20px;
    left: 25px;
    color: var(--color-base-primary-accent-2);
    display: flex;
    align-items: center;
    cursor: pointer;

    @include responsive(MD) {
      left: 70px;
    }
  }

  svg {
    transform: rotate(-90deg);
    margin-right: 10px;
  }

  path { 
    stroke: var(--color-base-primary-accent-2);
  }

  .form-login {
    padding: 40px 0 50px;
    width: 100%;

    @include responsive(MD) {
      margin: 0 auto;
    }

    input {
      background-color: var(--color-base-secondary-accent-3);
    }
  }

  .password-login__title {
    color: $color-base;
    margin-bottom: 40px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-weight: 400;

    @include responsive(MD) {
      width: initial;
    }
  }

  .input-group-btn {
    font-family: var(--font-body-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.admin-login {
  color: $color-base;
  font-family: var(--font-body-family);

  a {
    font-size: 2.3rem;
    font-family: var(--font-heading-family);
    color: $color-base;

    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    font-weight: 800;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: -4px;
      height: .7rem;
      width: calc(100% + 8px);
      opacity: 1;
      border: solid 2px $color-base;
      border-color: $color-base transparent transparent transparent;
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
    &:hover {
      opacity: .7;
    }

    &:hover::before {
      width: 0;
      opacity: 0;
    }
  }
}
