.product-accordion-2 {
  margin-bottom: 3.5rem;
  @include responsive(LG) {
    margin-bottom: 8.5rem;
  }

  .product__img {
    padding-left: 0 !important;

    @include responsive(LG) {
      height: 80rem !important;
    }
  }

  .product-accordion-wrapper {
    padding: 3.2rem 2.6rem 3.6rem;
    margin-top: 1.2rem;

    border-radius: 1.8rem;

    @include responsive(LG) {
      margin-top: 0;
      height: 80rem;
    }

    @include responsive(XL) {
      padding: 5rem 7rem 5.5rem;
    }
  }

  .xo-col-lg-6 {
    &:nth-child(1) {
      @include responsive(LG) {
        padding-right: 0;
        padding-left: 0.35rem;
      }
    }
    &:last-child {
      @include responsive(LG) {
        padding-right: 0.35rem;
        padding-left: 0;
      }
    }
  }

  /*
  * Image
  */
  .product-accordion__image {
    margin-bottom: 0;
    img, svg {
      border-radius: 1.8rem !important;
    }
  }

  /*
  * Content
  */
  .product-accordion-wrapper__heading {
    display: block;
    margin-bottom: 6rem;

    p {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 146%;

      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: rgba(255, 229, 180, 0.73);

      margin-bottom: 0.5rem;

      @include responsive(LG) {
        font-size: 1.3rem;
        margin-bottom: 1.1rem;
      }
    }

    h2 {
      text-align: left;
    }
  }
}

.product-accordion-2__list {
  max-height: 80%;
  overflow-y: auto;
}

.product-accordion-2__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  position: relative;

  .product-accordion__question {
    cursor: pointer;

    padding: 2.1rem 2.2rem 2.1rem 0;

    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    @include responsive(LG) {
      padding: 2.45rem 2.2rem 2.45rem 0;
    }

    span {
      font-weight: 800;
      font-size: 1.2rem;
      line-height: 146%;

      letter-spacing: 0.08em;
      text-transform: uppercase;

      @include responsive(LG) {
        font-size: 1.3rem;
      }
    }
  }

  .product-accordion__answer {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    width: 100%;

    div {
      margin: 0 0 2.5rem;
      display: inline-block;
      text-align: left;
      padding: 0 0;

      p, span {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 144%;

        max-width: 48rem;

        @include responsive(LG) {
          font-size: 1.7rem;
        }
      }
    }
  }

  &.is-expand {
    .product-accordion__answer {
      max-height: var(--max-height-answer);
      width: 100%;
    }

    .product-accordion__icon {
      span::before, span::after {
        transform: translate(-50%,-50%) rotate(90deg);
      }
      span::before { opacity: 0 }
    }
  }

  .product-accordion__icon {
    @include box(3.6rem, 3.6rem);
    border-radius: 100%;
    background-color: color(base-secondary-accent-1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 1rem;

    span {
      position: absolute;
      top: 50%;
      left: 50%;

      @include box(1.4rem, 1.4rem);
      transform: translate(-50%, -50%);

      &::before {
        @include box(14px, 2px);
        opacity: 1;
      }

      &::after {
        @include box(2px, 14px);
      }
    }

    span::before, span::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      background-color: color(base-primary-accent-3);

      transform: translate(-50%,-50%) rotate(-90deg);
      transition: transform .4s ease-in-out,opacity .4s ease-in-out;
    }
  }
}

/*
* Style 2
*/
.product-accordion-2-style2 {
  .xo-col-lg-5 {
    @include responsive(LG) {
      padding: 0;
      padding-right: 0.35rem;
    }
  }

  .xo-col-lg-7 {
    @include responsive(LG) {
      padding: 0;
      padding-left: 0.35rem;
    }
  }

  .product-accordion-wrapper {
    @include responsive(XL) {
      padding: 5rem 5.6rem 5.5rem;
    }
  }

  .product-accordion__icon {
    background-color: color(base-background);
    span::before, span::after {
      background-color: #5DBCE1;
    }
  }
}

/*
* Style 3
*/
.product-accordion-2-style3 {
  .product-accordion__icon {
    background-color: unset;
    span::before, span::after {
      background-color: #7B8E84;
    }
  }
}
