<div class="product-accordion-2 
{% if settings.theme_layout == 'layout2' %} product-accordion-2-style2 {% endif %}
{% if settings.theme_layout == 'layout3' %}product-accordion-2-style2 product-accordion-2-style3 {% endif %}"
>
  <div class="xo-container">
    {%- comment -%} Content {%- endcomment -%}
    <div class="product-accordion__content xo-row">

      {%- comment -%} Image {%- endcomment -%}
      <div 
        class="product-accordion__image xo-col-12 
          {% if settings.theme_layout == 'layout2' %} 
            xo-col-lg-7 
          {% else %}
            xo-col-lg-6
          {% endif %}">
        <div class="product__img">
          {% if section.settings.image == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% else %}
          <img srcset="{% if section.settings.image.width >= 350 %}{{ section.settings.image | img_url: '350x' }} 350w,{% endif %}
                {% if section.settings.image.width >= 700 %}{{ section.settings.image | img_url: '700x' }} 700w,{% endif %}
                {% if section.settings.image.width >= 749 %}{{ section.settings.image | img_url: '749x' }} 749w,{% endif %}
                {% if section.settings.image.width >= 1498 %}{{ section.settings.image | img_url: '1498x' }} 1498w,{% endif %}
                {% if section.settings.image.width >= 1100 %}{{ section.settings.image | img_url: '1100x' }} 1100w,{% endif %}
                {% if section.settings.image.width >= 2200 %}{{ section.settings.image | img_url: '2200x' }} 2200w,{% endif %}"
              sizes="100vw"
              src="{{ section.settings.image | img_url: '500x' }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
              alt="{{ section.settings.image.alt | escape }}">
          {% endif %}
        </div>
      </div>

      {%- comment -%} Accordion {%- endcomment -%}
      <product-accordion 
        class="xo-col-12 
          {% if settings.theme_layout == 'layout2' %} 
            xo-col-lg-5 
          {% else %}
            xo-col-lg-6
          {% endif %}">
        <div class="product-accordion-wrapper" style="background: {{ section.settings.color_bg }};">
          <div class="product-accordion-wrapper__heading">
            <p>{{ product.title }}</p>
            <h2 class="h3">{{ section.settings.title }}</h2>
          </div>

          <div class="product-accordion-2__list">
            {%- for block in section.blocks -%}
              <div class="product-accordion-2__item">
                <div class="product-accordion__question">
                  <span>{{ block.settings.question }}</span>
                  <div class="product-accordion__icon">
                    <span></span>
                    <!-- <span></span> -->
                  </div>
                </div>
  
                <div class="product-accordion__answer">
                  <div>
                    {{ block.settings.answer }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </product-accordion>

    </div>

  </div>
</div>

<style lang="scss">
  .product-accordion-wrapper__heading h2,
  .product-accordion__question > span,
  .product-accordion__answer p {
    color: {{ section.settings.color_text }};
  }

  .product-accordion-2__item {
    border-top: 1px {{ section.settings.type_line }} {{ section.settings.color_line }};
  }
</style>
