
{% case section.settings.logo_align %}
{% when "left" %}
  {% assign align = 'align-left' %}
{% when 'center' %}
  {% assign align = 'align-center' %}
{% endcase %}

<top-bar class="header-wrapper {% if section.settings.enable_sticky_header %}sticky-header{% endif %}" data-shop-url="{{ shop.url }}">
<header id="xo-header" class="header header-2 xo-container">
  <div class="header-content xo-row {{ align }}">
    <div class="toggle__menu xo-col-2 xo-col-md-4">
      <span class="icon-toggle-menu">
        {% render 'icon-hamburger' %}
      </span>
    </div>

    <!-- Main menu -->
      <header-menu class="header-menu xo-col-md-4 header-menu--main">
        <div class='xo-header__menu'>
          <div class="xo-header__menu-heading">
            <div class="icon-close-menu icon-close">
              {% render 'icon-close' %}
            </div>

            <div class="header__logo">
              <a href="{{ shop.url }}" class="header__logo-link">
                {% if section.settings.logo_img %}
                  <img class="logo" src="{{ section.settings.logo_img | img_url: 'master' }}" alt="{{ section.settings.logo_img.alt }}">
                {% else %}
                  {{ section.settings.logo }}
                {% endif %}
              </a>
            </div>
          </div>

        <div class="xo-header__main-menu">
            <ul class="xo-header__menu-list">
              {% for link in linklists[section.settings.menu].links %}
                <li class="xo-header__menu-item {% if link.links != blank %} menu--nested {% endif %}">
                  <div class="menu--nested__item">
                    <a href="{{ link.url }}" class="xo-link-item xo-header__link">{{ link.title }}</a>
                    <span class="menu--nested__icon">
                      {% if link.links != blank %}
                        {% render 'icon-arrow-bottom' %}
                      {% endif %}
                    </span>
                  </div>

                  {% if link.links != blank %}
                    <ul class="menu__list-child">
                      {% for childlink in link.links %}
                        <li class="menu__child-link">
                          <a class="xo-header__link-item" href="{{ childlink.url }}" >{{ childlink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}

              <li class="xo-header__menu-item xo-header__cart xo-header__cart-list">
                <a href="{{ routes.cart_url }}" class="header-cart__title xo-header__link xo-link-item">{{ 'sections.header.my_bag' | t }}</a>
                <a href="{{ routes.cart_url }}" class="header-cart__item-count">
                  <span>{{ cart.item_count }}</span>
                </a>
              </li>
            </ul>

            <!-- Header customer form -->
            <div class="header__form">

              {% if customer %}
                <span class="header__form-customer">
                  <span class="header__customer-name">Hi, {{ customer.name }} </span>
                  <span class="header__customer-icon">
                    {% render 'icon-arrow-top' %}
                  </span>
                </span>
              {% else %}
                <a href="{{ routes.account_login_url }}" class="header__form-item btn">
                  {{ 'sections.header.log_in' | t }}
                </a>
                <!-- <a href="{{ routes.account_register_url }}" class="header__form-item header__form-item--white">
                  {{ 'sections.header.sign_up' | t }}
                </a> -->
              {% endif %}
            </div>
        </div>

          <div class="xo-account__menu">
            <div class="xo-account__menu-heading">
              <div class="icon-close-account icon-close">
                {% render 'icon-close' %}
              </div>

              <a href="{{ router.account_logout_url }}" class="xo-account__logout">
                <span>{{ 'sections.header.log_out' | t }}</span>
                {% render 'icon-log-out' %}
              </a>
            </div>

            <div class="xo-header__menu-item">
              <span class="xo-account__title xo-header__link">{{ 'sections.header.account' | t }}</span>
              <!-- <a href="/" class="xo-account__name">Jullia Robert</a>  -->
              <a href=/ class="xo-account__profile">{{ 'sections.header.profile' | t }}</a>
              <a href="/" class="xo-account__order"> {{ 'sections.header.my_order' | t }}</a>
              <a href="{{ routes.cart_url }}" class="xo-account__bag">{{ 'sections.header.my_bag' | t }}</a>
            </div>

            <span class="xo-account__back">
              <span>{% render 'icon-arrow-right' %}</span>
              <span class="xo-account__back-title">{{ 'sections.header.go_back' | t }} </span>
            </span>
          </div>
        </div>
      </header-menu>
      

      <div class="header__logo xo-col-md-4 xo-col-8">
        <a href="{{ shop.url }}" class="header__logo-link">
          {% if section.settings.logo_img %}
            <img class="logo" src="{{ section.settings.logo_img | img_url: 'master' }}" alt="{{ section.settings.logo_img.alt }}">
          {% else %}
            {{ section.settings.logo }}
          {% endif %}
        </a>
      </div>  

    <header-menu class="header-menu xo-col-md-4 header-menu__search">
      <div class='xo-header__menu-search'>
        <div class="xo-header__menu-heading">
          <div class="icon-close--search">
            {% render 'icon-close' %}
          </div>
        </div>

        <div class="search__form">
          <form action="{{ routes.search_url }}"
              method="GET"
          >

            {% render 'icon-search' %}
            <input name="options[prefix]" type="hidden" value="last">
            <input type="text" name="q" class="search_input" placeholder="{{ 'sections.header.search_placeholder' | t }} ..." autocomplete="off">

            <button type="reset">&times;</button>

            <div class="xo-search__result">
              <!-- Seach result -->
              <ul class="xo-result__list"></ul>

            </div>
          </form>
        </div>
      </div>
    </header-menu>

    <!-- Search menu -->
    <div class="header__search">
      {% render 'icon-search' %}
    </div>

    <div class="xo-menu__right xo-col-md-4 xo-col-2">
      <div class="menu__right-item icon-search">
        <form action="{{ routes.search_url }}"
              method="GET"
        >
          <input name="options[prefix]" type="hidden" value="last">
          <input autocomplete="off" type="text" name="q" class="menu__search-input" placeholder="{{ 'sections.header.search_placeholder' | t }} ..." id="">

          <button type="reset" class="btn__reset">&times;</button>

          <span class="menu__search-icon">
            {% render 'icon-search' %}
          </span>

          <div class="xo-search__result">
            <!-- Seach result -->
            <ul class="xo-result__list"></ul>

          </div>
        </form>
      </div>

      <div class="overlay"></div>

      <!-- ACCOUNT  -->
      <div class="xo-header__link menu__right-item xo-header__account">
        {% if customer.has_account %}
          <a href="{{ routes.account_url }}"  class="title xo-link-item">{{ customer.name }}</a>
        {% else %}
          <a href="{{ routes.account_login_url }}"  class="title xo-link-item">{{ 'sections.header.log_in' | t }}</a>
        {% endif %}
      </div>

      <!-- CART  -->
      <div class="menu__right-item xo-header__cart">
        <a href="{{ routes.cart_url }}" class="header-cart__title xo-header__link xo-link-item">{{ 'sections.header.my_bag' | t }}</a>
        <a href="{{ routes.cart_url }}" class="header-cart__item-count">
          <span>{{ cart.item_count }}</span>
        </a>
      </div>
    </div>
  </div>
</header>
</top-bar>

{% style %}
  {% if section.settings.use_section_setting %}
      .menu__right-item.icon-search .menu__search-icon path,
      .xo-header__menu-search .search__form path,
      .header__search path{
        fill: {{ section.settings.icon_search_color }};
      }

      .icon-toggle-menu line {
        stroke: {{ section.settings.icon_search_color }};
      }

      .menu__right-item.icon-search .menu__search-icon:hover{
        background: {{ section.settings.icon_search_background_color }};
      }

      .header-search--active .header-wrapper .menu__right-item.icon-search.is-active .menu__search-input, 
      .xo-header__menu-search .search__form, 
      .search_input  {
        background: {{ section.settings.input_background_color }};
      }
      
      .menu__right-item.icon-search .menu__search-input, 
      .menu__right-item.icon-search ::placeholder,
      .search_input,
      .xo-header__menu-search .search__form ::placeholder {
        color: {{ section.settings.input_color }};
      }

      .header-wrapper form button[type=reset] {
        color: {{ section.settings.input_color }} !important;
      }

      .header-wrapper.header-wrapper--fixed {
        background: {{ section.settings.header_color }};
      }

      .xo-menu__right .header-cart__item-count {
        background: {{ section.settings.cart_background_color }};
      }

      .xo-menu__right .xo-header__account span, 
      .xo-menu__right .xo-header__cart span {
        color: {{ section.settings.cart_color }};
      }

      .xo-header__menu-search .search__form .xo-result__title {
        color: {{ section.settings.result_color }}
      }

      @media only screen and (min-width: 992px) {
        .xo-header__menu a, 
        .title.xo-link-item,
        .xo-menu__right .header-cart__title
         {
          color: {{ section.settings.menu_color }};
        }

        .menu--nested__item path {
          stroke: {{ section.settings.menu_color }};
        }

        .xo-menu__right .xo-header__account::before, 
        .xo-menu__right .xo-header__cart::before {
          background: {{ section.settings.menu_color }};
        }

        .menu--nested__item:hover .xo-header__link,
        .xo-header__link .title:hover, 
        .header-cart__title.xo-header__link:hover,
        .menu-item--active {
          color: {{ section.settings.menu_color_hover }} !important;
        }

        .menu-item--active +.menu--nested__icon path {
          stroke: {{ section.settings.menu_color_hover }} !important;
        }

        .menu--nested__item:hover .menu--nested__icon path {
          stroke: {{ section.settings.menu_color_hover }};
        }

        .menu__child-link a {
          color: var(--color-base-background);
        }

        .menu__right-item.icon-search.is-active .xo-result__title,
        .menu__right-item.icon-search.is-active .result__count {
          color: {{ section.settings.result_color }};
        }

        .menu__right-item.icon-search .xo-search__result {
          background: {{ section.settings.result_background_color }};
        }
      }
  {% endif %}
{% endstyle %}

