.product-slider {
  position: relative;
  margin-bottom: 10rem;

  @include responsive(LG) {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  .product-slider-container {
    // display: flex;
  }

  .product-slider__behind {
    display: block;
    width: calc(100% - 80px);
    height: 100%;

    position: absolute;
    top: 0;
    left: 3.5rem;

    background-color: var(--color-base-primary-accent-1);
    border-radius: 1rem;
    transform: rotate(-7.5deg);

    @include responsive(LG) {
      transform: rotate(-6.62deg); 
      left: unset;
      width: 70%;
      transform: translateX(-10px) rotate(-7.5deg);
      border-radius: 3rem;
    }

    @include responsive(XL) {
      transform: translateX(-30px) rotate(-7.5deg);
    }
  }
}

.product-slider__content {
  @include responsive(LG) {
    display: flex;
    justify-content: center;
  }
}

.product-slider__image {
  display: flex;
  justify-content: flex-end;

  @include responsive(LG) {
    padding: 0;
  }
  
  svg, img {
    width: calc(100% - 12px);
    height: auto;
    object-fit: cover;
  
    border-radius: 1rem;

    @include responsive(LG) { 
      width: 100%;
      border-radius: 3rem;
    }
  }

  svg {
    fill: #fff;
    background-color: #333;

    @include responsive(MD) { height: 40rem }
    @include responsive(LG) { height: 63rem }
  }
}

.product-slider {
  .splide__track {
    overflow: visible;
  }
  .splide__arrows {
    position: relative;
    top: 90px;
    @include responsive(MD) {
      top: 180px;
    }
    @include responsive(LG) {
      top: 200px;
    }
    @include responsive(XL) {
      top: 300px;
    }
  }
  .splide__track {
    border-radius: 2.5rem;
  }

  .splide__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    svg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-base-primary-accent-1);
    }
  }

  .splide__arrow:disabled {
    @extend .navigation__btn--is-disable;
  }
}