{% capture slider %}
{%- for block in section.blocks -%}
  <div class="splide__slide product-slider__content xo-row">
    <div class="product-slider__behind xo-col-12 xo-col-lg-9"></div>

    <div class="product-slider__image xo-col-12 xo-col-lg-9">
      {% if block.settings.image == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        <img srcset="{% if block.settings.image.width >= 350 %}{{ block.settings.image | img_url: '350x' }} 350w,{% endif %}
            {%- if block.settings.image.width >= 400 -%}{{ block.settings.image | img_url: '400x' }} 400w,{%- endif -%}
            {%- if block.settings.image.width >= 500 -%}{{ block.settings.image | img_url: '500x' }} 500w,{%- endif -%}
            {%- if block.settings.image.width >= 600 -%}{{ block.settings.image | img_url: '600x' }} 600w,{%- endif -%}
            {%- if block.settings.image.width >= 700 -%}{{ block.settings.image | img_url: '700x' }} 700w,{%- endif -%}
            {%- if block.settings.image.width >= 800 -%}{{ block.settings.image | img_url: '800x' }} 800w,{%- endif -%}
            {%- if block.settings.image.width >= 900 -%}{{ block.settings.image | img_url: '900x' }} 900w,{%- endif -%}
            {%- if block.settings.image.width >= 1000 -%}{{ block.settings.image | img_url: '1000x' }} 1000w,{%- endif -%}
            {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if block.settings.image.width >= 1200 -%}{{ block.settings.image | img_url: '1200x' }} 1200w,{%- endif -%}
            {%- if block.settings.image.width >= 1300 -%}{{ block.settings.image | img_url: '1300x' }} 1300w,{%- endif -%}
            {%- if block.settings.image.width >= 1400 -%}{{ block.settings.image | img_url: '1400x' }} 1400w,{%- endif -%}
            {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if block.settings.image.width >= 1600 -%}{{ block.settings.image | img_url: '1600x' }} 1600w,{%- endif -%}
            {%- if block.settings.image.width >= 1700 -%}{{ block.settings.image | img_url: '1700x' }} 1700w,{%- endif -%}
            {%- if block.settings.image.width >= 1800 -%}{{ block.settings.image | img_url: '1920x' }} 1920w,{%- endif -%}
            {%- if block.settings.image.width >= 1900 -%}{{ block.settings.image | img_url: '1920x' }} 1920w,{%- endif -%}
            {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {% if block.settings.image.width >= 2200 %}{{ block.settings.image | img_url: '2200x' }} 2200w,{% endif %}"
          sizes="100vw"
          src="{{ block.settings.image | img_url: '2200x' }}"
          loading="lazy"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          alt="{{ block.settings.image.alt | escape }}">
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endcapture %}

<div class="product-slider xo-container">
  {% if section.blocks.size == 1 %}
    <div class="product-slider-container">
      {{ slider }}
    </div>
  {% else %}
    <product-slider class="splide product-slider-container">
      <div class="splide__track">
        <div class="splide__list">
          {{ slider }}
        </div>
      </div>
    </product-slider>

  {% endif %}

</div>
