.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-container {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 0;

    .customer-form-wraper {
      @include responsive(LG) {
        @include box(59rem, 58rem);
      }
    }
  }

  .recover-form-container {
    position: absolute;
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;

    .customer-form-wraper {
      @include responsive(LG) {
        @include box(59rem, 50rem);
      }
    }
  }

  &.is-active {
    .login-container {
      transform: translateY(60px);
      opacity: 0;
      transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: -1;
    }
    .recover-form-container {
      transform: translateY(0);
      opacity: 1;
      transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: 0;
    }
  }

  .customer__text {
    margin-top: 4.9rem;

    @include responsive(LG) { margin-top: 5rem }
  }
}

.login-recover-form {
  display: inline-block;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 144%;

	color: color(base-primary-accent-3);
  text-decoration-line: underline;

  margin-bottom: 3rem;
  margin-left: 3rem;

  cursor: pointer;
  @include responsive(LG) {
    margin-top: 1.4rem;
    margin-bottom: 3.6rem;
    font-size: 1.5rem;
  }
}

/*
* Style 2 
*/
// .customer-2 {
//   .login-recover-form {
//     color: color(base-primary-accent-1);
//   }
// }