{% assign image_desktop = section.settings.image_desktop %}


<div class="customer login 
{% if settings.theme_layout == 'layout2' %} customer-2 {% endif %}
{% if settings.theme_layout == 'layout3' %} customer-3 {% endif %}
">
  <!-- Image  -->
  <div class="background__img background__img-desktop">
    {% if image_desktop != blank %}
      <img srcset="{%- if image_desktop.width >= 375 -%}{{ image_desktop | img_url: '375x' }} 375w,{%- endif -%}
            {%- if image_desktop.width >= 750 -%}{{ image_desktop | img_url: '750x' }} 750w,{%- endif -%}
            {%- if image_desktop.width >= 1100 -%}{{ image_desktop | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if image_desktop.width >= 1500 -%}{{ image_desktop | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if image_desktop.width >= 1780 -%}{{ image_desktop | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if image_desktop.width >= 2000 -%}{{ image_desktop | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if image_desktop.width >= 2800 -%}{{ image_desktop | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ image_desktop | img_url: '1100x1100' }}"
            loading="lazy"
            alt="{{ image_desktop.alt | escape }}"
            width="{{ image_desktop.width }}"
            height="{{ image_desktop.width  }}"
          >
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <div class="customer-back">
    <a href="{{ shop.url }}">
      {% render 'icon-arrow-left' %}
      <span>{{ 'sections.header.go_back' | t }}</span>
    </a>
  </div>

  <div class="customer-container login-container xo-container">

    {%- comment -%}Form login{%- endcomment -%}
    <div class="customer-form-wraper">
      <!-- Heading -->
      <div class="customer-return">
        <a href="{{ shop.url }}" class="customer-return__text">
          {% render 'icon-prev' %}
          <span>{{ 'customer.login_page.back' | t }}</span>
        </a>
      </div>

      <div class="customer__heading">
        <h1 class="h2 customer__title text-center">{{ 'customer.login_page.sign_in' | t }}</h1>
      </div>

      <!-- Content -->
      {%- form 'customer_login', class: 'customer-login-form' -%}
        {%- comment -%} Error form {%- endcomment -%}
        {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        <div class="customer-form__item">
          <input
              type="email"
              name="customer[email]"
              required
              placeholder="{{ 'customer.login_page.email' | t }}"
          >
        </div>

        <div class="customer-form__item">
          <input
              type="password"
              name="customer[password]"
              required
              placeholder="{{ 'customer.login_page.password' | t }}"
              class=""
              >
        </div>

        <div class="login-recover-form">
          {{ 'customer.login_page.forgot_password' | t }}
        </div>

        <div class="customer__btn">
          <button type="submit" class="btn btn--is-hover-shadow btn--is-fullwidth btn--is-large">
            {{ 'customer.login_page.sign_in' | t }}
          </button>
        </div>

        <div class="customer__text text-center">
          <span>{{ 'customer.register.account' | t }}</span>
          <a href="/account/register" class="text--link">{{ 'customer.register.title' | t }}</a>
        </div>
      {%- endform -%}

    </div>

  </div>

  {%- comment -%}Form recover{%- endcomment -%}
  <div class="recover-form-container form-item xo-container">
    <div class="customer-form-wraper">
      <!-- Heading -->
      <div class="customer-return">
        <a href="#" class="customer-return__text recover__btn">
          {% render 'icon-prev' %}
          <span>{{ 'customer.login_page.back' | t }}</span>
        </a>
      </div>

      <div class="customer__heading">
        <h1 class="h2 customer__title text-center">{{ 'customer.recover_password.title' | t }}</h1>
        <div class="customer__subhead">
          <span>{{ 'customer.recover_password.subtext' | t }}</span>
        </div>
      </div>

      <!-- Content -->
      {% form 'recover_customer_password', class: 'recover-form' %}

        {%- comment -%} Error form {%- endcomment -%}
        {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        {% if form.posted_successfully? %}
          <span class="reset-password-success">{{ 'customer.other.reset_password_success' | t }}</span>
        {% endif %}

        <div class="customer-form__item">
          <input
            type="email"
            value=""
            name="email"
            placeholder="{{ 'customer.login_page.email' | t }}"
            required
          >
        </div>

        <button type="submit" class="btn btn--is-fullwidth btn--is-hover-shadow btn--is-large">{{ 'customer.login_page.submit' | t }}</button>

        <div class="customer__text text-center">
          <span class="recover__btn text--link">{{ 'customer.login_page.cancel' | t }}</span>
        </div>
      {% endform %}
    </div>

  </div>

  {% assign color = section.settings.text %}
</div>

<style>
  .customer {
    background: {{ section.settings.background }};
  }
  .customer-form__item input,
  .customer-form__item input:focus,
  .customer__title,
  .customer__text a,
  .customer__text span,
  .login-recover-form {
    color: {{ section.settings.text }};
  }

  .customer__text a::before,
  .customer__text a::after,
  .customer__text span::before,
  .customer__text span::after {
    border: solid 2px {{ section.settings.text }};
    border-color: {{ section.settings.text }} transparent transparent transparent;
  }

  @media screen and (min-width: 992px ) {
    .customer {
      background: unset;
    }
    .customer-form-wraper {
      background: {{ section.settings.background }};
    }
  }
</style>
