<div class="form-contact-us xo-container {% if settings.theme_layout == 'layout2' %} form-contact-us-2 {% endif %}">
  <div class="xo-row">
    <div class="contact-us__form xo-col-12 xo-col-lg-7 text-center">
      <h2>Drop us a message !</h2>

      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message text-left" tabindex="-1" autofocus>
            <span class="icon flex-center">{% render 'icon-check' %}</span>
            <span>{{ 'templates.contact.form.post_success' | t }}</span>
          </div>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
              </a>
            </li>
          </ul>
        {%- endif -%}
      <div class="field">
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
        <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
      </div>
      <div class="field">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
      </div>
      <div class="field">
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="contact__button">
        <button type="submit" class="btn btn--is-large btn--is-hover-shadow">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
      {%- endform -%}
    </div>
    <div class="contact-info xo-col-12 xo-col-lg-4 xo-offset-lg-1">
      {% for block in section.blocks %}
      <div class="contact-info__group">
        {% case block.type %}
          {% when 'info' %}
          <div class="group__title caption-10">{{ 'templates.contact.information' | t | upcase }}:</div>
          <div class="info-item">
            <span class="icon flex-center">
              {% render 'icon-email' %}
            </span>
            <span>{{ block.settings.email }}</span>
          </div>
          <div class="info-item">
            <span class="icon flex-center">
              {% render 'icon-phone' %}
            </span>
            <span>{{ block.settings.phone }}</span>
          </div>
          {% when 'open_time' %}
          <div class="group__title caption-10">{{ 'templates.contact.opening_hour' | t | upcase }}r:</div>
          {{ block.settings.time_opening }}
        {% endcase %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    padding-bottom: 5rem;
  }

  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-bottom: 15rem;
    }
  }

  .form-contact-us {
    background: {{ section.settings.background }}
  }

  .field input,
  .field input:focus,
  .field textarea,
  .info-item span,
  .contact-info__group p {
    color: {{ section.settings.text }};
  }
</style>

