.ingredient{
  background: #f8f0df;

  .xo-row {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @include responsive(LG) {
      padding-top: 10.4rem;
      padding-bottom: 9.3rem;
    }
  }

  .ingredient__content {
    p {  
      margin-top: 1.2rem;
      margin-bottom: 2.6rem;
      @include responsive(LG) {
        margin-top: 2rem;
        margin-bottom: 4rem;
        max-width: 40rem;
      }
    }

    a { margin-bottom: 10rem }
  }
}
.ingredient__image {
  &.xo-col-12 {
    padding: 0;
  }
  img, svg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  svg {
    fill: #fff;
    background: #333;

    @include responsive(LG) {
      @include box(100%, 60rem);
    }
  }
}