<div class="ingredient">
  <div class="xo-container">
    <div class="xo-row">
      <!-- Content  -->
      <div class="ingredient__content xo-col-12 xo-col-lg-4">
        <h2 class="ingredient__heading" style="color: {{ section.settings.color_heading }};">{{ section.settings.heading }}</h2>
        <p class="ingredient__desc" style="color: {{ section.settings.color_text }};">{{ section.settings.desc }}</p>

        <a href="{{ section.settings.link_to }}" class="ingredient__link text--link">{{ section.settings.link }}</a>
      </div>

      <!-- Image  -->
      <div class="ingredient__image xo-col-12 xo-col-lg-8">
        {%- if section.settings.image != blank -%}
          <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ section.settings.image | img_url: '1100x' }}"
            sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
            alt="{{ section.settings.title | escape }}"
            height="{{ section.settings.image.height }}"
            width="{{ section.settings.image.width }}"
            loading="lazy"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredient 2",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Making with 100% original ingredients"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Subheading",
      "default": "A complete feed for more active dogs and larger breeds. Contain a lot of protein and fat to cover all nutritional needs for muscle growth, healthy tissue and bones."
    },
    {
      "type": "header",
      "content": "Link"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Link",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "link_to",
      "label": "Link to"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_heading",
      "label": "Heading",
      "default": "#F0510D"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Subheading",
      "default": "#894722"
    }
  ],
  "presets": [
    {
      "name": "Ingredient 2"
    }
  ]
}
{% endschema %}
