.section-ingredient {
  position: relative;
  min-height: 80rem;

  padding-top: 5rem;
  padding-bottom: 5rem;

  @include responsive(MD) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
.ingredient__left {
  .ingredient__heading {
    margin-bottom: 1.2rem;

    @include responsive(MD) {
      margin-bottom: 2rem;
    }
  }

  .ingredient__desc {
    margin-bottom: 2.4rem;

    @include responsive(MD) {
      margin-bottom: 4.8rem;
    }
  }

  .ingredient__link {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.08rem;
  }
}

.ingredient__conversation {
  position: relative;

  padding-bottom: 100%;

  @include responsive(MD) {
    padding-bottom: unset;
  }

  .conversation__wrapper {
    position: absolute;
    display: inline-block;
  }

  .box-chat {
    display: flex;

    position: relative;

    padding: 1.05rem 1.9rem;

    border-radius: 1.5rem;

    opacity: 0;
    transform: translateY(100%);
    transition: all 0.9s;

    @include responsive(XL) {
      padding: 1.7rem 4rem 1.9rem;
    }

    &.box-fade-in {
      opacity: 1;
      transform: translateY(0);
    }

    p {
      z-index: 2;
    }

    &::after {
      content: "";
      width: 1.75rem;
      height: 1.2rem;

      position: absolute;
      bottom: -1rem;

      background-color: inherit;

      @include responsive(XL) {
        @include box(3rem, 2.1rem);
      }
    }

    &.align-box--left::after {
      content: "";
      left: 25%;
      transform: matrix(-2,1,0,1,0,-9);
    }

    &.align-box--right::after {
      content: "";
      left: 55%;
      transform: matrix(0, 1, 2, 1, 0, -9);
    }
  }
}

