{% assign image_desktop = section.settings.img_bg %}
{% assign image_mobile = section.settings.img_bg_mobile %}

<div class="section-ingredient">
  <!-- Background -->
  {% render 'background-image', image_desktop: image_desktop, image_mobile: image_mobile %}

  <div class="ingredient__content xo-container" style="height: 100%;">
    <div class="xo-row" style="height: 100%;">
      <div class="ingredient__left xo-col-12 xo-col-md-4">
        <h2 class="ingredient__heading" style="color: {{ section.settings.color_heading }};">{{ section.settings.heading }}</h2>
        <p class="ingredient__desc" style="color: {{ section.settings.color_text }};">{{ section.settings.desc }}</p>

        <a href="{{ section.settings.link_to }}" class="ingredient__link text--link">{{ section.settings.link }}</a>
      </div>

      <div class="ingredient__conversation xo-col-12 xo-col-md-8">

        {% for block in section.blocks %}
          <!-- Align Chat Box -->
          {% assign align_chat_box = block.settings.align_chat_box %}

          <div class="conversation__wrapper" style="top: {{ block.settings.top }}%; right: {{ block.settings.right }}%">
            <div class="box-chat align-box--{{ align_chat_box }}"
              style="background-color: {{ block.settings.bg_color }};">
                <p class="h4" style="color: {{ block.settings.text_color }};">{{ block.settings.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


