<div class="password-page__login-form text-center" id="loginModal">
  <h4 class="icon-close">
    {% render 'icon-arrow-top' %}
    Back
  </h4>

  <div class="password-page__login-content">
    <h2 class="password-login__title">{{ 'general.password_page.login_form_heading' | t }}</h2>

    <div class="form-login">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}

        <div class="input-group">
          <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          <button class="input-group-btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      {% endform %}
    </div>

    <h4 class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</h4>
  </div>
</div>
