.tag {
  display: inline-block;

  padding: 0.4rem 2rem;

  font-size: 1.3rem;
  font-weight: 700;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #eca02e;

  background: rgba(255, 217, 51, 0.5);
  border-radius: 1.4rem;

  &.tag--is-pink {
    color: #746964;
    background: rgba(240, 81, 13, 0.3);
  }

  &.tag--is-violet {
    color: #767ac9;
    background: #e3e4f7;
  }
}
