<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --color-base-primary-accent-1: {{ settings.colors_primary_accent_1 }};
        --color-base-primary-accent-2: {{ settings.colors_primary_accent_2 }};
        --color-base-primary-accent-3: {{ settings.colors_primary_accent_3 }};

        --color-base-secondary-accent-1: {{ settings.colors_secondary_accent_1 }};
        --color-base-secondary-accent-2: {{ settings.colors_secondary_accent_2 }};
        --color-base-secondary-accent-3: {{ settings.colors_secondary_accent_3 }};

        --color-base-background: {{ settings.colors_background }};

        --color-label-button: {{ settings.colors_label_button }}
        --color-background-button: {{ settings.colors_background_button }}
        --color-border-button: {{ settings.colors_border_button }}
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="password">

    {% section 'password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}

      {% section 'password-modal' %}
    </main>

    <script type='text/javascript'>
      (function() {
        const loginModal = document.querySelector('#loginModal');
        const openLoginEle = document.querySelector('.password-login');
        const closeLoginEle = document.querySelector('.icon-close');

        openLoginEle.addEventListener('click', () => {
          loginModal.classList.add('is-active');
        })

        closeLoginEle.addEventListener('click', () => {
          loginModal.classList.remove('is-active');
        })
      })();
    </script>
  </body>
</html>
