<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    <title>
      {{ page_title }}
      {% if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {% endif %}
      {% if current_page != 1 %}
        &ndash; Page {{ current_page }}
      {% endif %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {% render 'seo-home' %}
    {% if request.page_type == 'collection' %} {% render 'seo-collection-page' %} {% endif %}
    {% if request.page_type == 'product' %} {% render 'seo-product-page' %} {% endif %}

    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_extra_bold = settings.type_body_font | font_modify: 'weight', '800'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_extra_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --color-base-primary-accent-1: {{ settings.colors_primary_accent_1 }};
        --color-base-primary-accent-2: {{ settings.colors_primary_accent_2 }};
        --color-base-primary-accent-3: {{ settings.colors_primary_accent_3 }};

        --color-base-secondary-accent-1: {{ settings.colors_secondary_accent_1 }};
        --color-base-secondary-accent-2: {{ settings.colors_secondary_accent_2 }};
        --color-base-secondary-accent-3: {{ settings.colors_secondary_accent_3 }};

        --color-base-background: {{ settings.colors_background }};

        --color-label-button: {{ settings.colors_label_button }};
        --color-background-button: {{ settings.colors_background_button }};
        --color-border-button: {{ settings.colors_border_button }};
        --border-radius-button: {{ settings.border_radius_button }}px;

        --border-radius-input: {{ settings.border_radius_input }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        font-size: 1.7rem;
        letter-spacing: 0.06rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        color: var(--color-base-text-body);
        background-color: var(--color-base-background);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.9rem;
        }
      }
    {% endstyle %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script>
        var theme = {
          moneyFormat: {{ shop.money_format | json }},
          moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
        }
    </script>
  </head>

  <body>
    {% render 'cart-notification' %}
    
    {% if settings.header_layout == "layout1" %}
      {% section 'header-1' %}
    {% else%}
      {% section 'header-3' %}
    {% endif %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% if settings.footer_layout == "layout2" %}
      {% section 'footer-2' %}
    {% elsif settings.footer_layout == "layout3" %}
      {% section 'footer-3' %}
    {% else %}
      {% section 'footer' %}      
    {% endif %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }
    </script>

  </body>
</html>
