.product-accordion-style2 {
  .product-accordion__content {
    background: #EDF9EB;
    border-radius: 18px;

    padding: 5rem 0;

    @include responsive(LG) {
      flex-direction: unset;
      padding: 0;
    }
  }

  .product-accordion__heading {
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  
  .product-accordion-wrapper__heading {
    @include responsive(LG) {
      padding-top: 6.5rem;
    }
  }

  .product-accordion-wrapper {
    margin-bottom: 3rem;
  }

  // accordion 
  .product-accordion__item {
    background: #fff;
    @include responsive(LG) {
      max-width: 51.7rem;
    }

    &:hover,
    &.is-expand {
      span, p {
        color: #fff !important;
      }
    }
  }
  // image 
  .product-accordion__image {
    height: unset;

    @include responsive(LG) {
      &.xo-col-lg-5 {
        padding: 0;
      }
    }
    
    .product__img {
      padding-left: 0 !important;
    }

    @include responsive(MD) {
      margin-bottom: unset;
    }
  }
}