<product-accordion class="product-accordion product-accordion-style2">
  <div class="product-accordion xo-container">
    
    <div class="product-accordion__content xo-row">
      {%- comment -%} Heading {%- endcomment -%}
      <div class="product-accordion__heading">
        <h2>{{ section.settings.title }}</h2>
      </div>

      {%- comment -%} Accordion {%- endcomment -%}
      <div class="product-accordion-wrapper xo-col-12 xo-col-lg-7">
        <div class="product-accordion-wrapper__heading xo-col-12">
          <h2>{{ section.settings.title }}</h2>
        </div>
        {%- for block in section.blocks -%}
          <div class="product-accordion__item">
            <div class="product-accordion__question">
              <span>{{ block.settings.question }}</span>
              <div class="product-accordion__icon">
                <span></span>
              </div>
            </div>

            <div class="product-accordion__answer">
              <div>
                {{ block.settings.answer }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {%- comment -%} Image {%- endcomment -%}
      <div class="product-accordion__image xo-col-12 xo-col-lg-5">
        <div class="product__img">
          {%- if section.settings.image != blank -%}
            <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ section.settings.image | img_url: '1100x' }}"
              sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
              alt="{{ section.settings.title | escape }}"
              height="{{ section.settings.image.height }}"
              width="{{ section.settings.image.width }}"
              loading="lazy"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>

    </div>

  </div>
</product-accordion>


{% schema %}
{
  "name": "Product accordion",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product Infomation"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Ingredients"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Duck protein (44%), fresh duck (26%), chicken fat (preserved with tocopherol), peas, sweet potatoes, hydrolysed chicken liver (2%), salmon oil, dried apples, carrots, dried kelp (Ascophyllum nodosum), glucosamine (0.026%), condroitin sulphate (0.016%)</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product accordion style 2",
      "blocks": [
        {
          "type": "accordion",
          "settings": {
            "question": "Details",
            "answer": "<p>A complete feed for more active dogs and larger and breeds. Contains a lot of protein and fat to cover all nutritional needs for muscle growth, healthy tissue and all the bones.</p>"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "question": "Ingredients",
            "answer": "<p>Duck protein (44%), fresh duck (26%), chicken fat (preserved with tocopherol), peas, sweet potatoes, hydrolysed chicken liver (2%), salmon oil, dried apples, carrots, dried kelp (Ascophyllum nodosum), glucosamine (0.026%), condroitin sulphate (0.016%)</p>"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "question": "Nutrients",
            "answer": "<p>A complete feed for more active dogs and larger and breeds. Contains a lot of protein and fat to cover all nutritional needs for muscle growth, healthy tissue and all the bones.</p>"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "question": "Feeding Guidance",
            "answer": "<p>Suitable for all dog breeds of all sizes:<br>Up to 10kg = 2 to 3 treats / day</br>Up to 30kg = 3 to 4 treats / day</br>Over 30 kg = 4 to 5 treats / day</br>This product is intended for occasional or supplemental feeding only. After all it is a treat!</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
