<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9.38281" cy="8.93066" r="8.5" fill="#FFD933"/>
<path d="M5.78516 8.67056L8.22617 11.1114L12.9858 6.35181" stroke="#F0510D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
