.blog-orther {
  margin-bottom: 9rem;
  @include responsive(LG) {
    margin-bottom: 16rem;
  }

  .blog-orther__heading {
    font-size: 3rem;
    line-height: 124%;
    margin-bottom: 4rem;
    @include responsive(LG) {
      font-size: 4.4rem;
      margin-bottom: 6.2rem;
    }
  }

  .blog-articles {
    justify-content: unset;

    .blog-articles__article {
      margin-bottom: 2rem;
    }
  }
}