{% case section.settings.blogs_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
{% endcase %}

<!-- List blog Article  -->
<div class="xo-container blog-orther">
  <!-- Heading  -->
  <div class="blog-orther__heading text-center">
    <h2>{{ section.settings.title }}</h2>
  </div>

  <!-- content  -->
  <div class="blog-articles xo-row">
    {%- for article in blog.articles limit: section.settings.blogs_per_page -%}
      <div class="blog-articles__article article {{ gridClassName }}">
        {%- render 'article-card', article: article -%}
      </div>
    {%- endfor -%}
  </div>
</div>

<style>
  {% if section.settings.bg_check %}
    .article-card__info {
      background: {{ section.settings.bg_content }};
    }
  {% endif %}


  .main-blog__heading h1,
  .article-card__title {
    color: {{ section.settings.color_heading }};
  }

  .main-blog__subhead,
  .article-card__excerpt {
    color: {{ section.settings.color_subheading }};
  }

  /* align */
  .article-card__content,
  .article-card__header,
  .article-card__excerpt {
    align-items: {{ align }};
    text-align: {{ section.settings.text_align }};
  }

  {% if section.settings.text_align == 'left' or section.settings.text_align == 'right' %}
    .article-card__title,
    .article-card__excerpt {
      max-width: 80%;
    }

    @media screen and (min-width: 992px) {
      .article-card__title {
        max-width: 43rem;
      }

      .article-card__excerpt {
        max-width: 40rem;
      }
    }
  {% endif %}

  {% if section.settings.padd == false %}
    @media screen and (min-width: 1200px) {
      .blog-articles__article.xo-col-md-6 .article-card__content,
      .blog-articles__article.xo-col-lg-4 .article-card__content,
      .blog-articles__article.xo-col-lg-5 .article-card__content,
      .blog-articles__article.xo-col-lg-6 .article-card__content {
        padding: 3.6rem 0 5rem;
      }

      .blog-articles__article.xo-col-lg-3 .article-card__content {
        padding: 2rem 0 3rem;
      }
    }
  {% endif %}
  
</style>
