.product-accordion {
  margin-bottom: 10rem;
}

.product-accordion {

}

.product-accordion__heading,
.product-accordion-wrapper__heading {
  margin-bottom: 3.5rem;
  @include responsive(LG) {
    display: none;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 132%;

    text-align: center;
    letter-spacing: 0.004em;

    @include responsive(LG) {
      text-align: left;
      font-size: 3rem;
    }
  }
}

.product-accordion-wrapper__heading {
  display: none;
  margin-bottom: 5rem;
  @include responsive(LG) {
    display: block;
  }
}

.product-accordion__content {
  @include responsive(LG) {
    display: flex;
    flex-direction: row-reverse;
  }
}

/*
* Accordion
*/
.product-accordion-wrapper {
  @include responsive(LG) {
    padding: 2rem 5rem 0;
  }
  @include responsive(XL) {
    padding: 5rem 8.5rem 0;
  }
}

.product-accordion__item {
  margin-bottom: 1rem;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: color(base-secondary-accent-1);
  border-radius: 3rem;

  transition: all linear 0.2s;

  &:hover {
    background: color(base-primary-accent-1);

    .product-accordion__question span {
      color: color(base-secondary-accent-3);
    }

    .product-accordion__icon {
      span::before, span::after {
        background-color: color(base-secondary-accent-3);
      }
    }
  }

  .product-accordion__question {
    cursor: pointer;

    padding: 2.1rem 2.2rem;

    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    @include responsive(LG) {
      padding: 2.1rem 3.6rem;
    }

    span {
      color: color(base-primary-accent-1);
      font-weight: 800;
      font-size: 1.2rem;
      line-height: 146%;

      letter-spacing: 0.08em;
      text-transform: uppercase;

      @include responsive(LG) {
        font-size: 1.3rem;
      }
    }
  }

  .product-accordion__answer {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    width: 100%;

    div {
      margin: 0 0 25px;
      display: inline-block;
      text-align: left;
      padding: 0 2.2rem;

      @include responsive(LG) {
        padding: 0 3.6rem;
      }

      p, span {
        color: color(base-secondary-accent-3);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 144%;

        @include responsive(LG) {
          font-size: 1.7rem;
        }
      }
    }
  }

  /* Expand */
  &.is-expand {
    background: color(base-primary-accent-1);

    .product-accordion__question span {
      color: color(base-secondary-accent-3);
    }

    .product-accordion__answer {
      max-height: var(--max-height-answer);
      width: 100%;
    }

    .product-accordion__icon {
      span::before, span::after {
        background-color: color(base-secondary-accent-3);
        transform: translate(-50%,-50%) rotate(90deg);
      }
      span::before { opacity: 0 }
    }
  }
}

.product-accordion__icon {
  span {
    position: absolute;
    @include box(1.4rem, 1.4rem);
    transform: translate(-80%, -50%);

    &::before {
      @include box(14px, 2px);
      opacity: 1;
    }

    &::after {
      @include box(2px, 14px);
    }
  }

  span::before, span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    background: color(base-primary-accent-1);

    transform: translate(-50%,-50%) rotate(-90deg);
    transition: transform .4s ease-in-out,opacity .4s ease-in-out;
  }
}

/*
* Image
*/
.product-accordion__image {
  height: 38rem;

  @include responsive(MD) {
    overflow: unset;
    margin-bottom: 150px;
  }

  .product__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    padding-left: 3rem;

    @include responsive(LG) { top: 6rem }

    img, svg {
      @include box(100%, 100%);
      object-fit: cover;
      border-radius: 3rem;
    }

    svg {
      fill: color(base-secondary-accent-3);
      background-color: rgb(100, 100, 100);
    }

    .product__img-first,
    .product__img-second {
      transition: all .5s;
      img, svg {
        box-shadow: 0px 10px 60px -10px rgba(112, 33, 0, 0.25);
      }
    }

    .product__img-first {
      @include responsive(LG) {
      }
      svg { background-color: #333 }
      transform: rotate(-4.16deg);

    }

    .product__img-second {
      transform: translate(-70px, 50px) rotate(15.54deg);
      @include responsive(MD) {
        transform: translate(-100px, 70px) rotate(15.54deg);
      }
      @include responsive(LG) {
        transform: translate(-80px, 50px) rotate(15.54deg);
      }
      @include responsive(XL) {
        transform: translate(-120px, 70px) rotate(15.54deg);
      }
    }
  }
}
