<product-accordion class="product-accordion">
  <div class="product-accordion xo-container">
    {%- comment -%} Heading {%- endcomment -%}
    <div class="product-accordion__heading">
      <h2>{{ section.settings.title }}</h2>
    </div>

    {%- comment -%} Content {%- endcomment -%}
    <div class="product-accordion__content xo-row">

      {%- comment -%} Image {%- endcomment -%}
      <div class="product-accordion__image xo-col-12 xo-col-lg-6">
        <div class="product__img">
          <div class="product__img-first">
            {% if section.settings.image_1 == blank %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% else %}
              <img src="{{ section.settings.image_1 | img_url: '450x500', crop: 'center' }}"
                  alt="{{ img_bg_mobile.alt }}">
            {% endif %}
          </div>
          <div class="product__img-second">
            {% if section.settings.image_2 == blank %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% else %}
              <img src="{{ section.settings.image_2 | img_url: '500x650', crop: 'center' }}"
                  alt="{{ img_bg_mobile.alt }}">
            {% endif %}
          </div>
        </div>
      </div>

      {%- comment -%} Accordion {%- endcomment -%}
      <div class="product-accordion-wrapper xo-col-12 xo-col-lg-6">
        <div class="product-accordion-wrapper__heading xo-col-12">
          <h2>{{ section.settings.title }}</h2>
        </div>
        {%- for block in section.blocks -%}
          <div class="product-accordion__item">
            <div class="product-accordion__question">
              <span>{{ block.settings.question }}</span>
              <div class="product-accordion__icon">
                <span></span>
              </div>
            </div>

            <div class="product-accordion__answer">
              <div>
                {{ block.settings.answer }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

  </div>
</product-accordion>
