<div class="password-content-container xo-container">
  <!-- <a href="" class="password-content__back">
    {% render 'icon-arrow-top' %}
    <h4>Back</h4>
  </a> -->

  {% comment %}
      Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <div class="password-page__hero">
      {% if section.settings.pass_img %}
          <img
            src="{{ section.settings.pass_img | img_url: 'master' }}"
            loading="lazy"
            alt="{{ section.settings.pass_img.alt | escape }}"
            class="hero__img"
          >
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}

      <h2 class="password-hero__title">{{ section.settings.title | escape }}</h2>
    </div>
  {% endunless %}

  <style>
    .password-hero__title {
      color: {{ section.settings.title_color }};
    }
  </style>

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}
  {% unless shop.password_message == blank %}
    <h3 class="password-page__message">
      {{ shop.password_message }}
    </h3>
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}
  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <h3 class="password-form__heading">{{ section.settings.newsletter_form_heading | escape }}</h3>

          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="password-form__subheading">{{ section.settings.newsletter_form_subheading }}</div>
          {% endunless %}

          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder }}">
            <button class="input-group-btn">
              <span>{{ section.settings.newsletter_button_text | escape }}</span>
            </button>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  <span class="password-login js-toggle-login-modal">
      Enter using password
  </span>
</div>
