.sale {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;

  display: none;
  @include responsive(MD) {
    display: block;
  }

  .sale__wrapper {
    position: relative;
    width: 12rem;
    height: 12rem;
    transform: rotate(-30deg);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 12rem;
  }

  span {
    color: #fff;
    font-size: 1.5rem;
    z-index: 2;
    pointer-events: none;
  }

  svg:hover {
    animation:spin 5s linear infinite;
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}
