.cart-template {
  margin-top: 100px;
  margin-bottom: 5rem;

  @include responsive(LG) {
    margin-top: 50px;
  }
}
.cart-template__header {
  margin-bottom: 2.2rem;

  @include responsive(LG) {
    margin-bottom: 5rem;
  }
}

.cart-template__items {
  background-color: var(--color-base-secondary-accent-1);
  border-radius: 2.5rem;

  padding: 1.6rem;

  @include responsive(LG) {
    padding: 4.5rem 10rem 7rem;
  }
  > p {
    font-weight: 500;
    color: rgba($color: var(--color-base-primary-accent-2), $alpha: 0.8);
    margin-bottom: 1.7rem;

    @include responsive(LG) {
      margin-bottom: 4.5rem;
    }
  }

  .cart-item__heading {
    display: none;

    span {
      color: var(--color-base-primary-accent-3);
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    @include responsive(LG) {
      display: block;
    }
  }

  .cart__item {
    background-color: var(--color-base-secondary-accent-3);
    box-shadow: 0px 10px 30px -10px rgba(128, 38, 0, 0.25);
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
    padding: 1.5rem;

    &:hover {
      .cart-product-remove {
        opacity: 1;
      }
    }

    > .cart-product__img {
      padding-right: 2rem;
      height: fit-content;
      @include responsive(LG) {
        max-width: 5%;
      }
    }

    > .cart-product__quantity {
      display: none;

      @include responsive(LG) {
        display: flex;
        align-items: center;
        margin-top: 0;
      }
    }

    .dec, .inc {
      background-color: var(--color-base-secondary-accent-2);

      svg {
        width: 10px;
        height: 10px;
      }
    }

    input[type="number"] {
      color: var(--color-base-primary-accent-2);
    }

    .cart-product__title {
      color: var(--color-base-primary-accent-2);
    }

    .cart-product__price,
    .cart-product__remove {
      color: var(--color-base-primary-accent-3);

      @include responsive(MD) {
        color: var(--color-base-primary-accent-2);
      }
    }
  }

  .cart-product__mid {
    flex-direction: column;
    justify-content: space-between;
    @include responsive (LG) {
      align-items: center;
      flex-direction: row;
      justify-content: unset;
    }
    .cart-product__img {
      display: none;
      max-width: 10%;
      margin-right: 2rem;
      @include responsive(LG) {
        display: block;
      }
    }
  }

  .cart-product__mid > .cart-product__quantity {
    margin-top: 20px;
    display: flex;
    align-items: center;

    @include responsive(LG) {
      display: none;
    }
  }

  .cart-product__end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    @include responsive(LG) {
      align-items: flex-start;
      justify-content: center;
    }
  }

  .cart-product__end .cart-product__remove {
    @include responsive(LG) {
      display: none;
    }
  }

  .cart-product-remove {
    display: none;

    a {
      width: 30px;
      height: 30px;
      background-color: var(--color-base-background);
      border-radius: 50%;

      * {
        pointer-events: none;
      }
    }

    @include responsive(LG) {
      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}

.cart__items {
  padding-bottom: 3rem;
  border-bottom: 1px dashed var(--color-base-primary-accent-3);
}

.cart-template__checkout {
  padding: 2.5rem 1rem;
}

.cart__note {
  margin-bottom: 1.5rem;
  label {
    display: block;
    font-weight: 700;
  }

  textarea {
    border-radius: 1.4rem;
    padding: 2rem;
    color: var(--color-base-primary-accent-3);
    border: none;
    margin-top: 1rem;

    &::placeholder {
      color: inherit;
    }
  }
}

.checkout-calculate {
  margin-bottom: 2.8rem;

  .calculate-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(MD) {
      justify-content: flex-start;
    }
  }

  .calculate-taxes {
    max-width: 75%;
    display: inline-block;
    font-size: 1.6rem;
    font-style: italic;
    color: rgba($color: var(--color-base-primary-accent-2), $alpha: 0.8);
  }
}

.checkout-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .checkout__btn {
    width: 100%;
  }

  .continue-shopping {
    margin-top: 2.4rem;
    font-size: 15px;
  }
}

.cart-template--empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cart-empty-image {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 175px;
    height: 175px;
  }

  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
