<div class="cart-template xo-container" id="cart-template">
  <div class="cart-template__header text-center">
    <h1 style="margin: 0;">{{ 'sections.cart.title' | t }}</h1>
  </div>

  {% if cart.item_count > 0 %}
  <div class="cart-template__items" v-if="cart.item_count > 0">
    <p class="js">(<span v-html="cart.item_count"></span>) {{ 'sections.cart.items_available' | t }}</p>
    <noscript>
      <p>(<span>{{ cart.item_count }}</span>) {{ 'sections.cart.items_available' | t }}</p>
    </noscript>

    <div class="cart__items">
      <div class="cart-item__heading">
        <div class="xo-row xo-no-gutters" style="padding: 0 1.5rem;">
          <span class="xo-col-8">{{ 'sections.cart.headings.products' | t }}</span>
          <span class="xo-col-2">{{ 'sections.cart.headings.quantity' | t }}</span>
          <span class="xo-col-2">{{ 'sections.cart.headings.price' | t }}</span>
        </div>
      </div>

      <form action="{{ routes.cart_url }}" method="POST" id="cart-form">
        <div class="cart-items__list">
          {% for cartItem in cart.items %}
            {% capture quantity_input %}
              <span class="dec cursor-pointer js" @click="updateCartItem('dec', '{{ cartItem.key }}')">
                {% render 'icon-minus' %}
              </span>
              <label for="quantity-{{ cartItem.index | plus: 1 }}" class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</label>
              <input id="quantity-{{ cartItem.index | plus: 1 }}" type="number" name="updates[]" min="0" :value="getLineItem('{{ cartItem.key }}').quantity" value="{{ cartItem.quantity }}" v-model="getLineItem('{{ cartItem.key }}').quantity">
              <span class="inc cursor-pointer js" @click="updateCartItem('inc', '{{ cartItem.key }}')">
                {% render 'icon-plus' %}
              </span>
            {% endcapture %}

            <transition name="fade">
              <div class="cart__item xo-row xo-no-gutters" v-if="Object.keys(getLineItem('{{ cartItem.key }}')).length !== 0">
                <a href="{{ cartItem.url }}" class="cart-product__img xo-col-3 xo-d-lg-none">
                  <img
                    src="{{ cartItem.image | img_url: '150x' }}"
                    alt="{{ cartItem.image.alt | escape }}"
                    loading="lazy"
                    width="75"
                    height="{{ 75 | divided_by: cartItem.image.aspect_ratio | ceil }}">
                </a>
                <div class="cart-product__mid xo-col-6 xo-col-lg-8 xo-d-flex">
                  <a href="{{ cartItem.url }}" class="cart-product__img">
                    <img
                    src="{{ cartItem.image | img_url: '150x' }}"
                    alt="{{ cartItem.image.alt | escape }}"
                    loading="lazy"
                    width="75"
                    height="{{ 75 | divided_by: cartItem.image.aspect_ratio | ceil }}">
                  </a>
                  <div>
                    <a href="{{ cartItem.url }}" class="cart-product__title h4">{{ cartItem.product.title | escape }}</a>
                    <div class="cart-product__variants">
                      <span>{{ cartItem.options_with_values[0].name }}: {{ cartItem.options_with_values[0].value }}</span>
                    </div>
                  </div>
                  <div class="cart-product__quantity xo-d-lg-none">
                    {{ quantity_input }}
                  </div>
                </div>
                <div class="cart-product__quantity xo-col-lg-2">
                  {{ quantity_input }}
                </div>

                <div class="cart-product__end xo-col-3 xo-col-lg-1">
                  <div class="cart-product__price js" v-html="hugMoneyFormat(getLineItem('{{ cartItem.key }}').quantity * getLineItem('{{ cartItem.key }}').price)"></div>
                  <noscript>
                    <div class="cart-product__price">{{ cartItem.original_line_price | money }}</div>
                  </noscript>
                  <a href="{{ cartItem.url_to_remove }}" class="cart-product__remove" @click.prevent="updateItems('{{ cartItem.key }}', 0)">{{ 'sections.cart.remove' | t }}</a>
                </div>

                <div class="cart-product-remove xo-col-lg-1">
                  <a href="{{ cartItem.url_to_remove }}" class="flex-center cursor-pointer" @click.prevent="handleRemoveItem($event, '{{ cartItem.key }}')">
                    {% render 'icon-remove' %}
                  </a>
                </div>
              </div>
            </transition>
          {% endfor %}
        </div>
      </form>
    </div>

      <div class="cart-template__checkout xo-row">
        <div class="xo-col-md-4">
          {%- if section.settings.show_cart_note -%}
            <div class="cart__note field" @change="updateCartNote">
              <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
              <textarea class="body-10" name="note" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
            </div>
          {%- endif -%}
        </div>
        <div class="checkout-calculate xo-col-md-4 xo-col-xl-3 xo-offset-xl-2">
          <div class="calculate-subtotal">
            <div class="calculate-label h4" style="margin-right: 1rem;">{{ 'sections.cart.subtotal' | t | append: ':' }}</div>
            <div class="calculate-price h3 js" v-html="hugMoneyFormat(subTotal)"></div>
            <noscript>
              <div class="calculate-price h3">{{ cart.total_price | money }}</div>
            </noscript>
          </div>
          <div class="calculate-taxes">
            {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- elsif cart.taxes_included -%}
              {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
            {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
            {%- else -%}
              {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
            {%- endif -%}
          </div>
        </div>

        <div class="checkout-buttons xo-col-md-4 xo-col-xl-3">
          <button type="submit" name="update" form="cart-form">
          <button type="submit" form="cart-form" name="checkout" class="checkout__btn btn btn--is-large btn--is-shadow">{{ 'sections.cart.checkout' | t }}</button>
          <a href="{{ routes.all_products_collection_url }}" class="continue-shopping text--link">{{ 'sections.cart.continue_shopping' | t }}</a>
        </div>
      </div>
    </div>
    <div class="cart-template--empty js" v-else>
      <p class="h3">{{ 'sections.cart.empty' | t }}</p>
      <div class="cart-empty-image">
        {% if section.settings.img != blank %}
          <img src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img.alt }}">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <a href="/" class="btn">{{ 'sections.cart.continue_shopping_empty' | t }}</a>
    </div>
    {% else %}
      <div class="cart-template--empty">
        <p class="h3 text-center">{{ 'sections.cart.empty' | t }}</p>
        <div class="cart-empty-image">
          {% if section.settings.img != blank %}
            <img src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img.alt }}">
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        <a href="{{ routes.all_products_collection_url }}" class="btn">{{ 'sections.cart.continue_shopping_empty' | t }}</a>
      </div>
    {% endif %}
</div>

<style>
  #shopify-section-{{ section.id }} {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: 12rem;
      padding-bottom: 13rem;
    }
  }
</style>

<script type="text/javascript">
  var cartJson ={{ cart | json }};
</script>
