.grid-products {
  margin-top: 110px;
  margin-bottom: 200px;
}

.grid-product__left {
  height: 681px;

  @include responsive(MD) {
    height: auto;
  }

  .splide__arrow {
    bottom: 5px;
    top: unset !important;

    @include responsive(MD) {
      bottom: 20px;
    }
  }

  .splide__arrow--prev {
    left: unset !important;
    right: 8.7rem;

    @include responsive(MD) {
      right: 11rem;
    }
  }

  .splide__arrow--next {
    right: 3.5rem !important;

    @include responsive(MD) {
      right: 5.5rem !important;
    }
  }

  .splide__track, .splide__list {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .splide__slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
  }

  .placeholder-svg, img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 25px;
  }

  .placeholder-svg {
    background: grey;
  }

  img {
    object-fit: cover;
  }

  .slide__content {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 50px;

    @include responsive(MD) {
      margin-top: 93px;
    }
  }

  .grid-product__subtitle {
    margin: 12px 0 32px;
    font-size: 16px;
    color: var(--color-base-primary-accent-1);

    @include responsive(MD) {
      font-size: 17px;
      width: 415px;
      margin: 16px auto 34px;
    }
  }
}

.grid-product__item {
  margin-top: 30px;

  @include responsive(MD) {
    margin-top: 0;

    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}
