<div class="xo-container grid-products">
  <div class="xo-row">
    <grid-product-slider class="xo-col-12 xo-col-md-6 grid-product__left splide">
      <div class="splide__arrows">
        <div class="splide__arrow splide__arrow--prev navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
          {% render 'icon-next' %}
        </div>
        <div class="splide__arrow splide__arrow--next navigation__btn {% if settings.theme_layout == 'layout3' %}navigation__btn--is-border{% endif %}">
          {% render 'icon-next' %}
        </div>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          {%- for block in section.blocks -%}
            <li class="splide__slide">
              {% if block.settings.image == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                  <img srcset="{% if block.settings.image.width >= 375 %}{{ block.settings.image | img_url: '375x' }} 375w,{% endif %}
                      {% if block.settings.image.width >= 400 %}{{ block.settings.image | img_url: '400x' }} 400w,{% endif %}
                      {% if block.settings.image.width >= 500 %}{{ block.settings.image | img_url: '500x' }} 500w,{% endif %}
                      {% if block.settings.image.width >= 600 %}{{ block.settings.image | img_url: '600x' }} 600w,{% endif %}
                      {% if block.settings.image.width >= 700 %}{{ block.settings.image | img_url: '700x' }} 700w,{% endif %}
                      {% if block.settings.image.width >= 800 %}{{ block.settings.image | img_url: '800x' }} 800w,{% endif %}
                      {% if block.settings.image.width >= 900 %}{{ block.settings.image | img_url: '900x' }} 900w,{% endif %}
                      {% if block.settings.image.width >= 1000 %}{{ block.settings.image | img_url: '1000x' }} 1000w,{% endif %}
                      {% if block.settings.image.width >= 1100 %}{{ block.settings.image | img_url: '1100x' }} 1100w,{% endif %}
                      {% if block.settings.image.width >= 1200 %}{{ block.settings.image | img_url: '1200x' }} 1200w,{% endif %}
                      {% if block.settings.image.width >= 1300 %}{{ block.settings.image | img_url: '1300x' }} 1300w,{% endif %}
                      {% if block.settings.image.width >= 1400 %}{{ block.settings.image | img_url: '1400x' }} 1400w,{% endif %}
                      {% if block.settings.image.width >= 1500 %}{{ block.settings.image | img_url: '1500x' }} 1500w,{% endif %}
                      {% if block.settings.image.width >= 1600 %}{{ block.settings.image | img_url: '1600x' }} 1600w,{% endif %}
                      {% if block.settings.image.width >= 1700 %}{{ block.settings.image | img_url: '1700x' }} 1700w,{% endif %}
                      {% if block.settings.image.width >= 1800 %}{{ block.settings.image | img_url: '1920x' }} 1920w,{% endif %}
                      {% if block.settings.image.width >= 1900 %}{{ block.settings.image | img_url: '1920x' }} 1920w,{% endif %}
                      {% if block.settings.image.width >= 2000 %}{{ block.settings.image | img_url: '2000x' }} 2000w,{% endif %}
                      {% if block.settings.image.width >= 2800 %}{{ block.settings.image | img_url: '2800x' }} 2800w,{% endif %}"
                      
                    sizes="100vw"
                    src="{{ block.settings.image | img_url: '2800x' }}"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                    alt="{{ block.settings.image.alt | escape }}">
                {% endif %}

                <div class="slide__content">
                  <h2 class="grid-product__title">
                    {{ block.settings.title }}
                  </h2>
  
                  <div class="grid-product__subtitle">
                    {{ block.settings.subtitle }}
                  </div>

                  <a href="{{ block.settings.url_link }}" class="btn btn--is-hover-shadow grid-product__btn">
                    {{ block.settings.label_link }}
                  </a>
                </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </grid-product-slider>

    <div class="xo-col-12 xo-col-md-6 grid-product__right">
      <div class="xo-row">
        {% for  product in section.settings.collection.products limit: 4 %}
          {%- assign product = all_products[product] -%}

          <div class="xo-col-12 xo-col-md-6 grid-product__item">
            {% render 'product-card', product: product, index: forloop.index, tag: product.tags[0], show_sale: section.settings.show_sale %}
          </div>

          {% else %}
            {% for i in (1..4) %}
              <div class="xo-col-12 xo-col-md-6 grid-product__item">
                {% render 'product-card', index: forloop.index %}
              </div>
            {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
