.page-404-container {
  width: 80%;
  min-height: 90vh;
  padding: 48px 0 100px;
  text-align: center;

  @include responsive(LG) {
    width: 755px;
    margin: 0 auto;
    text-align: center;
    padding: 128px 0 220px;
  }
}

.page-404-title {
  text-transform: capitalize;
  font-size: 7.9rem !important;
  margin-bottom: 24px;
  
  @include responsive(LG) {
    font-size: 11.8rem !important;
    margin-bottom: 15px;
  }
}

.page-404-subtext {
  line-height: 29.04px;
  margin-bottom: 30px;
  @include responsive(LG) {
    line-height: 40.8px;
    margin-bottom: 50px;
  }
}

.page-404-image {
  margin: 40px auto 0;
  max-width: 80%;

  svg {
    background: #666;
    stroke: #000;
  }

  img, svg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  @include responsive(MD) {
    margin: 52px auto 0;
    width: auto;
    max-width: unset;
  }
}
