<div class="page-404-container xo-container">
  <h1 class="page-404-title h2">{{ 'templates.404.title' | t }}</h1>
  <h3 class="page-404-subtext">{{ 'templates.404.subtext' | t }}</h3>
  <a href="{{ routes.root_url }}"  class="page-404-button btn btn--is-hover-shadow">{{ 'templates.404.link' | t | upcase }}</a>
  <div class="page-404-image">
    {% if section.settings.img != blank %}
        <img
          src="{{ section.settings.img | img_url: 'master' }}"
          alt="{{ section.settings.img.alt | escape }}"
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
  </div>
</div>
