{% assign social_default = true %}

{% case section.settings.text_align %}
  {% when 'left' %}
    {% assign align = 'text-left' %}
  {% when 'center' %}
    {% assign align = 'text-center' %}
  {% when 'right' %}
    {% assign align = 'text-right' %}
{% endcase %}

<div class="about-page xo-container">
  <h1 class="about-page__title h2 {{ align }}">{{ page.title }}</h1>
  <div class="about-page__content xo-row">
    <div class="about-page__text xo-col-12 xo-col-md-12 xo-col-lg-5">
      {{ page.content }}

      <div class="about-social">
        <div class="about-social__text">Have a chat? Don't be shy!</div>
        <ul class="about-social__list">
          {%- assign socials = "Facebook LinkedIn Instagram Twitter Pinterest  Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
          
          {% for social in socials %}
            {% assign social_link = social | prepend: 'social_' | append: '_link' | downcase %}
            {% assign icon_link = social | downcase %}
            
            {% if settings[social_link] != blank %}
              {% assign social_default = false %}
              <li class="about-social__item">
                <a href="{{ settings[social_link] | escape }}">
                  {% render 'icon' with icon_link %}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          
          {% if social_default %} 
            <li class="about-social__item">
              <a href="#">
                {% render 'icon-facebook' %}
              </a>
            </li>
            <li class="about-social__item">
              <a href="#">
                {% render 'icon-linkedin' %}
              </a>
            </li>
            <li class="about-social__item">
              <a href="#">
                {% render 'icon-instagram' %}
              </a>
            </li>
            <li class="about-social__item">
              <a href="#">
                {% render 'icon-twitter' %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    
    </div>

    <div class="about-page__image xo-col-12 xo-col-md-12 xo-col-lg-7">
      <div class="about-page__img-first">
        {% if section.settings.first_image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          <img src="{{ section.settings.first_image | img_url: '313x389', crop: 'center' }}"
              alt="{{ section.settings.first_image.alt }}">
        {% endif %}
      </div>
      <div class="about-page__img-second">
        {% if section.settings.second_image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          <img src="{{ section.settings.second_image | img_url: '400x455', crop: 'center' }}"
              alt="{{ section.settings.second_image.alt }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>
