.activity-toys{
  margin-top: 6.5rem;
  margin-bottom: 4rem;
  @include responsive(LG) {
    margin-top: 30rem;
    margin-bottom: 7rem;
  }
}
.activity-toys-container {
  border-radius: 3rem;

  @include responsive(MD) {
    margin: 0 5%;
  }

  @include responsive(LG) {
    display: flex;
    border-radius: 4rem;
  }
}
.toy__content{
  padding-top: 6rem;
  .toy__heading{
    font-size: 2.6rem;
    line-height: 120%;

    @include responsive(LG) {
      font-size: 4.4rem;
      line-height: 124%;
    }
  }
  .toy__desc{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 146%;
    
    color: color(base-primary-accent-1);

    margin-top: 2rem;

    @include responsive(LG) {
      font-size: 1.7rem;
      line-height: 144%;
      margin-bottom: 4.2rem;
      max-width: 50rem;
    }
  }

  a {
    display: none;
    @include responsive(LG) {
      display: inline-block;
    }
  }
}
.toy__image{
  transform: translateY(3rem);
  @include responsive(MD) {
    transform: translateY(0);
  }
  @include responsive(XL) {
    margin-top: -12.4rem;
  }
  img, svg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  svg {
    fill: #fff;
    background: #333;
  }
}