<div class="activity-toys">
  <div class="activity-toys-container" style="background: {{ section.settings.color_bg }};">
    <div class="xo-container">
      <div class="xo-row">
        <!-- Content  -->
        <div class="toy__content xo-col-12 xo-col-md-5">
          <h2 class="toy__heading" style="color: {{ section.settings.color_text }};">{{ section.settings.heading }}</h2>
          <p class="toy__desc" style="color: {{ section.settings.color_text }};">{{ section.settings.desc }}</p>
  
          <div class="toy__btn">
            <a href="{{ section.settings.link_to }}" class="btn">{{ section.settings.link }}</a>
          </div>
        </div>
        
        <!-- Image  -->
        <div class="toy__image xo-col-12 xo-col-md-7">
          {%- if section.settings.image != blank -%}
            <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ section.settings.image | img_url: '1100x' }}"
              sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
              alt="{{ section.settings.title | escape }}"
              height="{{ section.settings.image.height }}"
              width="{{ section.settings.image.width }}"
              loading="lazy"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

</div>
