.pagination-wrapper {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
  }
}

.pagination__item {
  @include box(5rem, 5rem);

  @include responsive(MD) { @include box(6.4rem, 6.4rem) }

  text-align: center;
  text-decoration: none;

  background: color(base-secondary-accent-1);

  border: none;
  border-radius: 100%;

  color: color(base-primary-accent-1);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all linear .15s;

  &:hover {
    background: color(base-primary-accent-1);
    color: color(base-secondary-accent-3);
  }

  // active
  &.pagination__item--current.link {
    color: color(base-secondary-accent-3);
    background: color(base-primary-accent-1);
  }
}

.pagination__icon {
  margin: 0 1rem;
  @include responsive(MD) { margin: 0 2.3rem }

  
  .pagination__btn {
    border-radius: 100%;
    @include box(3.6rem, 3.6rem);
    @include responsive(MD) {
      @include box(5rem, 5rem);
    }

    background-color: color(base-secondary-accent-3);    

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      @include box(1.2rem, 1.2rem);
      @include responsive(LG) {
        @include box(2rem, 2rem)
      }
    }
  }
}

.pagination__number {
  margin: 0 0.25rem;
  @include responsive(MD) { margin: 0 0.5rem }
}

/*
* Style 2
*/
.pagination-2 {
  .pagination__number {
    .pagination__item {
      background: color(base-primary-accent-3);

      &:hover {
        background: color(base-primary-accent-1);
        color: color(base-secondary-accent-3);
      }

      &.pagination__item--current.link {
        background: color(base-primary-accent-1);
      }
    }
  }
}

.pagination-3 {
  .pagination__item {
    border-radius: 4px;

    @include responsive(MD) {
      border-radius: 3px;
    }
  }

  .pagination__icon {
    .pagination__btn {
      border-radius: 3px;

      @include responsive(MD) {
        border-radius: 5px;
      }
    }
  }
}