{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
    - class: {String} (optional) Appended to container element's class attribute
{% endcomment %}

<!-- <link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript> -->
 
{% case settings.theme_layout %}
  {% when 'layout1' %}
    {%- if paginate.parts.size > 0 -%}
      <div class="{{ class | default: 'pagination-wrapper' }}">
        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul class="pagination__list list-unstyled" role="list">

          {% unless paginate.previous.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-prev' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.previous' | t }}">
                {% render 'icon-prev' %}
              </a>
            </li>
          {% endunless %}

          {%- for part in paginate.parts -%}
            <li class="pagination__number">
              {%- if part.is_link -%}
                <a href="{{ part.url }}{{ anchor }}" class="pagination__item" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
              {%- else -%}
                {%- if part.title == paginate.current_page -%}
                  <span class="pagination__item pagination__item--current link" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                {%- else -%}
                  <span class="pagination__item link">{{ part.title }}</span>
                {%- endif -%}
              {%- endif -%}
            </li>
          {%- endfor -%}

          {% unless paginate.next.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-next' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.next' | t }}" >
                {% render 'icon-next' %}
              </a>
            </li>
          {% endunless %}

          </ul>
        </nav>
      </div>
    {%- endif -%}

  {% when 'layout2' %}
    {%- if paginate.parts.size > 0 -%}
      <div class="{{ class | default: 'pagination-wrapper' }}">
        <nav class="pagination pagination-2 " role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul class="pagination__list list-unstyled" role="list">

          {% unless paginate.previous.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-prev' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.previous' | t }}">
                {% render 'icon-prev' %}
              </a>
            </li>
          {% endunless %}

          {%- for part in paginate.parts -%}
            <li class="pagination__number">
              {%- if part.is_link -%}
                <a href="{{ part.url }}{{ anchor }}" class="pagination__item" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
              {%- else -%}
                {%- if part.title == paginate.current_page -%}
                  <span class="pagination__item pagination__item--current link" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                {%- else -%}
                  <span class="pagination__item link">{{ part.title }}</span>
                {%- endif -%}
              {%- endif -%}
            </li>
          {%- endfor -%}

          {% unless paginate.next.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-next' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.next' | t }}" >
                {% render 'icon-next' %}
              </a>
            </li>
          {% endunless %}

          </ul>
        </nav>
      </div>
    {%- endif -%}

  {% when 'layout3' %}
    {%- if paginate.parts.size > 0 -%}
      <div class="{{ class | default: 'pagination-wrapper' }}">
        <nav class="pagination pagination-3" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul class="pagination__list list-unstyled" role="list">

          {% unless paginate.previous.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-prev' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.previous' | t }}">
                {% render 'icon-prev' %}
              </a>
            </li>
          {% endunless %}

          {%- for part in paginate.parts -%}
            <li class="pagination__number">
              {%- if part.is_link -%}
                <a href="{{ part.url }}{{ anchor }}" class="pagination__item" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
              {%- else -%}
                {%- if part.title == paginate.current_page -%}
                  <span class="pagination__item pagination__item--current link" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                {%- else -%}
                  <span class="pagination__item link">{{ part.title }}</span>
                {%- endif -%}
              {%- endif -%}
            </li>
          {%- endfor -%}

          {% unless paginate.next.is_link %}
            <li class="pagination__icon">
              <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
                <span>
                  {% render 'icon-next' %}
                </span>
              </button>
            </li>
          {% else %}
            <li class="pagination__icon">
              <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.next' | t }}" >
                {% render 'icon-next' %}
              </a>
            </li>
          {% endunless %}

          </ul>
        </nav>
      </div>
    {%- endif -%}
{% endcase %}