// theme 1
.product-card {
  border-radius: 2.5rem;
  box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);
  overflow: hidden;

  margin-bottom: 2.5rem;
  height: 100%;

  position: relative;

  display: block;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0px 50px 120px -10px rgba(139, 95, 76, 0.33);
    z-index: 10;

    .product__image {
      .product-card__img--second {
        opacity: 1;
      }
    }
  }

  .product__rating {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .tag {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
  }

  .product__image {
    height: calc(100% - 110px);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      // height: auto;
      object-fit: cover;
    }

    .product-card__img--first,
    .product-card__img--second {
      height: auto;
      width: 100%;
      height: auto;

      object-fit: cover;
    }

    .product-card__img--second {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      @include box(100%, 100%);

      opacity: 0;
      transition: .5s ease;
    }
  }

  .product-card__bottom {
    min-height: 11rem;
    max-height: 25rem;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: all .3s ease;

    padding: 2.2rem 4.7rem 3.1rem;

    .product__title {
      letter-spacing: 0.004em;
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--color-base-primary-accent-2);

      @include responsive(MD) {
        font-size: 1.9rem;
      }
    }

    .product__price > span, del {
      font-size: 1.5rem;
      color: var(--color-base-primary-accent-3);

      @include responsive(MD) {
        font-size: 1.7rem;
      }
    }

    .product-card__button {
      max-height: 0;
      overflow: hidden;
      transition: all .3s ease;
    }

    .product__price > del + span {
      color: #f0510d;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .product-card__bottom:hover .product-card__button {
      margin-top: 2rem;
      max-height: 10rem;
    }
  }
}

// theme 2
.product-card-2, .product-card-3 {
  overflow: hidden;

  margin-bottom: 2.5rem;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  
  transition: all .3s ease;

  &:hover {
    box-shadow: unset;
    z-index: 10;

    .product-card__button {
      opacity: 1;
      bottom: 130px;
    }
  }

  .product__rating {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .tag {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
  }

  .product__image {
    position: relative;
    width: 100%;
    height: 100%;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-card__img--first,
    .product-card__img--second {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    .product-card__img--second {
      position: absolute;
      // top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      @include box(100%, 100%);

      opacity: 0;
      transition: all .3s ease;
    }

    &:hover {
      .product-card__img--second {
        opacity: 1;
      }
    }
  }

  .product-card__button {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    transition: all .2s ease;
    opacity: 0;
  }

  .product-card__bottom {
    transition: all .3s ease;

    padding: 2.2rem 4.7rem 3.1rem;

    .product__title {
      letter-spacing: 0.004em;
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--color-base-primary-accent-2);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      max-width: 100%;

      @include responsive(MD) {
        font-size: 1.9rem;
      }
    }

    .product__price > span, del {
      font-size: 1.5rem;

      @include responsive(MD) {
        font-size: 1.7rem;
      }
    }

  
    .product__price > del + span {
      color: #f0510d;
    }
  }
}


// Chung
.product-card, 
.product-card-2, 
.product-card-3 {
  .product-card__button {
    overflow: unset !important;
  }

  .btn {
    overflow: unset !important;
  }

  .product-card__bottom {
    .product-card__button {
      opacity: 0;
    }
    
    &:hover .product-card__button {
      margin-top: 2rem;
      max-height: 10rem;
      opacity: 1;
    }
  }
}


.product-card-2, 
.product-card-3 {
  .product__image {
    img {
      border-radius: 15px;
    }

    .product-card__img--first,
    .product-card__img--second {
      border-radius: 15px;
    }

    .product-card__img--second {
      border-radius: 15px;
    }
  }
}
