{% assign variant = product.selected_or_first_available_variant %}

{% case settings.product_cart_layout %}
  {% when 'layout1' %}
    <a href="{{ product.url }}" class="product-card">
      {% if variant.compare_at_price > 0 and show_sale %}
        {% assign variant_price = variant.price | times: 1.0 %}
        {% assign discount_variant =  variant.compare_at_price | times: 1.0 | minus: variant_price | divided_by: variant.compare_at_price | times: 100.0 | round | remove: '.0' | append: '% save'  %}
        {% render 'sale', discount_variant: discount_variant %}
      {% endif %}

      {% if tag %}
        <span class="tag">{{ tag }}</span>
      {% endif %}
      <div class="product__image">
        {% if product.featured_media != nil %}
          <img srcset="{%- if product.featured_media.width >= 375 -%}{{ product.featured_media | img_url: '375x' }} 375w,{%- endif -%}
            {%- if product.featured_media.width >= 400 -%}{{ product.featured_media | img_url: '400x' }} 400w,{%- endif -%}
            {%- if product.featured_media.width >= 500 -%}{{ product.featured_media | img_url: '500x' }} 500w,{%- endif -%}
            {%- if product.featured_media.width >= 600 -%}{{ product.featured_media | img_url: '600x' }} 600w,{%- endif -%}
            {%- if product.featured_media.width >= 700 -%}{{ product.featured_media | img_url: '700x' }} 700w,{%- endif -%}
            {%- if product.featured_media.width >= 800 -%}{{ product.featured_media | img_url: '800x' }} 800w{%- endif -%}
            {%- if product.featured_media.width >= 900 -%}{{ product.featured_media | img_url: '900x' }} 900w{%- endif -%}
            {%- if product.featured_media.width >= 1000 -%}{{ product.featured_media | img_url: '1000x' }} 1000w{%- endif -%}
            {%- if product.featured_media.width >= 1100 -%}{{ product.featured_media | img_url: '1100x' }} 1100w{%- endif -%}
            {%- if product.featured_media.width >= 1200 -%}{{ product.featured_media | img_url: '1200x' }} 1200w{%- endif -%}
            {%- if product.featured_media.width >= 1300 -%}{{ product.featured_media | img_url: '1300x' }} 1300w{%- endif -%}
            {%- if product.featured_media.width >= 1400 -%}{{ product.featured_media | img_url: '1400x' }} 1400w{%- endif -%}
            {%- if product.featured_media.width >= 1500 -%}{{ product.featured_media | img_url: '1500x' }} 1500w{%- endif -%}
            {%- if product.featured_media.width >= 1600 -%}{{ product.featured_media | img_url: '1600x' }} 1600w{%- endif -%}
            {%- if product.featured_media.width >= 1700 -%}{{ product.featured_media | img_url: '1700x' }} 1700w{%- endif -%}
            {%- if product.featured_media.width >= 1800 -%}{{ product.featured_media | img_url: '1920x' }} 1920w{%- endif -%}
            {%- if product.featured_media.width >= 1900 -%}{{ product.featured_media | img_url: '1920x' }} 1920w{%- endif -%}
            {%- if product.featured_media.width >= 2000 -%}{{ product.featured_media | img_url: '2000x' }} 2000w{%- endif -%}
            {%- if product.featured_media.width >= 2800 -%}{{ product.featured_media | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ product.featured_media | img_url: '2800x' }}"
            sizes="100vw"
            alt="{{ product.featured_media.alt | escape }}"
            loading="lazy"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
            class="product-card__image--first"
          >
          {% if product.images[1] != blank %}
            <img srcset="{%- if product.images[1].width >= 375 -%}{{ product.images[1] | img_url: '375x' }} 375w,{%- endif -%}
                {%- if product.images[1].width >= 400 -%}{{ product.images[1] | img_url: '400x' }} 400w,{%- endif -%}
                {%- if product.images[1].width >= 500 -%}{{ product.images[1] | img_url: '500x' }} 500w,{%- endif -%}
                {%- if product.images[1].width >= 600 -%}{{ product.images[1] | img_url: '600x' }} 600w,{%- endif -%}
                {%- if product.images[1].width >= 700 -%}{{ product.images[1] | img_url: '700x' }} 700w,{%- endif -%}
                {%- if product.images[1].width >= 800 -%}{{ product.images[1] | img_url: '800x' }} 800w{%- endif -%}
                {%- if product.images[1].width >= 900 -%}{{ product.images[1] | img_url: '900x' }} 900w,{%- endif -%}
                {%- if product.images[1].width >= 1000 -%}{{ product.images[1] | img_url: '1000x' }} 1000w,{%- endif -%}
                {%- if product.images[1].width >= 1100 -%}{{ product.images[1] | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if product.images[1].width >= 1200 -%}{{ product.images[1] | img_url: '1200x' }} 1200w,{%- endif -%}
                {%- if product.images[1].width >= 1300 -%}{{ product.images[1] | img_url: '1300x' }} 1300w,{%- endif -%}
                {%- if product.images[1].width >= 1400 -%}{{ product.images[1] | img_url: '1400x' }} 1400w,{%- endif -%}
                {%- if product.images[1].width >= 1500 -%}{{ product.images[1] | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if product.images[1].width >= 1500 -%}{{ product.images[1] | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if product.images[1].width >= 1600 -%}{{ product.images[1] | img_url: '1600x' }} 1600w,{%- endif -%}
                {%- if product.images[1].width >= 1700 -%}{{ product.images[1] | img_url: '1700x' }} 1700w,{%- endif -%}
                {%- if product.images[1].width >= 1800 -%}{{ product.images[1] | img_url: '1920x' }} 1920w,{%- endif -%}
                {%- if product.images[1].width >= 1900 -%}{{ product.images[1] | img_url: '1920x' }} 1920w,{%- endif -%}
                {%- if product.images[1].width >= 2000 -%}{{ product.images[1] | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if product.images[1].width >= 2800 -%}{{ product.images[1] | img_url: '2800x' }} 2800w,{%- endif -%}"
                src="{{ product.images[1] | img_url: '2800x' }}"
                sizes="100vw"
                alt="{{ product.images[1].alt | escape }}"
                loading="lazy"
                width="{{ product.images[1].width }}"
                height="{{ product.images[1].height }}"
                class="product-card__img--second"
            >
          {% endif %}
        {% else %}
          {{ 'product-' | append: index | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="product-card__bottom xo-d-flex xo-justify-content-center xo-align-items-center xo-flex-column">
        {% if product == blank %}
          {% assign title = 'Product title' %}
          {% assign weight = 'Red' %}
          {% assign price = 19000 %}
        {% else %}
          {% assign title = product.title %}
          {% assign weight = variant.weight %}
          {% assign price = variant.price %}
        {% endif %}

        <div class="product__title h4 text-center">{{ title }}</div>
        <div class="product__price">
          <span class="variant__option">{{ weight | weight_with_unit }}</span>
          <span>-</span>
          {% if variant.compare_at_price > 0 %}
            <del>{{ variant.compare_at_price | money }}</del>
          {% endif %}
          <span class="variant__price">{{ price | money }}</span>
        </div> <div class="product-card__button">
          <add-to-cart
            class="btn btn--is-hover-shadow add-to-cart js"
            data-variant-id="{{ variant.id }}"
            data-quantity="1"
          >
            {{ 'general.button.add_to_cart' | t }}
          </add-to-cart>
        </div>
      </div>
    </a>
  {% when 'layout2' %}
    <a href="{{ product.url }}" class="product-card-2">
      {% if variant.compare_at_price > 0 and show_sale %}
        {% assign variant_price = variant.price | times: 1.0 %}
        {% assign discount_variant =  variant.compare_at_price | times: 1.0 | minus: variant_price | divided_by: variant.compare_at_price | times: 100.0 | round | remove: '.0' | append: '% save'  %}
        {% render 'sale', discount_variant: discount_variant %}
      {% endif %}

      {% if tag %}
        <span class="tag">{{ tag }}</span>
      {% endif %}

      <div class="product__image">
        {% if product.featured_media != nil %}
          <img srcset="{%- if product.featured_media.width >= 375 -%}{{ product.featured_media | img_url: '375x' }} 375w,{%- endif -%}
            {%- if product.featured_media.width >= 400 -%}{{ product.featured_media | img_url: '400x' }} 400w,{%- endif -%}
            {%- if product.featured_media.width >= 500 -%}{{ product.featured_media | img_url: '500x' }} 500w,{%- endif -%}
            {%- if product.featured_media.width >= 600 -%}{{ product.featured_media | img_url: '600x' }} 600w,{%- endif -%}
            {%- if product.featured_media.width >= 700 -%}{{ product.featured_media | img_url: '700x' }} 700w,{%- endif -%}
            {%- if product.featured_media.width >= 800 -%}{{ product.featured_media | img_url: '800x' }} 800w{%- endif -%}
            {%- if product.featured_media.width >= 900 -%}{{ product.featured_media | img_url: '900x' }} 900w{%- endif -%}
            {%- if product.featured_media.width >= 1000 -%}{{ product.featured_media | img_url: '1000x' }} 1000w{%- endif -%}
            {%- if product.featured_media.width >= 1100 -%}{{ product.featured_media | img_url: '1100x' }} 1100w{%- endif -%}
            {%- if product.featured_media.width >= 1200 -%}{{ product.featured_media | img_url: '1200x' }} 1200w{%- endif -%}
            {%- if product.featured_media.width >= 1300 -%}{{ product.featured_media | img_url: '1300x' }} 1300w{%- endif -%}
            {%- if product.featured_media.width >= 1400 -%}{{ product.featured_media | img_url: '1400x' }} 1400w{%- endif -%}
            {%- if product.featured_media.width >= 1500 -%}{{ product.featured_media | img_url: '1500x' }} 1500w{%- endif -%}
            {%- if product.featured_media.width >= 1600 -%}{{ product.featured_media | img_url: '1600x' }} 1600w{%- endif -%}
            {%- if product.featured_media.width >= 1700 -%}{{ product.featured_media | img_url: '1700x' }} 1700w{%- endif -%}
            {%- if product.featured_media.width >= 1800 -%}{{ product.featured_media | img_url: '1920x' }} 1920w{%- endif -%}
            {%- if product.featured_media.width >= 1900 -%}{{ product.featured_media | img_url: '1920x' }} 1920w{%- endif -%}
            {%- if product.featured_media.width >= 2000 -%}{{ product.featured_media | img_url: '2000x' }} 2000w{%- endif -%}
            {%- if product.featured_media.width >= 2800 -%}{{ product.featured_media | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ product.featured_media | img_url: '2800x' }}"
            sizes="100vw"
            alt="{{ product.featured_media.alt | escape }}"
            loading="lazy"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
            class="product-card__image--first"
          >
          {% if product.images[1] != blank %}
            <img srcset="{%- if product.images[1].width >= 375 -%}{{ product.images[1] | img_url: '375x' }} 375w,{%- endif -%}
                {%- if product.images[1].width >= 400 -%}{{ product.images[1] | img_url: '400x' }} 400w,{%- endif -%}
                {%- if product.images[1].width >= 500 -%}{{ product.images[1] | img_url: '500x' }} 500w,{%- endif -%}
                {%- if product.images[1].width >= 600 -%}{{ product.images[1] | img_url: '600x' }} 600w,{%- endif -%}
                {%- if product.images[1].width >= 700 -%}{{ product.images[1] | img_url: '700x' }} 700w,{%- endif -%}
                {%- if product.images[1].width >= 800 -%}{{ product.images[1] | img_url: '800x' }} 800w{%- endif -%}
                {%- if product.images[1].width >= 900 -%}{{ product.images[1] | img_url: '900x' }} 900w,{%- endif -%}
                {%- if product.images[1].width >= 1000 -%}{{ product.images[1] | img_url: '1000x' }} 1000w,{%- endif -%}
                {%- if product.images[1].width >= 1100 -%}{{ product.images[1] | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if product.images[1].width >= 1200 -%}{{ product.images[1] | img_url: '1200x' }} 1200w,{%- endif -%}
                {%- if product.images[1].width >= 1300 -%}{{ product.images[1] | img_url: '1300x' }} 1300w,{%- endif -%}
                {%- if product.images[1].width >= 1400 -%}{{ product.images[1] | img_url: '1400x' }} 1400w,{%- endif -%}
                {%- if product.images[1].width >= 1500 -%}{{ product.images[1] | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if product.images[1].width >= 1500 -%}{{ product.images[1] | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if product.images[1].width >= 1600 -%}{{ product.images[1] | img_url: '1600x' }} 1600w,{%- endif -%}
                {%- if product.images[1].width >= 1700 -%}{{ product.images[1] | img_url: '1700x' }} 1700w,{%- endif -%}
                {%- if product.images[1].width >= 1800 -%}{{ product.images[1] | img_url: '1920x' }} 1920w,{%- endif -%}
                {%- if product.images[1].width >= 1900 -%}{{ product.images[1] | img_url: '1920x' }} 1920w,{%- endif -%}
                {%- if product.images[1].width >= 2000 -%}{{ product.images[1] | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if product.images[1].width >= 2800 -%}{{ product.images[1] | img_url: '2800x' }} 2800w,{%- endif -%}"
                src="{{ product.images[1] | img_url: '500x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.images[1].alt | escape }}"
                loading="lazy"
                width="{{ product.images[1].width }}"
                height="{{ product.images[1].height }}"
                class="product-card__img--second"
            >
          {% endif %}
        {% else %}
          {{ 'product-' | append: index | placeholder_svg_tag }}
        {% endif %}
      </div>

      <div class="product-card__button">
        <add-to-cart
          class="btn btn--is-hover-shadow add-to-cart js"
          data-variant-id="{{ variant.id }}"
          data-quantity="1"
        >
          {{ 'general.button.add_to_cart' | t }}
        </add-to-cart>
      </div>

      <div class="product-card__bottom xo-d-flex xo-justify-content-center xo-align-items-center xo-flex-column">
        {% if product == blank %}
          {% assign title = 'Product title' %}
          {% assign weight = 'Red' %}
          {% assign price = 19000 %}
        {% else %}
          {% assign title = product.title %}
          {% assign weight = variant.weight %}
          {% assign price = variant.price %}
        {% endif %}

        <div class="product__title h4 text-center">{{ title }}</div>
        <div class="product__price">
          <span class="variant__option">{{ weight | weight_with_unit }}</span>
          <span>-</span>
          {% if variant.compare_at_price > 0 %}
            <del>{{ variant.compare_at_price | money }}</del>
          {% endif %}
          <span class="variant__price">{{ price | money }}</span>
        </div> 
      </div>
    </a>
{% endcase %}