.category {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;

  @include responsive(LG) {
    &::before {
      display: none !important;
    }
  }
}

.category, .category__content {
  height: 67.5rem;
  @include responsive(MD) { height: 80rem }
  @include responsive(LG) { height: 110rem }
}

/*
* Content
*/
.category__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.category__box {
  background-color: var(--color-base-primary-accent-1);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2.5rem;

  padding: 3.2rem 4rem;
  margin: 4rem 1.2rem;

  max-width: 56.6rem;

  @include responsive(LG) {
    padding: 5rem 6.4rem 6rem;
    margin: 20.2rem 0;
  }

  .category__text {
    h3 {
      line-height: 132%;
      letter-spacing: 0.004em;
      font-weight: 400;

      @include responsive(LG) { line-height: 136% }
    }

    & + .category__buttons {
      margin-top: 4rem;
      @include responsive(LG) { margin-top: 5.6rem }
    }
  }

  .category__buttons + .category__text {
    margin-top: 4rem;
    @include responsive(LG) { margin-top: 5.6rem }
  }
}