{% assign image_desktop = section.settings.image_desktop %}
{% assign image_mobile = section.settings.image_mobile %}

<div class="category">
  <!-- Image  -->
  {% render 'background-image', image_desktop: image_desktop, image_mobile: image_mobile %}

  <!-- Content  -->
  <div class="xo-container category__content">
    <div class="category__box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'text' -%}
            <div class="category__text">
              <h3>{{ block.settings.text | escape }}</h3>
            </div>
          {%- when 'buttons' -%}
            <div class="category__buttons">
              {%- if block.settings.button_label != blank -%}
                <a href="{{ block.settings.button_link }}" class="btn btn--is-secondary">{{ block.settings.button_label | escape }}</a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>

  .category__content h3 {
    color: var(--color-base-secondary-accent-3) !important;
  }

  @media only screen and (min-width: 768px) {
    .category__content {
      align-items: {{ section.settings.text_box_position }};
    }
  }
</style>
