.map-contact-us {
  position: relative;
  height: calc(100vh - 80px);

  .google-map {
    width: 100%;
    height: 50%;
    border-radius: 25px;

    @include responsive(LG) {
      height: 100%;
    }
  }
}

.map__our-store {
  text-align: center;

  .heading {
    margin-bottom: 1.2rem;
  }

  .map-addresses {
    margin-top: 3.2rem;
  }

  @include responsive(LG) {
    position: absolute;
    top: 6rem;
    left: 6rem;
    z-index: 999;

    max-width: 46rem;

    padding: 7rem;
    background-color: var(--color-base-secondary-accent-1);
    border-radius: 25px;
    box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.4);
    text-align: left;
  }
}

.map-address__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  border-radius: 1.2rem;

  padding: 1.6rem 2rem;
  margin-bottom: 10px;

  background-color: var(--color-base-secondary-accent-3);
  transition: all .3s ease;

  .item__pin {
    width: 5rem;
    height: 3.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-base-secondary-accent-1);
    margin-right: 1rem;
  }

  &.is-active {
    background-color: var(--color-base-primary-accent-1);
    .item__pin {
      background-color: var(--color-base-secondary-accent-3);
      path {
        fill: var(--color-base-primary-accent-1);
      }
    }
    .item__address {
      color: #fff;
    }
  }

  &:hover {
    @extend .map-address__item.is-active
  }
}

// Form

.form-contact-us {
  border-radius: 3.5rem;

  padding-top: 6rem;
  padding-bottom: 6rem;
  @include responsive(LG) {
    padding: 7.5rem 12rem;
  }
}

.contact-us__form {
  padding-bottom: 5rem;
  @include responsive(LG) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  form {
    margin-top: 4rem;

    @include responsive(LG) {
      margin-top: 5rem;
    }
  }


  .form__message {
    background-color: var(--color-base-secondary-accent-2);
    border-radius: 1rem;
    padding: 1.5rem;

    display: inline-flex;
    align-items: center;
    margin-bottom: 3.5rem;

    .icon {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1.4rem;
      flex-shrink: 0;

      border-radius: 50%;
      background-color: var(--color-base-primary-accent-1);
    }
  }

  .contact__button {
    margin-top: 3rem;

    @include responsive(LG) {
      margin-top: 5rem;
    }
  }
  .field {
    margin-bottom: 1.2rem;
    input {
      width: 100%;
      height: 5.6rem;
      border-radius: 2.8rem;
      overflow: hidden;

      padding: 0 2.8rem;
      // color: var(--color-base-primary-accent-3);
      transition: all .3s ease;

      border: none;
      outline: none;

      &:focus {
        // color: var(--color-base-primary-accent-2);
        box-shadow: 0px 8px 55px -10px rgba(241, 92, 7, 0.4);
      }

      &::placeholder {
        color: var(--color-base-primary-accent-3);
      }
    }

    label {
      display: none;
    }

    textarea {
      height: 12rem;
      width: 100%;
      border-radius: 2.8rem;
      outline: none;
      border: none;

      padding: 1.6rem 2.8rem;

      &::placeholder {
        color: var(--color-base-primary-accent-3);
      }
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  border-top: 1px dashed color(base-primary-accent-3);

  @include responsive(LG) {
    border-top: none;
    border-left: 1px dashed color(base-primary-accent-3);
    padding-left: 4rem;
    padding-top: 0;
  }

  @include responsive(XL) {
    padding-left: 6rem;
  }
}

.contact-info__group {
  margin-bottom: 3.6rem;
  .group__title {
    color: var(--color-base-primary-accent-3);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .info-item {
    display: flex ;
    align-items: center;

    margin-bottom: 1rem;
    .icon {
      width: 3.6rem;
      height: 3.6rem;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: var(--color-base-primary-accent-1);
      flex-shrink: 0;
    }
  }
}

/*
* Style 2
*/
.form-contact-us-2 {
  .field {
    input, textarea {
      &::placeholder {
        color: #E9A1AA !important;
      }
    }
  }
}