.collection-list-template {
  margin-bottom: 10rem;
  @include responsive(LG) {
    margin-bottom: 17rem;
  }
}

/*
* Heading
*/
.collection-list-template__heading {
  margin: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(LG) { margin: 13rem 0 8rem }

  h1 {
    font-size: 3rem;
    line-height: 116%;
    margin: 0;
    @include responsive(LG) { font-size: 5.8rem }
  }
}

.collection-list__item {
  margin-bottom: 2.5rem;
}

.collection-list__item-card {
  overflow: hidden;
  border-radius: 2.5rem;
  box-shadow: 0px 10px 70px -10px rgba(112, 33, 0, 0.15);

  display: block;
  transition: box-shadow .3s ease;

  position: relative;

  &:hover {
    box-shadow: 0px 50px 120px -10px rgba(139, 95, 76, 0.33);
  }
}

/*
* Image
*/
.collection-list__image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.collection-list__title {
  @include box(100%, 10.9rem);

  background-color: color(base-secondary-accent-3);
  
  position: absolute;
  bottom: 0;

  transition: all .3s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 3rem;
    line-height: 136%;

    text-align: center;

    color: color(base-primary-accent-2);
  }
}

.collection-list-template {
  .xo-col-lg-6 .collection-list__title {
    @include responsive(LG) {
      height: 13rem;
    }
  }
  .xo-col-lg-3 .collection-list__title {
    @include responsive(LG) {
      height: 8rem;
      h3 { font-size: 2.4rem }
    }
  }
}