{% case section.settings.collections_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-12 xo-col-md-6 xo-col-lg-3'%}
{% endcase %}

{%- paginate collections by section.settings.collection_per_page -%}
<div class="collection-list-template">
  <div class="collection-list-wrapper xo-container">
    <!-- Heading  -->
    <div class="collection-list-template__heading xo-col-12">
      <h1 class="h2">{{ section.settings.title | escape }}</h1>
    </div>

    {%- liquid
      case section.settings.sort
        when 'products_high' or 'products_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date' or 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase

      if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif
    -%}

    <!-- List collection  -->
    <ul class="collection-list xo-row">
      {%- for collection in collections -%}
        <li class="collection-list__item {{ gridClassName }}">
          <a{% if collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}>

            <div class="collection-list__item-card">
              {% capture placeholder_image %}{% cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' %}{% endcapture %}
              <!-- Image  -->

              <div class="collection-list__image">
                {%- if collection.image != blank -%}
                  <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
                    src="{{ collection.image | img_url: '533x' }}"
                    sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                    alt="{{ collection.title | escape }}"
                    height="{{ collection.image.height }}"
                    width="{{ collection.image.width }}"
                    loading="lazy"
                  >
                {%- elsif collection.products.first != blank -%}
                  <img srcset="{%- if collection.products.first.width >= 165 -%}{{ collection.products.first | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if collection.products.first.width >= 360 -%}{{ collection.products.first | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if collection.products.first.width >= 535 -%}{{ collection.products.first | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if collection.products.first.width >= 720 -%}{{ collection.products.first | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if collection.products.first.width >= 940 -%}{{ collection.products.first | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if collection.products.first.width >= 1070 -%}{{ collection.products.first | img_url: '1070x' }} 1070w{%- endif -%}"
                    src="{{ collection.products.first | img_url: '533x' }}"
                    sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                    alt="{{ collection.title | escape }}"
                    height="{{ collection.products.first.height }}"
                    width="{{ collection.products.first.width }}"
                    loading="lazy"
                  >
                {%- else -%}
                  {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>

              <!-- Title  -->
              <h2 class="collection-list__title h3">{{ collection.title }}</h2>

            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>

  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {% else %}
    <style>
      .main-blog {
        margin-bottom: 100px;
      }

      @media only screen and (min-width: 768px) {
        .main-blog {
          margin-bottom: 180px;
        }
      }
    </style>
  {%- endif -%}
</div>

{%- endpaginate -%}
