{%- comment -%}
  TODO: update shop logo, shop social network to json ld below
{%- endcomment -%}

<!--
  JSON-LD data generate by XO
  @type Website
-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Website",
    "url": "{{ shop.url }}",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ shop.url }}/search?q={query}",
    "query-input": "required name=query"
    }
  }
</script>

<!--
  JSON-LD data generate by XO
  @type Organization
-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Store",
    "name": "{{shop.name}}",
    "url": "{{shop.url}}",
    "description": "{{shop.description}}",
    "logo": "{{ settings.favicon | img_url: '32x32' }}",
    "image": "{{ settings.favicon | img_url: '32x32' }}",
    "sameAs": [
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tiktok_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{shop.address.street}}",
        "addressLocality": "{{shop.address.country}}",
        "postalCode": "{{shop.address.zip}}",
        "addressCountry": "{{shop.address.country}}"
    },
    "telephone": "{{shop.phone}}"
  }
</script>
