.register {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .customer-form-wraper {
    @include responsive(LG) {
      @include box(59rem, 66rem);
    }
  }

  .customer__text {
    display: none;
    @include responsive(LG) {
      display: block;
      margin-top: 4.4rem;
    }
  }

  .customer__btn {
    margin-top: 3.6rem;
    @include responsive(LG) { margin-top: 2.8rem }
  }
}
