{% assign image_desktop = section.settings.image_desktop %}

<div class="customer register 
{% if settings.theme_layout == 'layout2' %} customer-2 {% endif %}
{% if settings.theme_layout == 'layout3' %} customer-3 {% endif %}
">
  <!-- Image  -->
  <div class="background__img background__img-desktop">
    {% if image_desktop != blank %}
      <img srcset="{%- if image_desktop.width >= 375 -%}{{ image_desktop | img_url: '375x' }} 375w,{%- endif -%}
            {%- if image_desktop.width >= 750 -%}{{ image_desktop | img_url: '750x' }} 750w,{%- endif -%}
            {%- if image_desktop.width >= 1100 -%}{{ image_desktop | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if image_desktop.width >= 1500 -%}{{ image_desktop | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if image_desktop.width >= 1780 -%}{{ image_desktop | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if image_desktop.width >= 2000 -%}{{ image_desktop | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if image_desktop.width >= 2800 -%}{{ image_desktop | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ image_desktop | img_url: '1100x1100' }}"
            loading="lazy"
            alt="{{ image_desktop.alt | escape }}"
            width="{{ image_desktop.width }}"
            height="{{ image_desktop.width  }}"
          >
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <div class="customer-back">
    <a href="{{ shop.url }}">
      {% render 'icon-arrow-left' %}
      <span>{{ 'sections.header.go_back' | t }}</span>
    </a>
  </div>

  <div class="customer-container xo-container">

    <div class="customer-form-wraper">
      <!-- Heading -->
      <div class="customer-return">
        <a href="{{ shop.url }}" class="customer-return__text">
          {% render 'icon-prev' %}
          <span>{{ 'customer.register.back' | t }}</span>
        </a>
        <a href="{{ routes.account_login_url }}" class="customer-return-login">
          <h3>{{ 'customer.login_page.title' | t }}</h3>
        </a>
      </div>

      <div class="customer__heading">
        <h1 class="h2 customer__title text-center">{{ 'customer.register.title' | t }}</h1>
      </div>

      <!-- Content -->
      {% form 'create_customer', class: 'register-form' %}
        {%- comment -%} Error form {%- endcomment -%}
        {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        <div class="customer-form__item">
          <input
              type="text"
              placeholder="{{ 'customer.register.first_name' | t }}"
              value=""
              name="customer[first_name]"
              required />
        </div>

        <div class="customer-form__item">
          <input
              type="text"
              placeholder="{{ 'customer.register.last_name' | t }}"
              value=""
              name="customer[last_name]"
              required
          />
        </div>

        <div class="customer-form__item">
          <input
              type="text"
              name="customer[email]"
              required
              placeholder="{{ 'customer.register.email' | t }}"
          >
        </div>

        <div class="customer-form__item">
          <input
              type="password"
              name="customer[password]"
              required
              placeholder="{{ 'customer.register.password' | t }}"
          >
        </div>

        <div class="customer__btn">
          <button type="submit" class="btn btn--is-hover-shadow btn--is-fullwidth btn--is-large">{{ 'customer.register.submit' | t }}</button>
        </div>

        <div class="customer__text text-center">
          <span>{{ 'customer.login_page.account' | t }}</span>
          <a href="/account/login" class="text--link">{{ 'customer.login_page.title' | t }}</a>
        </div>
      {% endform %}

    </div>

  </div>
</div>

<style>
  .customer {
    background: {{ section.settings.background }};
  }
  .customer-form__item input,
  .customer-form__item input:focus,
  .customer__title,
  .customer__text a,
  .customer__text span,
  .login-recover-form {
    color: {{ section.settings.text }};
  }

  .customer__text a::before,
  .customer__text a::after,
  .customer__text span::before,
  .customer__text span::after {
    border: solid 2px {{ section.settings.text }};
    border-color: {{ section.settings.text }} transparent transparent transparent;
  }

  @media screen and (min-width: 992px ) {
    .customer {
      background: unset;
    }
    .customer-form-wraper {
      background: {{ section.settings.background }};
    }
  }
</style>
