.collection-template-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  @include responsive(LG) {
    margin-bottom: 12rem;
  }

  .collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .collection__heading {
    max-width: 50rem;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .collection__title {
      // margin-bottom: 0.4rem;
    }
  }


  // Pagination
  .pagination-wrapper {
    margin-top: 6rem;
    margin-bottom: 15rem;
  }
}

#CollectionProduct {
  width: 100%;
}

.facets {
  width: 100%;
}

/*
* Filter
*/
.filter-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  width: 100%;

  @include responsive(MD) {
    justify-content: center;
    flex-direction: row;
  }
}

.filter-toolbar__item {
  width: 100%;

  position: relative;
  margin-bottom: 1.2rem;

  cursor: pointer;
  @include responsive(MD) {
    width: unset;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}


.filter-toolbar-title,
.sort-toolbar-title {
  background: color(base-secondary-accent-1);
  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 48px;
  padding-left: 2.6rem;
  padding-right: 2.1rem;

  cursor: pointer;

  @include responsive(MD) {
    @include box(30rem, 4.8rem);
  }

  p {
    font-size: 1.7rem;
    line-height: 144%;
    font-weight: 700;
  }

  path {
    stroke: var(--color-base-primary-accent-2);
  }
}

.filter-container, .sort-dropdown {
  position: relative;
}

.sort-dropdown {
  margin-bottom: 15px;

  @include responsive(MD) {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.sort-list__content {
  padding: 1.5rem 2.1rem 2.6rem 2.6rem;
  
  @include responsive(MD) {
    padding: 2.6rem 2.1rem 2.6rem 2.6rem;
  }
}

.sort-toolbar__list, .filter-toolbar__list {
  width: 100%;
  position: relative;
  height: 100%;

  svg {
    pointer-events: none;
    position: absolute;
    top: calc(50% - .35rem);
    right: 2.1rem;
  }
}

.facet-radio {
  input[type="radio"] {
    display: none;
  }

  svg {
    background-color: unset !important;
    position: unset !important;
    margin-right: unset !important;
    margin-left: auto;
    display: none;
  }

  input[type="radio"]:checked + svg {
    display: inline-block;
  }
}

.filter-icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: var(--color-base-secondary-accent-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// Filter 
.facets__wrapper, .sort-toolbar__list {
  background: color(base-primary-accent-1);
  width:  100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 55vh;
  overflow: hidden;
  visibility: hidden;
  transition: all .25s linear;
  transform: translateY(110%);
  z-index: 9999;

  &.is-active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    @include responsive(MD) {
      transform: unset;
      max-height: 500px;
      opacity: unset;
      visibility: unset;
    }
  }

  @include responsive(MD) {
    width: 300px;
    position: absolute;
    transform: unset;
    top: 100%;
    bottom: unset;
    right: unset;
    left: unset;
    border-radius: 1.5rem;
    max-height: 0;
    padding-bottom: 0;
    height: auto;
    overflow: hidden;
    z-index: 9998;
    opacity: unset;
    visibility: unset;
    transition: all .3s ease-in-out;
  }

  .list-menu__item:not(:first-child) {
    margin-top: 5px;
  }
}

.sort-toolbar__list { 
  &.is-active {
    transform: translateY(0);

    @include responsive(MD) {
      max-height: 320px;
    }
  }

  @include responsive(MD) {
    max-height: 0;
    height: auto;
  }

  .list-menu__item:not(:first-child) {
    margin-top: 10px;

    @include responsive(MD) {
      margin-top: 5px;
    }
  }
}

.facets__wrapper-content {
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
  
  @include responsive(MD) {
    max-height: 500px;
  }
}

.facets__summary {
  color: color(base-secondary-accent-3);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.facets__selected {
  font-size: 1.5rem;
  font-weight: 500;
  word-break: break-word;
  color: color(base-secondary-accent-3);
  margin-bottom: 14px;
  display: block;
}

.field__currency {
  font-size: 1.7rem;
  font-weight: 500;
  color: color(base-secondary-accent-3);
}

.facet-checkbox {
  font-size: 1.7rem;
  font-weight: 500;
  word-break: break-word;
  color: color(base-secondary-accent-3);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;

  .icon-checkmark {
    visibility: hidden;
    position: absolute;
    left: .3rem;
    z-index: 5;
    top: 1rem;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    top: .7rem;
    left: .8rem;
    z-index: -1;
    appearance: none;
    -webkit-appearance: none;

    &:checked ~ .icon-checkmark {
      visibility: visible;
    }
  }

  & > svg {
    background-color: color(base-secondary-accent-3);
    margin-right: 1.2rem;
    flex-shrink: 0;
  }
}

.facets__price {
  display: flex;
  
  .field {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .field__input {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-base-primary-accent-3);
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 10px;
    height: 40px;
    width: 103px;
    margin-left: 2px;
  }

  ::placeholder {
    color: var(--color-base-primary-accent-3);
  }
}

.disclosure-has-popup {
  padding: 2.6rem 2.6rem 0;
  width: 100%;

  &:not(:first-child) {
    padding-top: 30px;
  } 

  &:first-child {
    padding-top: 0;

    @include responsive(MD) {
      padding-top: 2.6rem;
    }
  }

  &:last-child {
    padding-bottom: 0;
  
    @include responsive(MD) {
      padding-bottom: 2.6rem;
    }
  }
}

.filter-close, .sort-close {
  color: color(base-secondary-accent-3);
  font-size: 35px;
  cursor: pointer;
  text-align: right;
  padding-right: 2.1rem;

  @include responsive(MD) {
    display: none;
  }
}

.loading-overlay {
  position: absolute;
  z-index: 1;
  width: 3rem;
  border-radius: 2.5rem;
}

@media screen and (max-width: 749px) {
  .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .loading-overlay {
    left: 0;
  }
}

.loading-overlay__spinner {
  width: 3rem;
  display: inline-block;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #000;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.collection-result {
  position: relative;
}

.collection-result .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 5rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.collection-result.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-overlay {
    display: flex;
    justify-content: center;
  }
}

.filter-overlay {
  display: none;

  &.is-active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9995;
  }
}

.product-item {
  margin-bottom: 5.5rem;
}

// filter-tag 
.filter-tag {
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    padding: 10px 20px;
    background-color: var(--color-base-secondary-accent-3);
    border: 1px solid var(--color-base-secondary-accent-1);
    box-sizing: border-box;
    border-radius: 32.5px;
    margin: 0 7px 7px;
    transition: all .2s ease-in-out;

    &.is-active {
      background-color: var(--color-base-primary-accent-1);
      color: var(--color-base-secondary-accent-3);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    }
  }

  @include responsive(MD) {
    a {
      margin: 0 5px 10px;
    }
  }
}