{% case section.settings.products_per_row %}
  {% when 2 %}
    {% assign gridClassName = 'xo-col-lg-6'%}
  {% when 3 %}
    {% assign gridClassName = 'xo-col-lg-4'%}
  {% when 4 %}
    {% assign gridClassName = 'xo-col-lg-3'%}
  {% else %}
    {% assign gridClassName = 'xo-col-lg-3'%}
{% endcase %}

{% assign filtering = true %}

{% if section.settings.tags_enable == false and section.settings.sort_enable == false %}
  {% assign filtering = false %}
{% endif %}

<div class="collection-template-container xo-container">
  <div class="collection">
    <!-- Heading  -->
    <div class="collection__heading text-center">
      <h2 class="collection__title">{{ collection.title }}</h2>

      {% if collection.description != blank  %}
        <p class="collection__description" style="margin-top: 2rem;">{{ collection.description }}</p>
      {% endif %}
    </div>

    {% if section.settings.tag_enable %}
      <div class="filter-tag">
        <a class="filter-tag__item" href="{{ collection.url }}">All</a>

        {% for block in section.blocks %} 
          <a class="filter-tag__item" href="{{ collection.url }}/{{ block.settings.title | downcase}}">{{ block.settings.title }}</a>
        {% endfor %}
      </div>
    {% endif %}

    {% if filtering %}
      <collection-filters-form class="facets">
        <form id="CollectionFiltersForm" class="facets__form">
          <div class="filter-toolbar">

            <!-- Sorting -->
            {% if section.settings.sort_enable %}
              <div class="sort-dropdown">
                <div class="sort-toolbar-title">
                  <p>{{ 'sections.collection_template.sort_by_label' | t }}</p>
                  {% render 'icon-dropdown' %}
                </div>

                <div class="sort-toolbar__list">
                  <div class="sort-close">×</div>

                  <ul class="sort-list__content">
                    {%- for option in collection.sort_options -%}
                      <li class="list-menu__item facets__item">
                        <label for="Filter-{{ option.name | escape }}-{{ forloop.index }}" class="facet-checkbox facet-radio">
                          {{ option.name | escape }}

                          <input type="radio"
                            name="sort_by"
                            value="{{ option.value | escape  }}"
                            id="Filter-{{ option.name | escape }}-{{ forloop.index }}"
                            class="sort-input"
                          >
                          {% render 'icon-done' %}
                        </label>
                      </li>    
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {% endif %}
            
            {% if section.settings.tags_enable %}
              <div class="filter-container">
                <div class="filter-toolbar-title">
                  <p>{{ 'sections.collection_template.filter_by_label' | t }}</p>
                  {% render 'icon-dropdown' %}
                </div>
                  
                <div class="facets__wrapper">
                  <div class="filter-close">×</div>
                  
                  <div class="facets__wrapper-content">
                    {%- for filter in collection.filters -%}
                      {% case filter.type %}
                        {% when 'list' %}
                          <div class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                            <div class="facets__summary">{{ filter.label | escape }}</div>
                            <div class="facets__display">

                              <ul class="facets__list list-unstyled" role="list">
                                {%- for value in filter.values -%}
                                  <li class="list-menu__item facets__item">
                                    <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                      <input type="checkbox"
                                        name="{{ value.param_name }}"
                                        value="{{ value.value }}"
                                        id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                        {% if value.active %}checked{% endif %}
                                        {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                      >

                                      <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                        <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                      </svg>

                                      <svg class="icon icon-checkmark"
                                        width="11"
                                        height="7"
                                        viewBox="0 0 11 7"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">

                                        <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                          stroke="currentColor"
                                          stroke-width="1.75"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                      </svg>

                                      </svg>
                                      {{ value.label | escape }} ({{ value.count }})
                                    </label>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </div>
                        {% when 'price_range' %}
                          {% liquid
                            assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                            assign uses_comma_decimals = false
                            if currencies_using_comma_decimals contains cart.currency.iso_code
                              assign uses_comma_decimals = true
                            endif
                          %}
                          <div class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                            <div class="facets__summary">{{ filter.label | escape }}</div>
                            <div class="facets__display">
                              <div class="facets__header">
                                {%- assign max_price_amount = filter.range_max | money | escape -%}
                                <span class="facets__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
                              </div>
                              <price-range class="facets__price">
                                <div class="field">
                                  <span class="field__currency">{{ cart.currency.symbol }}</span>
                                  <input class="field__input"
                                    name="{{ filter.min_value.param_name }}"
                                    id="Filter-{{ filter.label | escape }}-GTE"
                                    {%- if filter.min_value.value -%}
                                      {%- if uses_comma_decimals -%}
                                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                      {%- else -%}
                                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                      {% endif %}
                                    {%- endif -%}
                                    type="number"
                                    placeholder="{{ 'sections.collection_template.from' | t }}"
                                    min="0"
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                                  </input>
                                </div>
                                <div class="field">
                                  <span class="field__currency">{{ cart.currency.symbol }}</span>
                                  <input class="field__input"
                                    name="{{ filter.max_value.param_name }}"
                                    id="Filter-{{ filter.label | escape }}-LTE"
                                    {%- if filter.max_value.value -%}
                                      {%- if uses_comma_decimals -%}
                                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                      {%- else -%}
                                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                      {% endif %}
                                    {%- endif -%}
                                    type="number"
                                    placeholder="{{ 'sections.collection_template.to' | t }}"
                                    min="0"
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                                  </input>
                                </div>
                              </div>
                            </price-range>
                          </div>
                      {% endcase %}
                    {%- endfor -%}
                  </div>
                </div>

              {% if collection.current_vendor or collection.current_type %}
                <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
              {% endif %}
              </div>
            {% endif %}
          </div>   
        </form>

      <div class="filter-overlay"></div>
      </collection-filters-form>
    {% endif %}

    <div id="CollectionProduct">
      {%- paginate collection.products by section.settings.products_per_page -%}
        <div class="collection-result">

          <div class="loading-overlay">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

            <ul
            id="main-collection-product"
            data-id="{{ section.id }}"
          >
            <div class="xo-row">
              {%- for product in collection.products -%}
                <div class="xo-col-12 xo-col-md-6 {{ gridClassName }} product-item">
                  {%
                    render 'product-card',
                    product: product,
                    index: forloop.index,
                    tag: product.tags[0],
                    show_sale: section.settings.show_sale
                  %}
                </div>
              {%- endfor -%}
            </div>
          </ul>

          {%- if paginate.pages > 1 -%}
            {%
              render 'pagination',
              paginate: paginate,
              anchor: '',
              class: ''
            %}
          {%- endif -%}
        </div>
      {%- endpaginate -%}
    </div>
  </div>
</div>

{% javascript %}
class CollectionFiltersForm extends HTMLElement {
  constructor() {
    super();
    this.filterData = [];
    this.onActiveFilterClick = this.onActiveFilterClick.bind(this);

    this.querySelector('form').addEventListener('input', this.onSubmitHandler.bind(this));
    
    window.addEventListener('popstate', this.onHistoryChange.bind(this));
  }

  onSubmitHandler(event) {
    event.preventDefault();
    const formData = new FormData(event.target.closest('form'));
    const searchParams = new URLSearchParams(formData).toString();
    this.renderPage(searchParams, event);
  }

  onActiveFilterClick(event) {
    event.preventDefault();
    this.renderPage(new URL(event.currentTarget.href).searchParams.toString());
  }

  onHistoryChange(event) {
    const searchParams = event.state?.searchParams || '';
    this.renderPage(searchParams, null, false);
  }

  renderPage(searchParams, event, updateURLHash = true) {
    const sections = this.getSections();
    document.getElementById('CollectionProduct').querySelector('.collection-result').classList.add('loading');

    sections.forEach((section) => {
      const url = `${window.location.pathname}?section_id=${section.section}&${searchParams}`;
      const filterDataUrl = element => element.url === url;

      this.filterData.some(filterDataUrl) ?
        this.renderSectionFromCache(filterDataUrl, event) :
        this.renderSectionFromFetch(url, event);
    });

    if (updateURLHash) this.updateURLHash(searchParams);
  }

  renderSectionFromFetch(url, event) {
    fetch(url)
      .then(response => response.text())
      .then((responseText) => {
        const html = responseText;
        this.filterData = [...this.filterData, { html, url }];
        this.renderFilters(html, event);
        this.renderProductGrid(html);
      });
  }

  renderSectionFromCache(filterDataUrl, event) {
    const html = this.filterData.find(filterDataUrl).html;
    this.renderFilters(html, event);
    this.renderProductGrid(html);
  }

  renderProductGrid(html) {
    const innerHTML = new DOMParser()
      .parseFromString(html, 'text/html')
      .getElementById('CollectionProduct').innerHTML;

    document.getElementById('CollectionProduct').innerHTML = innerHTML;
  }

  renderFilters(html, event) {
    const parsedHTML = new DOMParser().parseFromString(html, 'text/html');

    const facetDetailsElements =
      parsedHTML.querySelectorAll('#CollectionFiltersForm .js-filter, #CollectionFiltersFormMobile .js-filter');
    const matchesIndex = (element) => element.dataset.index === event?.target.closest('.js-filter')?.dataset.index
    const facetsToRender = Array.from(facetDetailsElements).filter(element => !matchesIndex(element));

    facetsToRender.forEach((element) => {
      document.querySelector(`.js-filter[data-index="${element.dataset.index}"]`).innerHTML = element.innerHTML;
    });

  }

  updateURLHash(searchParams) {
    history.pushState({ searchParams }, '', `${window.location.pathname}${searchParams && '?'.concat(searchParams)}`);
  }

  getSections() {
    return [
      {
        id: 'main-collection-product',
        section: document.getElementById('main-collection-product').dataset.id,
      }
    ]
  }
}

customElements.define('collection-filters-form', CollectionFiltersForm);

class PriceRange extends HTMLElement {
  constructor() {
    super();
    this.querySelectorAll('input')
      .forEach(element => element.addEventListener('change', this.onRangeChange.bind(this)));

    this.setMinAndMaxValues();
  }

  onRangeChange(event) {
    this.adjustToValidValues(event.currentTarget);
    this.setMinAndMaxValues();
  }

  setMinAndMaxValues() {
    const inputs = this.querySelectorAll('input');
    const minInput = inputs[0];
    const maxInput = inputs[1];
    if (maxInput.value) minInput.setAttribute('max', maxInput.value);
    if (minInput.value) maxInput.setAttribute('min', minInput.value);
    if (minInput.value === '') maxInput.setAttribute('min', 0);
    if (maxInput.value === '') minInput.setAttribute('max', maxInput.getAttribute('max'));
  }

  adjustToValidValues(input) {
    const value = Number(input.value);
    const min = Number(input.getAttribute('min'));
    const max = Number(input.getAttribute('max'));

    if (value < min) input.value = min;
    if (value > max) input.value = max;
  }
}

customElements.define('price-range', PriceRange);
{% endjavascript %}
