.footer-3 {
  background: color(base-primary-accent-1);

  padding-top: 6rem;
  padding-bottom: 5rem;

  @include responsive(MD) {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }

  @include responsive(LG) {
    padding-top: 11.2rem;
    padding-bottom: 9rem;
  }
}

/*
* Newletter
*/
.footer-3 .footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-3 .footer__newsletter-heading {
  margin-bottom: 2.4rem;

  font-size: 24px;
  line-height: 140%;

  text-align: center;
  letter-spacing: 0.004em;

  color: color(base-secondary-accent-1);

  @include responsive(MD) {
    font-size: 4rem;
    line-height: 136%;
    letter-spacing: -0.008em;

    max-width: 61.8rem;
    margin-bottom: 4.51rem;
  }
}
/*
* Form
*/
.footer-3 .footer__newsletter-form {
  position: relative;
  width: 100%;

  @include responsive(LG) { 
    margin-top: 2.9rem;
    max-width: 49rem
  }

  input{
    @include box(100%, 5.4rem);
    border-radius: 2.7rem;
    border: none;
    padding-left: 3.2rem;
    padding-right: 6rem;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 146%;

    color: color(base-primary-accent-1);

    @include responsive(LG) { 
      @include box(100%, 6rem);
      font-size: 1.9rem; 
      padding-right: 19rem;
    }
  }

  ::placeholder {
    color: #7B8E84;
  }

  button {
    background-color: color(base-primary-accent-2);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-form__btn-icon {
    border-radius: 0.5rem;
  
    @include box(4.8rem, 4.8rem);
  
    @include responsive(LG) { display: none }
  
    svg { @include box(2rem, 2rem) }
    line, path { stroke: color(base-background) }
  }

  .footer-form__btn-label {
    @include responsive(LG) { display: flex }

    display: none;
    justify-content: center;
    align-items: center;

    background-color: color(base-primary-accent-2);

    border: none;

    position: absolute;
    right: 0.4rem;
    top: 0.3rem;

    transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

    outline: none;

    @include box(14rem, 4.8rem);

    border-radius: var(--border-radius-button);

    @include responsive(LG) {
      @include box(17rem, 5.2rem);
      top: 0.4rem;
    }

    &:hover svg {
      opacity: 1;
      right: -2.5rem;

      @include responsive(LG) {
        right: -3rem;
      }
    }
    &:hover span {
      transform: translate3d(-1.3rem, 0, 0);
    }

    span {
      display: inline-block;
      position: relative;
      transition: all 300ms ease-out;
      will-change: transform;

      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0.004em;
      color: color(base-background);
    }
  
    svg {
      position: absolute;
      right: 0rem;
      top: 50%;

      opacity: 0;

      transform: translateY(-50%);
      transition: all 300ms ease-out;
      will-change: right, opacity;

      @include box(2rem, 2rem);
      
      line, path { stroke: color(base-background) }
    }
  }
}

/*
* Heading
*/
.footer-3 .footer__heading{
  margin-top: 8.73rem;

  @include responsive(LG) {
    margin-top: 14rem;
  }

  .footer-main {
    @include responsive(LG) {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer__logo{
    svg {
      fill: #fff;
      background: #333;
      width: 100px;
      height: 50px;
    }
  }

  .footer__info{
    margin-top: 1.3rem;
    margin-bottom: 2rem;

    @include responsive(LG) {
      margin-top: 0.36rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 144%;
      color: color(base-secondary-accent-1);
      
      padding: 0.33rem 0;

      @include responsive(LG) {
        font-size: 1.6rem;
      }
    }
  }
}

/*
* Social
*/
.footer-3 .footer-social {
  svg {
    @include box(2.2rem, 2.2rem);
  }
  .footer-social__list {
    display: flex;
    @include responsive(LG) { width: fit-content }
  }
  
  .footer-social__item {
    border-radius: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-right: 2rem;
  
    transition: all .3s ease;
  
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    svg { fill: color(base-secondary-accent-1) }
  }
}

/*
* Content
*/
.footer-3 .footer-content {
  padding-top: 5rem;

  @include responsive(LG) {
    padding-top: 3rem;
  }
}

/*
* Menu
*/
.footer-3 .footer-menu {
  margin-bottom: 3.2rem;

  @include responsive(LG) {
    margin-bottom: 0;
  }

  .xo-row {
    display: flex;
  }

  .footer-menu__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 128%;
    letter-spacing: 0.004em;

    color: color(base-secondary-accent-1);

    margin-bottom: 2rem;

    // @include responsive(LG) {
    //   font-size: 2.2rem;
    //   margin-bottom: 1.9rem;
    // }
  }

  .footer-menu__list {
    display: flex;
    flex-direction: column;
  }

  .footer-menu__item {
    padding: 0.35rem 0;

    @include responsive(MD) {
      padding: 0.28rem 0;
    }
  }

  .footer-menu-link {
    span {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 144%;

      color: #91A89B;
    }
  }
}