{% assign image_desktop = section.settings.image_desktop %}
{% assign image_mobile = section.settings.image_mobile %}

<div class="invitation {% if section.settings.full == false %} xo-container invitation-no-full{% endif %}">
  <!-- Image  -->
  {% render 'background-image', image_desktop: image_desktop, image_mobile: image_mobile %}

  <!-- Content  -->
  <div class="xo-container invitation__content">
    <div
      class="invitation__box {% if section.settings.box %} invitation__box-active {% endif %}"
      {% if section.settings.box %}style="background: {{ section.settings.box_bg }};"{% endif %}
    >
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'text' -%}
            <div class="invitation__text">
              <h3 style="color: {{ block.settings.color_heading }};">{{ block.settings.heading | escape }}</h3>
              <p style="color: {{ block.settings.color_subheading }};">{{ block.settings.subheading | escape }}</p>
            </div>
          {%- when 'buttons' -%}
            <div class="invitation__buttons">
              {%- if block.settings.button_label != blank -%}
                {% if block.settings.button_type == 'text' %}
                  {% assign color = block.settings.color_text_btn %}
                  <a
                    href="{{ block.settings.button_link }}"
                    class="text--link"
                    style="color: {{ block.settings.color_text_btn }};"
                  >{{ block.settings.button_label | escape }}</a>
                {% else %}
                  <a
                    href="{{ block.settings.button_link }}"
                    class="btn"
                    style="background: {{ block.settings.color_bg_btn }}; color: {{block.settings.color_text_btn}}; border: 1px solid {{ block.settings.color_bg_btn }}"
                  >{{ block.settings.button_label | escape }}</a>
                {% endif %}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style scoped>
  .invitation.xo-container .background__img img,
  .invitation.xo-container .background__img svg {
    border-radius: 25px;
  }

  @media only screen and (min-width: 768px) {
    .invitation__content {
      align-items: {{ section.settings.text_box_position }};
    }
  }
</style>