.invitation {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;

  @include responsive(LG) {
    &::before {
      display: none !important;
    }
  }
}

.invitation, .invitation__content {
  height: 67.5rem;
  @include responsive(MD) { height: 80rem }
}

.invitation.invitation-no-full {
  @include responsive(LG) {
    height: 57.5rem;
    .background__img-desktop img {
      border-radius: 4rem;
    }
  }

  @media screen and (min-width: 1400px) {
    max-width: unset;
    width: 90%;  
    margin: 0 auto;
  }

  .invitation__content {
    @include responsive(LG) {
      height: 57.5rem;
      padding-left: 9rem;
    }

    @media screen and (min-width: 1400px) {
      padding-left: 25px;
    }
  }
}

/*
* Content
*/
.invitation__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.invitation__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin: 6rem 0;

  max-width: 56.6rem;

  @include responsive(LG) {
    margin-top: 10.4rem;
  }

  &.invitation__box-active {
    border-radius: 2.5rem;

    padding: 3.2rem 4rem;
    margin: 4rem 1.2rem;

    @include responsive(LG) {
      padding: 5rem 6.4rem 6rem;
      margin: 20.2rem 0;
    }

    .invitation__text h3 {
      font-size: 2.2rem;
      @include responsive(LG) { 
        font-size: 3rem;
        max-width: 43.7rem;
      }
    }
  }

  .invitation__text {
    h3 {
      font-size: 2.6rem;
      max-width: 80%;
      @include responsive(LG) { 
        font-size: 4.4rem;
        max-width: 48rem;
      }
    }

    p {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 146%;

      margin-top: 1.2rem;
      max-width: 85%;

      @include responsive(MD) {
        margin-top: 2rem;
        max-width: 40rem;
      }
    }

    & + .invitation__buttons {
      margin-top: 2.4rem;
      @include responsive(MD) { margin-top: 4rem }
    }
  }
}